@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
.root {
  @include flexAlign(center, space-between);
  flex: 1;
  height: fit-content;
  padding: 10px 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $neutralGray1;
  z-index: 101;

  @include viewportLarge {
    height: 81px;
  }

  &.bottomLine {
    border-bottom: 1px solid $neutralGray5;
  }

  .headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .profileMenuContent {
      width: 200px;
      padding: 20px 0;
    }

    .iconBell {
      margin-right: 15px;
    }

    .profileMenuWrapper {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 10px;
        background-color: $primaryPri2;
        color: $neutralGray1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .displayName {
        margin-right: 11.5px;
      }
    }
  }
}
