@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  @include flexAlign(center, space-between);
  flex: 1;
  height: fit-content;
  padding: 20px 16px;
  width: 100%;
  top: 0;
  left: 0;

  background-color: $neutralGray1;
  z-index: 101;

  @include viewportLarge {
    height: 81px;
    padding: 10px 80px;
  }

  &.bottomLine {
    border-bottom: 1px solid $neutralGray5;
  }

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 40px;
    .logo {
      width: 68.14px;
      height: 36px;
    }
    .headerLinks {
      display: flex;
      gap: 24px;
      .headerLink {
        color: $neutralGray7;
        font-weight: $fontWeightBold;
        font-size: 16px;
        position: relative;
        padding: 10px 0;
        @include linkHover;
      }
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .headerPhoneNumber {
      font-size: 16px;
      font-weight: $fontWeightBold;
      color: $neutralGray7;
    }

    .separator {
      margin: 0 28px;
      width: 1px;
      height: 32px;
      background-color: $neutralGray3;
    }

    .profileMenuContent {
      width: 268px;
      border-radius: 10px;

      .menuItem {
        @include flexAlign(center);
        gap: 8px;
      }

      .text {
        @include textTemplate(14px, 400, 24px);
      }
      .subText {
        @include textTemplate(12px, 400, 16px);
        color: $neutralGray6;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .logout {
        color: $sematicRed2;
      }
    }

    .iconBell {
      margin-right: 15px;
    }

    .iconSwap {
      transform: rotate(90deg);
    }

    .logoutIcon {
      path {
        stroke: $sematicRed2;
      }
    }

    .profileMenuWrapper {
      display: flex;
      align-items: center;
      height: 40px;

      .avatar {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-color: $primaryPri2;
        color: $neutralGray1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .displayName {
        margin-right: 11.5px;
      }
    }
  }
}
