@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  width: 400px;
}

.field {
  width: 100%;
  margin-top: 16px;
}

.fieldTitle {
  @include text(18px, 24px);
  font-weight: $fontWeightBold;
}
