@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin tableBodyLayout {
  height: fit-content;
  padding: 8px 8px 8px 0;
  text-align: left;
  vertical-align: middle;
  @include textTemplate(14px, 400, 20px);
  display: table-cell;
  word-break: break-word;

  .icon {
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;

    &:last-of-type {
      margin-left: 12px;
    }
  }

  &:nth-child(1) {
    padding-left: 16px;
    width: calc(100% / 7 * 3);
    @include viewportMedium {
      width: 30%;
    }
  }
  &:nth-child(2) {
    width: calc(100% / 7 * 2);
    padding-left: 8px;

    @include viewportMedium {
      width: 20%;
      padding-left: 0;
    }
  }
  &:nth-child(3) {
    width: 20%;

    display: none;
    @include viewportMedium {
      display: table-cell;
    }
  }
  &:nth-child(4) {
    width: calc(100% / 7 * 2);

    @include viewportMedium {
      width: 20%;
    }
  }
  &:nth-child(5) {
    width: 10%;
    padding-right: 16px;
    text-align: right;

    display: none;
    @include viewportMedium {
      display: table-cell;
    }
  }

  & .actionCell {
    @include viewportMedium {
      height: 20px;
    }
  }
}

.root {
  .tabItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .overFlowAlert {
    &:not(.isAdminLayout) {
      @include viewportSLarge {
        top: 124px;
      }
      transition: all 0.5s linear;

      &.isOpen {
        right: 40px;

        @include viewportSLarge {
          right: 130px;
          top: 124px;
        }
      }
    }
  }

  .overFlowAlert.isAdminLayout {
    &.isOpen {
      right: 40px;
    }
  }

  .tableRoot {
    border: 1px solid $neutralGray3;
    border-radius: 8px;
    width: 100%;
    border-spacing: 0;

    thead {
      justify-content: space-between;
      background-color: $neutralGray2;
      color: $neutralGray6;
      @include textTemplate(12px, 600, 16px);

      tr {
        th {
          height: fit-content;
          padding: 8px 0;
          text-align: left;
          text-transform: uppercase;
        }

        th:nth-child(1) {
          padding-left: 16px;

          width: calc(100% / 7 * 3);
          @include viewportMedium {
            width: 30%;
            padding-right: 8px;
          }
        }
        th:nth-child(2) {
          width: calc(100% / 7 * 2);
          text-align: center;
          padding-right: 8px;
          min-width: 104px;

          @include viewportMedium {
            width: 20%;
            padding-right: 0;
            min-width: unset;
          }
        }
        th:nth-child(3) {
          width: 20%;
          display: none;
          @include viewportMedium {
            display: table-cell;
          }
        }
        th:nth-child(4) {
          padding-right: 8px;
          width: calc(100% / 7 * 2);

          @include viewportMedium {
            padding-right: 16px;
            width: 30%;
          }
        }
      }
    }

    & > tbody {
      & > tr {
        &:nth-child(2) > td {
          border: none;
          border-spacing: 0;
        }

        .foodName {
          @include lineClamp(2);
          @include textTemplate(14px, 600, 20px);

          .name {
            @include lineClamp(2);
          }

          .foodUnit {
            font-weight: 400;
            color: $neutralGray6;
          }
        }

        &.totalRow {
          & > td {
            padding: 0;
          }
          table,
          tr {
            border-spacing: 0;
            width: 100%;
            padding: 0;

            td {
              @include tableBodyLayout;
              padding: 16px 8px 12px 0;
              @include textTemplate(14px, 700, 20px);

              .errorText {
                color: $sematicRed2;
                @include textTemplate(12px, 600, 16px);
              }

              &:nth-child(2) {
                padding-left: 6px;

                @include viewportSmall {
                  text-align: center;
                }

                @include viewportMedium {
                  padding-left: 0;
                }
              }

              &:nth-child(4) {
                padding-right: 4px;
              }
            }

            &:nth-child(2) {
              td {
                padding: 0 0 8px 16px;
              }
            }
          }
        }
      }

      & .scrollContainer {
        max-height: calc(36px * 6);
        overflow-x: auto;

        & > table {
          width: 100%;
          border-spacing: 0;

          tr {
            position: relative;

            &::after {
              @include absolute(100%, 1px);
              bottom: 0;
              left: 0;
              background-color: $neutralGray3;
            }

            & > td {
              @include tableBodyLayout;
            }
          }
        }
      }
    }
  }

  .disabled {
    cursor: not-allowed;
    path {
      fill: $neutralGray6;
    }
  }

  .quantityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    @include textTemplate(16px, 600, 1.5);

    .iconMinus {
      width: 16px;
      height: 16px;
      min-width: 16px;
      flex-basis: 24px;
      cursor: pointer;

      &:hover {
        transform: translateY(1px);
      }

      &.disabled {
        cursor: not-allowed;
        path {
          fill: $neutralGray5;
          @include viewportMedium {
            fill: $neutralGray6;
          }
        }
      }

      path {
        fill: $neutralGray6;
        @include viewportMedium {
          fill: $neutralGray7;
        }
      }
    }

    .iconPlus {
      cursor: pointer;
      width: 24px;
      height: 24px;
      min-width: 24px;

      path {
        fill: $neutralGray6;
        @include viewportMedium {
          fill: $neutralGray7;
        }
      }

      &:hover {
        transform: translateY(1px);
      }

      &.disabled {
        cursor: not-allowed;
        path {
          fill: $neutralGray5;
          @include viewportMedium {
            fill: $neutralGray6;
          }
        }
      }
    }

    .foodQuantityForm {
      width: 30%;
      min-width: 32px;
      .quantityField {
        .quantityInput {
          min-width: 32px;
          width: 100%;
          padding: 4px;
          text-align: center;
          border-radius: 4px;
        }
      }
    }
  }
}

.fieldContainer {
  margin-top: 24px;

  & {
    display: none;

    @include viewportMedium {
      display: block;
    }
  }
}

.fieldRow {
  display: flex;
  flex-direction: column;
  gap: 12px 16px;
  flex-wrap: wrap;
  row-gap: 24px;

  @include viewportMedium {
    flex-direction: row;
  }

  .fieldSelect {
    flex-basis: 50%;

    @include viewportMedium {
      flex-direction: row;
      max-width: 350px;
    }
  }

  button {
    padding: 10px 20px;
    min-height: unset;
    flex-basis: 100%;

    @include viewportMedium {
      flex-basis: unset;
    }
  }

  .dropdownWrapper {
    height: 88px;
    overflow: hidden auto;
  }
}

.fieldLabel {
  @include textTemplate(16px, 700, 24px);
  color: $neutralGray7;
  padding-bottom: 8px;
  display: block;
}

.fieldNote {
  & textarea {
    resize: vertical;
  }
}

.error {
  font-weight: $fontWeightRegular;
  font-size: 12px;
}

.addFoodButton {
  display: flex;
  column-gap: 12px;
  padding: 12px 0;
  margin-top: 16px;
  @include textTemplate(16px, 700, 24px);

  svg {
    transform: scale(2) translateX(6px);
    width: 24px;
  }

  @include viewportMedium {
    display: none;
  }
}
