@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.orderDateFieldWrapper {
  position: relative;

  .orderDateFieldLabel {
    @include textTemplate(14px, $fontWeightRegular, 20px);
    margin-bottom: 8px;
  }
}

.orderDateFieldInput {
  width: 100%;
  height: 44px;
  border: 1px solid $neutralGray4;
  border-radius: 8px;
  @include flexAlign(center);
  padding-left: 16px;
  gap: 8px;

  .placeholder {
    color: $neutralGray4;
  }
}

.modalWrapper {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 800px;

  &.shouldDisplayFixed {
    position: fixed;
    top: 130px;
  }
}
