@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  @include bookerSidebarFormRoot;
}

.scrollContent {
  overflow-y: auto;
}

.fieldGroups {
  margin-bottom: 24px;
}

.groupLabel {
  margin-bottom: 16px;
  @include textTemplate(16px, 700, 24px);
  color: $neutralGray7;
}

.checkboxItem {
  margin-bottom: 10px;
  @include checkBoxInputStyles;

  .labelText {
    cursor: pointer;
    @include textTemplate(14px, 400, 24px);
  }
}

.submitBtn {
  width: 100%;
}
