@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
.container {
  padding: 0 0 90px;
  @include flexAlign(flex-start);
  flex-direction: column;
  @include viewportSmall {
    padding: 0;
    display: block;
  }
  .header {
    border-bottom: 1px solid $neutralGray3;
    padding: 8px 16px;
    height: 56px;
    @include flexAlign(center);
    gap: 8px;
    @include viewportSmall {
      border-bottom: 1px solid $neutralGray5;
      padding: 32px 24px;
    }

    span {
      @include text(16px, 24px);
      font-weight: $fontWeightBold;

      @include viewportSmall {
        @include text(24px, 32px);
        font-weight: $fontWeightBold;
      }
    }
  }

  .sectionTitle {
    @include text(18px, 24px);
    font-weight: $fontWeightBold;
    padding-bottom: 28px;

    @include viewportSmall {
      padding-bottom: 0px;
    }
  }

  .loading {
    text-align: center;
  }

  .contactPointSection {
    padding: 24px 16px 0px 16px;
    @include flexAlign(flex-start);
    flex-direction: column;
    width: 100%;

    @include viewportSmall {
      display: block;
      padding: 32px 24px 0;
    }

    .formWrapper {
      margin-top: 40px;
      width: 100%;
    }
  }

  .companyInfoSection {
    display: flow-root;
    padding: 24px 16px 0px 16px;

    @include viewportSmall {
      border-bottom: 1px solid $neutralGray5;
      padding: 64px 24px 40px;
    }

    .row {
      @include flexAlign(flex-start);
      flex-wrap: wrap;
      gap: 20px;

      @include viewportSmall {
        gap: 24px;
        margin-top: 28px;
        flex-wrap: nowrap;
      }

      &:last-child {
        margin-top: 20px;
      }
      .info {
        display: grid;
        flex-basis: 600px;
        @include viewportSmall {
          flex-basis: 410px;
        }

        .title {
          @include textTemplate(14px, 400, 20px);
          color: $neutralGray6;
        }

        .content {
          @include textTemplate(14px, 400, 20px);
          margin-top: 8px;
          overflow: hidden;
          white-space: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}

.submitBtn {
  @include flexAlign(center, flex-end);
  position: fixed;
  padding: 16px;
  z-index: 2;
  width: 100vw;
  bottom: 0;
  background-color: $neutralGray1;

  @include viewportSmall {
    position: relative;
    padding: 40px 24px 0px 24px;
    width: auto;
  }

  .btn {
    width: 100%;
    @include viewportSmall {
      width: 200px;
    }
  }
}
