@use '/src/styles/vars.scss' as *;

.root {
  margin: auto;
}

.spinner {
  stroke: $primaryPri2;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
