@use '/src/styles/vars.scss' as *;

.root {
  max-width: 600px;
  margin: auto;
  padding: 50px 50px 100px 50px;
}

.spinner {
  stroke: $marketplaceColorLight;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
