@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.fieldLabel {
  font-weight: $fontWeightBold;
}

.fieldDescription {
  color: $neutralGray5;
  font-size: 14px;
  font-style: italic;
}

.categoryFields {
  width: 100%;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  @include viewportLarge {
    grid-template-columns: repeat(5, 1fr);
  }
}

.fields {
  margin-bottom: 30px;
}

.btnWrapper {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}
