@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  /* 105px + 28px: top height; 20px: section margin: 20px section padding bottom */
  min-height: calc(100dvh - 105px - 28px - 20px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldWrapper {
  margin-bottom: 16px;
}

.submitBtn {
  width: calc(100% - 32px);
  margin: 0 auto;
}
