@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  /* 105px + 28px: top height; 20px: section margin: 20px section padding bottom */
  min-height: calc(100vh - 105px - 28px - 20px - 20px);
  min-height: calc(100dvh - 105px - 28px - 20px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include viewportLarge {
    display: block;
  }
}

.header {
  @include textTemplate(24px, $fontWeightBold, 32px);
  padding: 24px 24px;
  border-bottom: 1px solid $neutralGray5;
  display: none;

  @include viewportLarge {
    display: block;
  }
}

.formContainer {
  @include viewportLarge {
    padding: 0 24px;
    @include flexAlign(flex-start);
    margin-top: 44px;
    gap: 88px;
  }
  .avatarSection {
    display: none;

    @include viewportLarge {
      display: block;
      margin-bottom: 24px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 105px - 28px - 20px - 20px);
  min-height: calc(100dvh - 105px - 28px - 20px - 20px);

  @include viewportLarge {
    display: block;
  }
}

.fieldsContainer {
  @include viewportLarge {
    @include flexAlign(flex-start);
    gap: 32px;
    flex-wrap: wrap;
  }
}

.fieldWrapper {
  margin-bottom: 16px;

  @include viewportLarge {
    margin-bottom: 0;
  }
}

.fieldInput {
  @include viewportLarge {
    width: 300px;
  }
}

.submitBtn {
  width: 100%;
  margin: 0 auto;

  @include viewportLarge {
    width: 200px;
    margin: 32px 0;
  }
}
