@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 32px 16px 0;
  width: 100%;
}

.formContainer {
  margin: 0 auto;
  width: fit-content;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include viewportLarge {
    max-width: 375px;
  }
}

.formTitle {
  color: $neutralGray6;
  @include textTemplate(24px, $fontWeightBold, 32px);

  @include viewportMedium {
    font-size: 32px;
  }
}

.formDescription {
  color: $neutralGray5;
  padding-bottom: 32px;
  margin-top: 8px;
}

.forgotPassword {
  text-align: right;
  cursor: pointer;
}

.error {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  color: $sematicRed2;
}

.submitButton {
  background-color: $primaryPri2;
  color: $neutralGray1;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 8px;
  width: calc(100% - 32px);
  margin: 0 auto;

  @include viewportLarge {
    width: 100%;
  }
}

.toSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background: $neutralGray4;
  padding: 16px;

  @include viewportMedium {
    padding: 16px 24px;
    width: min(450px, calc(150% / 2));
  }

  @include viewportLarge {
    padding: 24px 32px;
  }
}

.toSignInText {
  color: $primaryPri2;
  cursor: pointer;
}

.goBackContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;

  cursor: pointer;

  @include textTemplate(16px, 700, 24px, '');
}

.desktopView {
  display: none;

  @include viewportLarge {
    margin-top: 40px;
    display: block;
  }
}
