@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  position: relative;
}

.labelWrapper {
  margin-bottom: 8px;
}

.label {
  @include textTemplate(14px, $fontWeightRegular, 16px);
  color: $neutralGray7;
}

.requiredStar {
  color: $primaryPri2;
}

.fieldWrapper {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid $neutralGray5;
  color: $neutralGray5;
  padding: 10px 16px;
  position: relative;
  display: flex;
}

.placeholder {
  @include textTemplate(16px, $fontWeightRegular, 24px);
}

.value {
  @include textTemplate(16px, $fontWeightRegular, 24px);
  color: $neutralGray7;
}

.paddingWithLeftIcon {
  padding-left: 7px;
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.15s ease-in-out;

  &.rotate {
    transform: translateY(-50%) rotate(90deg);
  }
}

.dropdownWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $neutralGray1;
  border-radius: 8px;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.15s ease-in-out;
  box-shadow: 0px 20px 24px 4px rgba(16, 24, 40, 0.1),
    0px 8px 8px -4px rgba(16, 24, 40, 0.04);

  dropdown-row Component instance dropdown-row Component instance &.hide {
    max-height: 0;
  }

  .dropdownItem {
    @include textTemplate(16px, $fontWeightRegular, 24px);
    color: $neutralGray7;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: $neutralGray3;
    }
  }
}

.fieldDisabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: $neutralGray3;
  color: $neutralGray5 !important;
}
