@use '/src/styles/vars.scss' as *;

.root {
  display: flex;
  align-items: center;
  column-gap: 10px;
  .toggle {
    position: relative;
    display: inline-flex;
    min-width: 36px;
    width: 36px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    & input {
      opacity: 0;
      display: none;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $neutralGray6;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px $neutralGray6;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
      }
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $neutralGray5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;

  &:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: $neutralGray1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}
.disabledButton {
  opacity: 0.5;
}
