@use '/src/styles/vars.scss' as *;

.root {
  position: relative;
  display: inline-block;
  min-width: 40px;
  width: 40px;
  height: 24px;
  -webkit-tap-highlight-color: transparent;
  & input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $marketplaceColor;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $marketplaceColor;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $neutralGray5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;

  &:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $matterColorLight;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}
.disabledButton {
  opacity: 0.5;
}
