@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;

.filterForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include pageTitle;
}

.rowState {
  padding: 5px;
  border-radius: 5px;
  max-width: 70%;
  text-align: center;
  background-color: #b7eb8f;
}

.input {
  margin-bottom: 20px;
}

.boldText {
  font-weight: $fontWeightBold;
  color: $labelBlue2;

  &.firstChildCell {
    font-weight: $fontWeightRegular;
  }
}

.companyName {
  font-weight: $fontWeightBold;
  margin-bottom: 5px;
  @include lineClamp(1);
  overflow-wrap: break-word;
}

.bodyCell:nth-child(3) {
  @include viewportLarge {
    max-width: 100px;
  }
}

.bodyCell:nth-child(2) {
  @include viewportLarge {
    max-width: 200px;
  }
}

.bodyCell:nth-child(6) {
  @include viewportLarge {
    max-width: 200px;
  }
}

.remainText {
  margin: 5px 0 0 0;
  font-weight: $fontWeightBold;
}

.badge {
  border-radius: 4px;
}

.badgeLabel {
  font-size: 12px;
  color: $neutralGray7 !important;
  text-align: center;
}

.badgeLabelLight {
  font-size: 12px;
  color: $neutralGray1 !important;
  text-align: center;
}

.orderName {
  font-weight: bold;
  overflow-wrap: break-word;
}

.locationRow {
  @include lineClamp(4);
}

.restaurantName {
  @include lineClamp(1);
}

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.orderDetailTooltipItem {
  color: $neutralGray7;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;

  .orderIcon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    border-radius: 50%;
    &.pendingIcon {
      border: 1px solid $neutralGray5;
      background-color: $neutralGray3;
    }
    &.receivedIcon {
      background-color: #52c41a;
    }
    &.cancelledIcon {
      background-color: #ffa940;
    }
    &.deliveredIcon {
      background-color: #171760;
    }
  }

  .orderDate {
    font-weight: $fontWeightBold;
  }
}

.inputDate {
  @include inputContainerStyles;
  border: 1px solid $neutralGray3;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;

  input {
    width: 100%;
    &::placeholder {
      color: $neutralGray5;
      font-family: $fontFamily;
    }
  }
}

.labelDate {
  font-size: 14px;
  line-height: 24px;
  color: $neutralGray7;
  margin-bottom: 8px;
  display: inline-block;
  display: flex;
}

.dateInputs {
  display: flex;
  gap: 10px;
}

.deliveryHour {
  font-weight: $fontWeightBold;
  display: block;
}

.draftText {
  font-weight: $fontWeightBold;
  text-transform: uppercase;
  color: $neutralGray5;
}

.orderDetailTooltip {
  background-color: $neutralGray1;
  &:global.rc-tooltip {
    opacity: 1 !important;
  }
}

.tableWrapper {
  @include viewportMedium {
    max-width: calc(100vw - 350px);
    overflow-x: scroll;
    position: relative;
  }
}

.stateItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.orderStateSelect {
  margin-top: 20px;
}

.iconArrow {
  transition: transform 0.3s ease-in-out;

  &.rotate {
    transform: rotate(90deg);
  }
}

.tableBody {
  &::before {
    line-height: 1em;
    content: '_';
    color: white;
    display: block;
  }
}

.filterIcon {
  margin-right: 10px;
}

.filterBtn {
  width: 160px;
  height: 48px;
  margin: 20px auto 0;
}

.filterButton {
  padding: 10px 20px 10px 20px;
  font-size: 14px;

  .filterIcon {
    width: 16px;
    height: 14px;
  }
}
