@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  @include buttonStyles;
  @include buttonFont;
  @include buttonText;
  @include buttonBorders;
  @include flexCenter;
  padding: 0;
}

.smallButton {
  width: 36px;
  height: 36px;
}
.mediumButton {
  width: 40px;
  height: 40px;
}
.largeButton {
  width: 44px;
  height: 44px;
}

.spinner {
  width: 28px;
  height: 28px;
  stroke: $neutralGray1;
  stroke-width: 3px;
}

.checkmark {
  width: 24px;
  height: 24px;
  stroke: $neutralGray1;

  /* Animation */
  animation-name: checkmarkAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes checkmarkAnimation {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.buttonFullWidth {
  width: 100%;
}
