@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  padding: 36px 16px 40px;
  flex-basis: 480px;

  @include viewportLarge {
    padding: 36px 36px 40px;
  }
}

.container {
  position: relative;
}

.modalTop {
  @include flexAlign(center, space-between);
  flex-direction: row-reverse;

  .backBtn {
    display: none;

    @include viewportLarge {
      @include flexAlign(center, center);
      cursor: pointer;
    }

    span {
      @include textTemplate(16px, $fontWeightBold, 24px);
    }
  }

  .stepInfo {
    // 10px: 50% of step info
    flex-basis: calc(50% + 10px);
    @include textTemplate(14px, 400, 20px);
    text-align: right;
    color: $neutralGray6;
    display: none;

    @include viewportLarge {
      display: block;
    }

    &.stepInfoWithBackBtn {
      flex-basis: unset;
      // 20px: width of back button
      // 10px: 50% of step info
      margin-left: calc(-20px + 10px);
    }
  }

  .closeBtn {
    cursor: pointer;
    display: none;

    @include viewportLarge {
      display: block;
    }
  }

  .mobileHeader {
    @include flexAlign(center);
    gap: 4px;
    width: 100%;

    @include viewportLarge {
      display: none;
    }

    .progressStep {
      flex-basis: calc(100% / 3);
      background-color: $neutralGray3;
      height: 3px;
      border-radius: 100px;

      &.active {
        background-color: $neutralGray7;
      }
    }
  }
}

.backBtnMobile {
  margin-top: 16px;

  @include viewportLarge {
    display: none;
  }
}

.modalHeader {
  @include flexAlign(center, center);
  @include textTemplate(18px, $fontWeightBold, 24px);
  margin-top: 12px;

  @include viewportLarge {
    margin-top: 20px;
    text-align: center;
    @include textTemplate(24px, $fontWeightBold, 32px);
  }
}

.modalContent {
  margin-top: 32px;
  padding-bottom: 4px;

  @include viewportLarge {
    max-height: 500px;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.modalFooter {
  margin-top: 40px;
  @include flexAlign(center, center);
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $neutralGray1;
  padding: 0 16px 24px;
  width: 100%;

  @include viewportLarge {
    position: relative;
  }

  .submitBtn {
    width: 100%;

    @include viewportLarge {
      width: 400px;
    }
  }

  .cancelBtn {
    width: 400px;
    margin-top: 8px;
  }
}
