@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.modalContainer.modalContainer {
  padding: 36px 36px 40px;
  flex-basis: 480px;
}

.modalTop {
  @include flexAlign(center, space-between);
  flex-direction: row-reverse;

  .backBtn {
    @include flexAlign(center, center);
    cursor: pointer;

    span {
      @include textTemplate(16px, $fontWeightBold, 24px);
    }
  }

  .stepInfo {
    // 10px: 50% of step info
    flex-basis: calc(50% + 10px);
    @include textTemplate(14px, 400, 20px);
    text-align: right;
    color: $neutralGray6;

    &.stepInfoWithBackBtn {
      flex-basis: unset;
      // 20px: width of back button
      // 10px: 50% of step info
      margin-left: calc(-20px + 10px);
    }
  }

  .closeBtn {
    cursor: pointer;
  }
}

.modalHeader {
  @include flexAlign(center, center);
  @include textTemplate(24px, $fontWeightBold, 32px);
  margin-top: 20px;
  text-align: center;
}

.modalContent {
  margin-top: 32px;
  max-height: 500px;
  overflow-y: auto;
  padding-bottom: 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modalFooter {
  margin-top: 40px;
  @include flexAlign(center, center);
  flex-direction: column;

  .submitBtn {
    width: 400px;
  }

  .cancelBtn {
    width: 400px;
    margin-top: 8px;
  }
}
