@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  flex-basis: calc(100% - 32px);
  padding: 32px;

  @include viewportMedium {
    flex-basis: 600px;
  }
}

.modalHeader {
  text-align: center;
  @include textTemplate(28px, $fontWeightBold, 32px);
  .secondRow {
    color: $primaryPri2;
  }
}

.modalContent {
  @include textTemplate(14px, $fontWeightRegular, 20px);
  text-align: center;
  margin-top: 14px;
  color: $neutralGray6;
}

.modalFooter {
  margin-top: 24px;

  .startBtn {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
}
