@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.pageTitle {
  @include textTemplate(24px, 700, 32px);
  margin: 0 0 28px;
}
.editIconContainer {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.accountSettingsContainer {
  .menuSettingsTitle {
    @include textTemplate(18px, 700, 24px);
    display: flex;
    column-gap: 12px;
    flex-direction: row;
    margin-bottom: 32px;
  }
}

.menuSettingsContainer {
  margin: 40px 0;

  .menuSettingsTitle {
    @include textTemplate(18px, 700, 24px);
    display: flex;
    column-gap: 12px;
    flex-direction: row;
    margin-bottom: 24px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $neutralGray5;
}

.submitBtn {
  width: 200px;
  position: relative;
  right: 0;
  float: right;
  margin: 40px 0;
}

.announcement {
  margin-bottom: 16px;
}
