@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.mobileView {
  @include viewportLarge {
    display: none;
  }
}

.desktopView {
  display: none;
  @include viewportLarge {
    display: block;
    margin-left: 292px;
    width: calc(100% - 292px);
  }
}
