@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  .loading {
    @include flexCenter;
  }
  .mainLayout {
    @include flexAlign(flex-start);

    .leftCol {
      flex-basis: 60%;
      padding-right: 32px;
      border-right: 1px solid $neutralGray3;
    }

    .rightCol {
      flex-basis: 40%;
      padding-left: 52px;

      .feeRow {
        @include flexAlign(center, space-between);
        margin-top: 8px;
        gap: 20px;

        .feeLabel {
          @include textTemplate(14px, $fontWeightRegular, 20px);
        }

        .price {
          height: 32px;
          border: 1px solid $neutralGray5;
          border-radius: 8px;
          @include flexAlign(center);
          padding-left: 8px;
          color: $neutralGray6;

          &.vnd {
            position: relative;
            padding-right: 32px;

            &::after {
              content: 'đ';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              font-size: 14px;
              color: $neutralGray6;
              padding: 0 8px;
              border-left: 1px solid $neutralGray6;
            }
          }

          &.percentage {
            position: relative;
            padding-right: 38px;

            &::after {
              content: '%';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              font-size: 14px;
              color: $neutralGray6;
              padding: 0 8px;
              border-left: 1px solid $neutralGray6;
            }
          }
        }
      }
    }
  }
}
