@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  position: relative;
}

.icon {
  display: flex;
  position: absolute;
  right: 5px;
  pointer-events: none;
  top: 0;
  width: 24px;
  height: 100%;
  align-self: stretch;
  svg {
    stroke: $neutralGray7;
  }
}

.iconSvg {
  margin: auto;
}

.iconSvgGroup {
  stroke: $primaryPri2;
  stroke-width: 2.5px;

  @include viewportMedium {
    stroke-width: 2px;
  }
}

.iconSpinner {
  margin: auto;
  width: 23px;
}

.input {
  @include inputStyles;
  width: 100%;
}

.textareaNoResize {
  resize: none;
}

/*
Predictions container can be overriden with new container styles for
size and position, etc.
*/
.predictionsRoot {
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  top: 50px;
  left: 0;
  background-color: $neutralGray1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
    0px 20px 24px 4px rgba(16, 24, 40, 0.1);
  z-index: calc($zIndexPopup + 1);
}

/*
The Google Maps API TOS requires us to show a Powered by Google logo
next to the autocomplete service predictions. It is rendered to the
bottom of the container.
*/
.poweredByGoogle {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 18px;
  background-image: url(./images/powered_by_google_on_non_white_hdpi.png);
  background-size: auto 18px;
  background-position: center;
  background-repeat: no-repeat;

  @include viewportMedium {
    background-position: center left 50px;
  }
}

/* List of predictions, with a responsive padding size */
.predictions {
  margin: 0;
  padding: 14px 0;
  max-height: 300px;
  overflow-y: scroll;

  & li {
    color: $neutralGray7;
    transition: $transitionStyleButton;
    margin: 0; /* Remove the double white space */
    line-height: 24px;

    /* Assign enough vertical padding to make the element at least 44px high */
    padding: 9px 24px;
    list-style: none;
    @include viewportMedium {
      color: $neutralGray7;
      padding: 8px 24px;
      margin: 0;
    }

    &:hover,
    &.highlighted {
      cursor: pointer;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      color: $neutralGray7;
      background: $neutralGray3;
    }
  }
}

.predictionWithMultipleLines {
  top: 68px;
}

.currentLocation {
}

.currentLocationIcon {
  margin-right: 10px;
}

.labelRoot {
  @include inputLabelStyles;
}

.labelRequiredRedStar {
  margin-left: 2px;
  color: $sematicRed2;
  display: inline-flex;
}
