@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  flex: 1;
  min-height: 100vh;
  background-color: $neutralGray1;
  min-width: 100%;
  padding: 0 24px 0;

  .subMenu {
    margin-top: 32px;
    cursor: pointer;
    list-style: none;
    @include textTemplate(16px, $fontWeightBold, 24px);

    &.subChildMenu {
      margin-top: 16px;
    }

    .subMenuLayout {
      display: flex;
      align-items: center;
      &.isOpen {
        border-radius: 9px;
        .label {
          font-weight: $fontWeightBold;
        }
        .entityIcon {
          fill: $primaryPri2;
        }
      }
      &.childActive {
        .label {
          color: $primaryPri2 !important;
          font-weight: $fontWeightBold;
        }
      }
      .subMenuItem {
        display: flex;
        align-items: center;
        width: 100%;

        .label {
          @include textTemplate(16px, $fontWeightBold, 24px);
          color: $neutralGray7;
          padding-bottom: 3px;
          &.active {
            color: $primaryPri2;
            font-weight: $fontWeightBold;
          }
          &.isChildMenu {
            @include textTemplate(14px, $fontWeightRegular, 24px);

            &.label.active {
              font-weight: $fontWeightBold;
            }
          }
        }
        .entityIcon {
          margin-right: 15px;
          width: 15px;
        }
      }
      .menuArrowIcon {
        float: right;
        width: 15px;
        height: auto;
      }
    }
    .menuWrapper {
      margin-left: 16px;
      padding-bottom: 0;
    }
  }
}
