@use '/src/styles/vars.scss' as *;

.root {
  flex: 1;
  min-height: 100vh;
  background-color: $matterColorLight;
  min-width: 100%;
  padding: 10px;

  .subMenu {
    cursor: pointer;
    list-style: none;
    .subMenuLayout {
      display: flex;
      align-items: center;
      .subMenuItem {
        display: flex;
        align-items: center;
        width: 100%;
        .label {
          &.labelOpen {
            color: red;
          }
        }
        .entityIcon {
          margin-right: 10px;
        }
      }
      .menuArrowIcon {
        float: right;
        transform: rotate(-90deg);
        &.menuArrowOpen {
          transform: rotate(0deg);
        }
      }
    }
    .menuWrapper {
      margin-left: 40px;
      padding-bottom: 0;
    }
  }
}
