@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  /* 105px + 28px: top height; 20px: section margin: 20px section padding bottom */
  min-height: calc(100vh - 105px - 28px - 20px - 20px);
  min-height: calc(100dvh - 105px - 28px - 20px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include viewportLarge {
    justify-content: flex-start;
  }
}

.header {
  @include textTemplate(24px, $fontWeightBold, 32px);
  padding: 24px 24px;
  border-bottom: 1px solid $neutralGray5;
  display: none;

  @include viewportLarge {
    display: block;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 105px - 28px - 20px - 20px);
  min-height: calc(100dvh - 105px - 28px - 20px - 20px);
  @include viewportLarge {
    display: block;
    padding: 0 24px;
    margin-top: 44px;
    gap: 88px;
  }
}

.fieldsContainer {
  @include viewportLarge {
    @include flexAlign(flex-start);
    gap: 40px;
  }
}

.fieldWrapper {
  margin-bottom: 16px;
  @include viewportLarge {
    margin-bottom: 0;
    min-width: 300px;
  }

  .title {
    @include textTemplate(14px, $fontWeightSemiBold, 24px);
  }

  .fieldGroup {
    margin-top: 14px;
  }
}

.fieldInput {
  @include viewportLarge {
    width: 300px;
  }
}

.submitBtn {
  width: 100%;
  margin: 0 auto;

  @include viewportLarge {
    width: 200px;
    margin: 32px 0;
  }
}
