@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-top: $adminTopbarHeight;
  min-height: calc(100vh - $adminTopbarHeight);
  transition: all 0.5s;
  margin-left: $adminSidebarLeftPartWidth;
  @include viewportLarge {
    margin-left: $adminSidebarWidth;
  }
}

.container {
  background-color: $neutralGray1;
  border-radius: 6px;
  padding: 19px 40px 40px 40px;
}
