@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-top: $adminTopbarHeight;
  min-height: calc(100vh - $adminTopbarHeight);
  width: calc(100vw - $adminSidebarLeftPartWidth);
  transition: all 0.5s;
  margin-left: $adminSidebarLeftPartWidth;

  @include viewportLarge {
    margin-left: $adminSidebarWidth;
    width: calc(100vw - $adminSidebarWidth);
  }
}

.container {
  background-color: $neutralGray1;
  border-radius: 6px;
  padding: 19px 40px 40px 40px;
  width: calc(100vw - $adminSidebarLeftPartWidth);

  @include viewportLarge {
    width: calc(100vw - $adminSidebarWidth);
  }
}
