.searchFilterContainer {
  display: flex;
  column-gap: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
  align-items: center;
}

.filterBtn {
  display: flex;
  column-gap: 8px;
  padding: 10px 20px;
  min-height: unset;
}
