@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  padding: 4px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  color: $neutralGray7;

  /* ===============  background =============== */
  &.default {
    background-color: $neutralGray2;
  }
  &.info {
    background-color: $labelBlue1;
  }
  &.danger {
    background-color: $sematicRed1;
  }
  &.success {
    background-color: $sematicGreen1;
  }
  &.warning {
    background-color: $labelOrange1;
  }
  &.caution {
    background-color: $labelYellow1;
  }
  &.darkBlue {
    background-color: $labelDarkBlue;
  }
  &.strongDefault {
    color: $neutralGray1;
    background-color: $neutralGray5;
  }
  &.strongSuccess {
    background-color: $sematicGreen2;
  }
  &.strongDanger {
    background-color: $sematicRed2;
  }
  &.strongWarning {
    color: $neutralGray1;
    background-color: $labelOrange2;
  }
  /* ===============  =============== */

  /* =============== label =============== */
  .label {
    font-size: 12px;
    font-weight: $fontWeightRegular;
    line-height: 17px;
  }
  /* ===============  =============== */

  .badgeClose {
    @include flexCenter;
    height: 12px;
    width: 12px;
    margin-left: 8px;
    cursor: pointer;

    /* =============== close icon =============== */
    & .default {
      path {
        fill: $neutralGray7;
      }
    }
    & .processing {
      path {
        fill: $labelBlue2;
      }
    }
    & .error {
      path {
        fill: $sematicRed2;
      }
    }
    & .success {
      path {
        fill: $sematicGreen2;
      }
    }
    & .warning {
      path {
        fill: $labelOrange2;
      }
    }
    & .caution {
      path {
        fill: $labelYellow2;
      }
    }
    /* ===============  =============== */
  }

  .badgeDot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 8px;

    /* =============== dot =============== */
    &.default {
      background: $neutralGray7;
    }
    &.info {
      background: $labelBlue2;
    }
    &.danger {
      background: $sematicRed2;
    }
    &.success {
      background: $sematicGreen2;
    }
    &.warning {
      background: $labelOrange2;
    }
    &.caution {
      background: $labelYellow2;
    }
    /* ===============  =============== */
  }

  .badgeContent {
    display: flex;
    align-items: center;
  }
}
