@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  padding: 4px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;

  /* ===============  background =============== */
  &.default {
    background-color: $neutralGray2;
  }
  &.processing {
    background-color: $labelBlue1;
  }
  &.error {
    background-color: $sematicRed1;
  }
  &.success {
    background-color: $sematicGreen1;
  }
  &.warning {
    background-color: $labelOrange1;
  }
  /* ===============  =============== */

  /* =============== label =============== */
  .label {
    font-size: 12px;
    font-weight: $fontWeightRegular;
    line-height: 17px;

    &.default {
      color: $neutralGray6;
    }
    &.processing {
      color: $labelBlue2;
    }
    &.error {
      color: $primaryPri2;
    }
    &.success {
      color: $sematicGreen2;
    }
    &.warning {
      color: $labelOrange2;
    }
  }
  /* ===============  =============== */

  .badgeClose {
    @include flexCenter;
    height: 12px;
    width: 12px;
    margin-left: 8px;
    cursor: pointer;

    /* =============== close icon =============== */
    & .default {
      path {
        fill: $neutralGray6;
      }
    }
    & .processing {
      path {
        fill: $labelBlue2;
      }
    }
    & .error {
      path {
        fill: $primaryPri2;
      }
    }
    & .success {
      path {
        fill: $sematicGreen2;
      }
    }
    & .warning {
      path {
        fill: $labelOrange2;
      }
    }
    /* ===============  =============== */
  }

  .badgeDot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 8px;

    /* =============== dot =============== */
    &.default {
      background: $neutralGray6;
    }
    &.processing {
      background: $labelBlue2;
    }
    &.error {
      background: $primaryPri1;
    }
    &.success {
      background: $sematicGreen2;
    }
    &.warning {
      background: $labelOrange2;
    }
    /* ===============  =============== */
  }

  .badgeContent {
    display: flex;
    align-items: center;
  }
}
