@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: flex;
  padding-bottom: 44px;
  align-items: center;
  flex-direction: column;

  @include viewportLarge {
    flex-direction: row;
    justify-content: space-between;
  }
}

.actions {
  display: flex;
  align-items: center;

  .loadingIcon {
    width: 18px;
    height: 18px;
    margin: 0 0 0 8px;
  }
}

.arrowBtn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: unset;
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: $neutralGray5;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.arrowIcon {
}

.toolbarNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 160px;
}

.actions button {
  margin-right: 16px;
  font-size: 14px;

  &:last-child {
    margin-right: 0;
  }

  & svg {
    margin-right: 10px;
  }
}

.secondaryBtn {
  &:hover,
  &:focus {
    & svg path {
      fill: $neutralGray1;
    }
  }
}
