@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.searchInputContainer {
  width: 100%;

  @include viewportLarge {
    width: 360px;
  }

  ::placeholder {
    color: $neutralGray6;
  }
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
  overflow: hidden auto;
  margin-top: 4px;

  @include viewportMedium {
    max-height: 70vh;
  }

  @include viewportLarge {
    max-height: 80%;
    grid-template-columns: auto 360px;
  }

  .leftPart {
    padding: 16px;
    padding-top: 0;

    @include viewportLarge {
      overflow: hidden auto;
      max-height: calc(70vh);
    }

    .noResult {
      padding: 16px;
      text-align: center;
      color: $neutralGray6;
    }
  }

  .rightPart {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @include viewportLarge {
      padding: 24px 24px 0;
      min-height: 413px;
      max-height: 75vh;
      overflow: hidden auto;
    }

    &::before {
      @include viewportLarge {
        position: absolute;
        left: 0;
        height: 1px;
        content: '';
        background-color: $neutralGray3;
        top: 24px;
        height: calc(100% - 24px);
        width: 1px;
      }
    }

    .emptyIconContainer {
      margin: 72px auto;

      .noSelectedItemsText {
        padding-top: 24px;
        text-align: center;
        color: $neutralGray6;
      }
    }

    .partTitle {
      @include textTemplate(16px, 700, 24px, '');
      color: $neutralGray6;
    }

    .divider {
      height: 1px;
      width: 37px;
      background-color: $primaryPri2;
      margin-top: 8px;
    }

    .selectFoodItem {
      margin-top: 10px;
      display: flex;
      align-items: flex-start;

      &:first-of-type {
        margin-top: 14px;
      }

      .deleteIconBox {
        padding: 8px 10px 8px 0;
        cursor: pointer;

        .deleteIcon {
          width: 12px;
          height: 12px;

          & > path {
            fill: $neutralGray6;
          }
        }
      }

      .titleContainer {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding-top: 8px;

        & > .title {
          flex-basis: calc(100% - 80px);
          word-wrap: break-all;
          word-break: break-all;
          text-align: left;
        }
        &:nth-child(2) {
          flex-basis: 80px;
          text-align: right;
        }
      }
    }

    .actionContainer {
      padding: 32px 8px 0;
      background-color: $neutralGray1;

      button {
        margin: 0 auto;
      }

      @include viewportMedium {
        position: sticky;
        bottom: 0;
      }
    }
  }
}

.checkAllLabel {
  display: flex;

  .label {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    @include textTemplate(12px, 400, 16px, '');
    color: $neutralGray6;

    :nth-child(2) {
      flex-basis: 50px;
    }
  }
}
.checkAllCheckbox {
  .checkboxWrapper {
    margin: 0;
  }
}
