@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  &.hasSideBar {
    margin-left: 292px;
    width: calc(100% - 292px);
  }

  @include viewportMedium {
    min-height: 80vh;
  }
}
