@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-top: 72px;

  @include viewportMedium {
    margin-top: 81px;
  }

  &.hasSideBar {
    margin-left: 292px;
    width: calc(100% - 292px);
  }

  &.hasHeader {
    margin-top: 130px;

    @include viewportLarge {
      margin-top: 145px;
    }
  }
}
