@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  padding: 64px 16px 104px;

  @include viewportLarge {
    padding: 64px 60px 104px;
  }
}

.title {
  @include textTemplate(18px, $fontWeightBold, 24px);
  margin-bottom: 16px;
}

.tabLabel {
  @include flexAlign(center);
  gap: 12px;
}
