@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  .addMore {
    width: 100%;
    height: 36px;
    min-height: 36px;
    padding: 6px;
    margin-bottom: 12px;
    text-align: center;
    @include textTemplate(14px, 700, 14px, '');
    border-radius: 8px;
    background-color: $neutralGray1;
    border: 1px solid $neutralGray4;
    color: $neutralGray6;

    &:hover {
      background-color: $neutralGray1;
      color: $neutralGray6;
      border-color: $neutralGray6;

      path {
        fill: $neutralGray6;
      }
    }

    &:active,
    &:focus {
      background-color: $neutralGray1;
      color: $neutralGray6;
    }

    .plusIcon {
      margin-right: 10px;
      & path {
        fill: $neutralGray6;
      }
    }
  }

  .haveNoMeal {
    color: $neutralGray5;
    @include textTemplate(12px, 400, 16px, '');
    text-align: center;
  }
}
