@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid $neutralGray3;

  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
}

.copyingIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;

  path {
    fill: $neutralGray7;
  }
}

.planTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include textTemplate(14px, 700, 20px, '');
  color: $neutralGray7;
  margin-bottom: 4px;

  .titleContainer {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;

    .tickIcon {
      width: 16px;
      height: 16px;
    }
  }
}

.root .close {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.headerActions {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .foodIcon {
    width: 16px;
    height: 16px;
  }
}

.dishes {
  @include textTemplate(12px, 400, 16px);
  color: $neutralGray6;
  margin-left: 4px;
  margin-right: 12px;
}

.verticalDivider {
  @include verticalDivider($neutralGray5, 1px, 12px);
}

.searchIcon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  cursor: pointer;
}

.content {
  margin-bottom: 12px;

  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
}

.coverImg {
  margin-bottom: 8px;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include textTemplate(12px, 600, 16px, '');
  margin-bottom: 4px;

  span {
    display: block;
    width: 95px;
    @include lineClamp(3);
  }
}

.restaurant > span {
  cursor: pointer;
}

.recommendRestaurant {
  cursor: pointer;
  flex-basis: 18px;
}

.viewMenu {
  @include textTemplate(12px, 700, 20px, '');
  color: $primaryPri2;
  cursor: pointer;
}

.footer {
  .actionButton {
    width: 100%;
    min-height: 36px;
    padding: 2px;
    text-align: center;
    border-radius: 8px;
    background-color: $neutralGray1;

    @include textTemplate(14px, 700, 20px, '');
    color: $neutralGray7;
    margin-bottom: 12px;
  }

  .editNotAvailable {
    @include textTemplate(12px, $fontWeightRegular, 16px);
    color: $sematicRed2;
  }
}

.applyForOtherDays {
  @include textTemplate(12px, 600, 18px);
  color: $neutralGray7;
  text-align: center;
  cursor: pointer;
}

.foodList {
  @include textTemplate(12px, 400, 16px);
  padding: 0;
  color: $neutralGray7;

  .foodListItem {
    cursor: pointer;
    margin-bottom: 8px;

    @include lineClamp(1, 12px);
  }
}

.viewAll {
  text-align: center;
  text-decoration: underline;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.disabled {
    cursor: progress;
    pointer-events: none;
    opacity: 0.8;
  }
}

.metaSection {
  @include flexAlign(flex-start, center);
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;

  .metaItem {
    @include flexAlign(center, center);
    @include textTemplate(12px, 400, 16px);
    gap: 4px;
  }

  .metaItemIcon {
    width: 16px;
    height: 16px;

    path {
      fill: $neutralGray7;
    }
  }
}
