@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin walkthroughArrow {
  content: '';
  position: absolute;
  top: -24px;
  left: 8px;
  transform: matrix(1, 0, 0, -1, 0, 0) rotate(45deg);
  border-width: 8px;
  border-style: solid;
  border-color: $neutralGray1;
  border-bottom-color: transparent;
  border-right-color: transparent;
  z-index: 100000;

  @include viewportLarge {
    display: none;
  }
}

.root {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid $neutralGray3;
  min-height: 412px;
  display: flex;
  flex-direction: column;
  position: relative;

  &.walkthrough[data-tour='step-1']::before {
    @include walkthroughArrow;
  }

  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
}

.copyingIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;

  path {
    fill: $neutralGray7;
  }
}

.planTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include textTemplate(14px, 700, 20px, '');
  color: $neutralGray7;
  margin-bottom: 4px;

  .titleContainer {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;

    .tickIcon {
      width: 16px;
      height: 16px;
    }
  }
}

.root .close {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.iconCloseWrapper {
  position: relative;
  &.walkthrough::before {
    @include walkthroughArrow;
    right: 0;
    left: unset;
  }
}

.headerActions {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .foodIcon {
    width: 16px;
    height: 16px;
  }
}

.dishes {
  @include textTemplate(12px, 400, 16px);
  color: $neutralGray6;
  margin-left: 4px;
  margin-right: 12px;
}

.verticalDivider {
  @include verticalDivider($neutralGray5, 1px, 12px);
}

.searchIconWrapper {
  position: relative;
  &.walkthrough::before {
    @include walkthroughArrow;
    top: -30px;
    left: 12px;
  }
}

.searchIcon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  cursor: pointer;
}

.content {
  margin-bottom: 12px;
  flex: 1;

  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
}

.coverImg {
  margin-bottom: 8px;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include textTemplate(12px, 600, 16px, '');
  margin-bottom: 4px;
  position: relative;

  &.walkthrough::before {
    @include walkthroughArrow;
    top: -30px;
    right: 0;
    left: unset;
  }

  span {
    display: block;
    @include lineClamp(3);

    @include viewportLarge {
      @include lineClamp(1);
    }
  }
}

.restaurant > span {
  cursor: pointer;
}

.recommendRestaurant {
  cursor: pointer;
  flex-basis: 18px;
  min-width: 18px;
  position: relative;
}

.viewMenu {
  @include textTemplate(12px, 700, 20px, '');
  color: $primaryPri2;
  cursor: pointer;
}

.footer {
  .actionButton {
    width: 100%;
    min-height: 36px;
    padding: 2px;
    text-align: center;
    border-radius: 8px;
    background-color: $neutralGray1;

    @include textTemplate(14px, 700, 20px, '');
    color: $neutralGray7;
    margin-bottom: 12px;

    position: relative;

    &.walkthrough::before {
      @include walkthroughArrow;
      right: 80px;
      left: unset;
    }
  }

  .editNotAvailable {
    @include textTemplate(12px, $fontWeightRegular, 16px);
    color: $sematicRed2;
  }
}

.applyForOtherDays {
  @include textTemplate(12px, 600, 18px);
  color: $neutralGray7;
  text-align: center;
  cursor: pointer;
}

.foodList {
  @include textTemplate(12px, 400, 16px);
  padding: 0;
  color: $neutralGray7;

  .foodListItem {
    cursor: pointer;
    margin-bottom: 4px;

    @include lineClamp(1, 16px);
  }
}

.viewAll {
  text-align: center;
  text-decoration: underline;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.disabled {
    cursor: progress;
    pointer-events: none;
    opacity: 0.8;
  }
}

.metaSection {
  @include flexAlign(flex-start);
  flex-wrap: nowrap;
  gap: 8px;

  .metaItem {
    @include flexCenter;
    @include textTemplate(12px, 400, 16px);
    gap: 4px;
    white-space: nowrap;
  }

  .metaItemIcon {
    width: 16px;
    height: 16px;

    path {
      fill: $neutralGray7;
    }
  }
}

.fallbackImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
