@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.modalTitleContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  @include textTemplate(12px, 400, 16px, '');

  .title {
    @include textTemplate(24px, 700, 32px, '');
    max-width: 240px;
    @include lineClamp(2, 32px);
  }
}
