@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.companyLogoField {
  height: 206px;
  max-width: 960px;
  margin: auto;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
}

.addButtonWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: $fontWeightBold;
  color: $neutralGray6;
}

.addIconWrapper {
  border: 2px solid $neutralGray6;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.updateModalContainer {
  @include viewportLarge {
    min-width: 1024px;
  }
}

.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  @include viewportLarge {
    grid-template-columns: repeat(3, 1fr);
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: $neutralGray4;
  margin: 48px 0;
}

.largeTitle {
  font-size: 24px;
  text-transform: capitalize;
}

.smallTitle {
  text-transform: capitalize;
  font-size: 18px;
}
