@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: none;

  @include viewportMedium {
    @include flexAlign(center, space-between);
    flex: 1;
    height: fit-content;
    padding: 20px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $neutralGray1;
    z-index: 201;
    height: 81px;
    padding: 10px 30px;
  }

  @include viewportLarge {
    padding: 10px 80px;
    border-bottom: 1px solid $neutralGray5;
  }

  &.bottomLine {
    border-bottom: 1px solid $neutralGray5;
  }

  .headerLeft {
    .logo {
      width: 68.14px;
      height: 36px;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 28px;

    .menuItemList {
      display: flex;
      align-items: center;
      column-gap: 28px;

      .menuItem {
        @include textTemplate(16px, 700, 24px);
        color: $neutralGray7;
      }
    }

    .divider {
      height: 32px;
      width: 1px;
      background-color: $neutralGray3;
    }

    .profileMenuContent {
      width: 268px;
      border-radius: 10px;

      .menuItem {
        @include flexAlign(center);
        gap: 8px;
      }

      .logout {
        color: $sematicRed2;
      }
    }

    .iconBell {
      margin-right: 15px;
    }

    .logoutIcon {
      path {
        fill: $sematicRed2;
      }
    }

    .profileMenuWrapper {
      display: flex;
      align-items: center;
      height: 40px;
      width: fit-content;
      padding: 0;

      .avatar {
        width: 40px;
        height: 40px;
        background-color: $primaryPri2;
        color: $neutralGray1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .displayName {
        margin-right: 11.5px;
      }
    }
  }
}
