@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: relative;
  width: 295px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid $neutralGray3;
  @include flexAlign(normal);
  flex-direction: column;
}

.bonusBadge {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 14px;
  border-radius: 12px 4px 4px 0px;
  @include textTemplate(14px, 700, 24px);
  color: $labelBlue2;
  background-color: $labelBlue1;
  z-index: 1;
}

.gift {
  margin-right: 6px;
}

.coverImage {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.restaurantName {
  @include textTemplate(16px, 700, 24px);
  @include lineClamp(1, 24px);
  color: $neutralGray7;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.favoriteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.1s linear;
  flex-shrink: 0;

  &:hover {
    width: 21px;
    height: 21px;
  }
}

.nutritions {
  position: absolute;
  top: 8px;
  right: 8px;

  max-width: 50%;
  padding: 2px 8px;
  background-color: $neutralGray1;
  border-radius: 12px;
  text-align: center;

  @include textTemplate(12px, 500, 20px);
  @include lineClamp(1, 20px);
}

.badge {
  border-radius: 20px;
  margin-right: 8px;

  .badgeLabel {
    @include lineClamp(1, 17px);
  }
}

.footer {
  display: flex;
}

.footerItem {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $neutralGray3;
  @include textTemplate(14px, 400, 20px);
  max-width: 100px;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0px solid transparent;
  }
}

.littleStarIcon,
.footerIconTerm,
.footerItemIcon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  flex-shrink: 0;
}

.footerItemIcon {
  & > g > path {
    fill: $neutralGray7;
  }
}

.favoriteBtn {
  margin: 16px auto 0;
  width: 100%;
  min-height: 36px;
  height: 36px;
}

.inlineTextButtonRoot {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  color: $labelBlue2;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.tableFood {
  margin-top: 5px;
  empty-cells: show;
}

.footerFood {
  flex-grow: 1;
  display: flex;
  align-items: first baseline;
  @include textTemplate(14px, 400, 20px);
  max-width: 100px;
}

.footerFoodEmpty {
  height: 20px !important; /* overwrites any other rules */
  background-color: #ffffff;
}

.footerFoodAlignRight {
  justify-content: flex-end;
}

.footerFoodIcon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.footerRowItem {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-top: 5px;
  margin-right: 10px;
  @include textTemplate(14px, 400, 20px);
}

.highlightTitle {
  background-color: #ffe6c0;
}
