@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.weekDay {
  display: flex;
  flex-direction: column;

  min-height: 54px;
  flex-basis: calc((100vw - 32px) / 7);

  &:last-child {
    border-right: 0px solid transparent;
  }

  @include viewportMedium {
    min-height: 200px;
    flex: 1;
  }
}

.monthDay {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 7);
  background-color: $neutralGray1;
  min-height: 76px;
  border-right: 1px solid $neutralGray3;

  &:nth-child(4) {
    border-right: 0px solid transparent;
  }

  &:nth-child(7n) {
    border-right: 0px solid transparent;
  }

  @include viewportLarge {
    min-height: 256px;
  }
}

.dayHeader {
  @include mediumText;
  background-color: $neutralGray1;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  border-radius: 8px;
  position: relative;

  @include viewportMedium {
    margin: 0 8px 16px;
    background-color: $neutralGray2;
  }

  &.hover {
    background-color: $primaryPri1;
  }
}

.indicator {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 4px;
  border-radius: 8px;

  &.valid {
    background-color: $sematicGreen2;
  }

  &.invalid {
    background-color: $primaryPri2;
  }
}

.disabledHeader {
  pointer-events: none;
  cursor: not-allowed;
  .dateNumber,
  .dayText {
    color: $neutralGray5;
  }
}

.dateNumber {
  @include textTemplate(16px, 600, 24px);

  @include viewportLarge {
    @include textTemplate(18px, 700, 28px, '');
  }
}

.dayText {
  @include textTemplate(12px, 400, 16px, '');

  @include viewportLarge {
    transition: all 0.25s linear;
    line-height: 20px;
  }
}

.dayContent {
  flex-grow: 1;
  background-color: $neutralGray1;
  @include flexAlign(flex-end, flex-end);
  padding: 0 8px;
  flex-wrap: wrap;
  border-top: 1px solid $neutralGray3;

  @include viewportMedium {
    padding: 12px 8px;
    display: block;
  }
}

.dayFooter {
  height: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.dayFooterIndex {
  @include textTemplate(16px, 500, 24px, '');
  margin-left: auto;
}

.activeDayFooterIndex {
  color: $neutralGray1;
  margin-left: auto;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $neutralGray7;
    z-index: -1;
  }
}

.todayDayFooterIndex {
  color: $neutralGray1;
  margin-left: auto;
  background-color: $primaryPri2;
  padding: 4px 10px;
  border-radius: 20px;
  z-index: 0;
}
