@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin: 0;
  padding: 0;
  border: none;

  .list {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .twoColumns {
    @include viewportMedium {
      columns: 2;
    }
  }

  .item {
    /* Fix broken multi-column layout in Chrome */
    page-break-inside: avoid;
  }
}
