@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.header {
  @include flexAlign(center, space-between);
}

.filterForm {
  margin-top: 24px;
}

.filterButton {
  padding: 10px 20px 10px 20px;
  font-size: 14px;

  .filterIcon {
    width: 16px;
    height: 14px;
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    .filterIcon * {
      fill: $neutralGray1;
    }
  }
}

.tableWrapper {
  margin-top: 24px;
}
