@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.header {
  @include flexAlign(flex-end, space-between);
  padding: 24px;
  border-bottom: 1px solid $neutralGray6;

  .titleWrapper {
    flex-basis: 60%;
  }
}

.backBtn {
  @include flexAlign(center);
  display: inline-flex;
  cursor: pointer;
  padding-top: 24px;
  margin-left: 24px;
  font-weight: $fontWeightBold;
  &:hover {
    border-bottom: 1px solid $neutralGray6;
  }
}

.actionBtns {
  @include flexAlign(center);
  .changeNameBtn {
    margin-right: 16px;
    @include buttonColorInline;
  }

  .deleteGroupBtn {
    @include buttonColorInline;
  }
}

.addMemberBtn {
  @include flexAlign(center);
  min-height: 64px;
  border-radius: 8px;
  padding-left: 12px;
  cursor: pointer;
  width: 245px;
  @include textTemplate(16px, $fontWeightBold, 24px);
}

.deleteBtn {
  cursor: pointer;
}

.tableContainer {
  padding: 24px;

  .tableRoot {
    width: 100%;
    border: 1px solid $neutralGray5;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: unset;

    .tableHead {
      height: 40px;
      tr {
        td {
          background-color: $neutralGray2;
          padding: 0 16px;
          font-size: 16px;
          color: $neutralGray6;
        }
      }

      .tableHeadCell {
        text-transform: uppercase;
        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }

      .tableHeadCellLabel {
        padding: 8px 0;
      }
    }

    .tableHeadMemberOrder {
      :nth-child(4),
      :nth-child(5) {
        text-align: right;
      }
    }

    .tableBody {
      .tableBodyRow {
        box-shadow: none;
        border-bottom: 1px solid $neutralGray3;
        height: 64px;

        :nth-child(3),
        :nth-child(4) {
          text-align: left;
        }

        .tableBodyCell {
          padding: 9px 16px;
          font-size: 16px;
          color: $neutralGray7;
        }
        &:last-child .tableBodyCell {
          border-bottom: none;
        }
      }
      .tableBodyRowMemberOrder {
        :nth-child(4),
        :nth-child(5) {
          text-align: right;
        }
      }
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $neutralGray6;
  }
}

.plusIcon {
  width: 40px;
  height: 40px;
  path:not(:nth-child(3)) {
    fill: $neutralGray7;
  }
  path:nth-child(3) {
    fill: transparent;
  }
}
.descriptionContainer {
  word-wrap: break-word;
  width: inherit;
}
