@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.header {
  @include flexCenter;
  flex-direction: column;
  gap: 16px;

  .stateBtn {
    width: 160px;
    height: 48px;
  }
}
.orderTitle {
  @include flexCenter;
  gap: 12px;

  .titleLabel {
    @include textTemplate(12px, $fontWeightRegular, 16px);
  }

  .orderId {
    @include textTemplate(32px, $fontWeightBold, 48px);
  }

  .status {
    @include textTemplate(14px, $fontWeightRegular, 20px);
    padding: 8px 16px;
    border-radius: 4px;
    background-color: $labelBlue1;
  }

  .action {
    cursor: pointer;
  }
}

.reviewOrderStates {
  padding-top: 32px;
}

.orderInforWrapper {
  padding: 24px 0;
  border-bottom: 1px solid $neutralGray5;

  .title {
    @include textTemplate(16px, $fontWeightBold, 24px);
  }

  .infor {
    .inforRow {
      display: grid;
      grid-template-columns: 1fr 4fr;
      margin-top: 12px;
      align-items: center;

      .inforValue {
        font-weight: $fontWeightSemiBold;

        &:last-child {
          @include flexAlign(center);
          gap: 12px;
        }

        .pitoStaffInput {
          width: 400px;
        }
      }
    }
  }
}

.orderDetailWrapper {
  margin-top: 40px;

  .contentBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    background-color: $neutralGray2;
    row-gap: 20px;
    white-space: pre-wrap;
    @include viewportLarge {
      flex-direction: row;
      row-gap: 0px;
    }

    &.spaceStart {
      justify-content: flex-start;
      .flexChild {
        margin-right: 100px;
      }
    }

    .flexChild {
      display: flex;
      flex-direction: column;
      .boxTitle {
        font-size: 14px;
        color: $neutralGray6;
        margin-bottom: 16px;
      }
      .boxContent {
        font-size: 16px;
        color: $neutralGray7;
        font-weight: $fontWeightBold;
        max-width: 260px;
      }
      .staffInput {
        max-width: 100%;
        border-radius: 8px;
        @include viewportLarge {
          min-width: 244px;
        }
      }
    }
  }
}

.editViewRoot {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .leftPart,
  .rightPart {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .leftPart {
    order: 3;
    $maxWidthWithPadding: calc(100vw - 320px - 280px - 40px - 40px * 2);
    margin-top: 24px;

    @include viewportSLarge {
      margin-top: 0;
      order: 1;
      width: $maxWidthWithPadding;
    }

    @include viewportXLarge {
      width: 820px;
    }
  }

  .rightPart {
    order: 2;

    @include viewportMedium {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, calc(50% - 12px));
      grid-template-rows: auto auto;

      & > div:nth-child(1) {
        grid-area: 1/1/2/2;
      }
      & > div:nth-child(2) {
        grid-area: 2/1/3/2;
      }
      & > div:nth-child(3) {
        grid-area: 1/2/3/3;
      }
    }

    @include viewportSLarge {
      display: flex;
      flex-direction: column;
      flex-wrap: unset;

      & > div {
        flex-basis: 1;
        max-width: 100%;
        height: fit-content;
      }
    }

    .container {
      padding: 16px;
      border-radius: 16px;

      background-color: $neutralGray1;
      outline: 1px solid $neutralGray5;
      outline-offset: -1px;

      & > div:first-of-type {
        @include textTemplate(18px, 700, 4/3);
      }
    }
  }

  @include viewportSLarge {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 40px;
    margin: 40px auto;
  }
}

.lineItemsTableWithSubOrderSection {
  display: flex;
  width: 100%;
  order: 2;
  row-gap: 56px;
  flex-direction: column;
  align-items: flex-start;
  $maxWidthWithPadding: calc(100vw - 320px - 40px);

  @include viewportSLarge {
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    width: fit-content;
    column-gap: 40px;
  }

  & > div:first-child {
    width: 100%;

    @include viewportSLarge {
      width: 720px;
    }

    @include viewportXLarge {
      width: 820px;
    }
  }
}
.lineItemsTable {
  order: 2;
  grid-column: 2;
  grid-row: 2;
  $maxWidthWithPadding: calc(100vw - 320px - 40px);

  @include viewportLarge {
    margin: 0 auto;
    width: min(820px, calc($maxWidthWithPadding - 48px));
  }

  @include viewportLarge {
    width: min(820px, calc($maxWidthWithPadding - 72px));
  }

  @include viewportSLarge {
    max-width: 820px;
  }

  @include viewportXLarge {
    max-width: 1090px;
    margin: 0 auto;
  }
}

.historyContainer {
  padding: 16px;
  border-radius: 16px;

  background-color: $neutralGray1;
  outline: 1px solid $neutralGray5;
  outline-offset: -1px;

  & > div:first-of-type {
    @include textTemplate(18px, 700, 4/3);
  }
}

.normalOrderSubOrderSection {
  min-width: 320px;
  max-width: 320px;
}

.reviewViewRoot {
  display: flex;
  flex-direction: column;
  padding: 0;

  .titlePart {
    padding: 8px 16px;
    grid-column: 1 / span 2;
    order: 1;
  }

  .leftPart,
  .rightPart {
    display: flex;
    flex-direction: column;
    gap: 32px 24px;
  }

  .leftPart {
    order: 2;
    $maxWidthWithPadding: calc(100vw - 320px - 40px - 40px * 2);

    margin-top: 24px;

    @include viewportMedium {
      order: 1;
      margin-top: 0;
      width: min(750px, calc($maxWidthWithPadding - 48px));
    }

    @include viewportLarge {
      width: min(750px, calc($maxWidthWithPadding - 280px - 72px));
    }

    @include viewportSLarge {
      max-width: 750px;
    }
  }

  .rightPart {
    order: 3;

    @include viewportMedium {
      order: 2;
    }

    .container {
      padding: 16px;
      border-radius: 16px;

      background-color: $neutralGray1;
      outline: 1px solid $neutralGray5;
      outline-offset: -1px;

      & > div:first-of-type {
        @include textTemplate(18px, 700, 4/3);
      }
    }
  }

  @include viewportMedium {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 24px;
    margin: 0 auto;
  }

  @include viewportSLarge {
    max-width: calc(1180px + 130px * 2);
  }
}
