@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

@mixin tableLayout {
  display: flex;
  justify-content: space-between;
  @include textTemplate(14px, 400, 20px);
  $unitWidth: calc((100% - 24px) / 7);

  & > div {
    padding-right: 10px;
    @include lineClamp(2);
    line-height: 20px;
  }
  & > div:nth-of-type(1) {
    flex-basis: calc($unitWidth * 3);

    @include viewportMedium {
      flex-basis: 25%;
    }
  }
  & > div:nth-of-type(2) {
    flex-basis: calc($unitWidth * 2);

    @include viewportMedium {
      flex-basis: 25%;
    }
  }
  & > div:nth-of-type(3) {
    flex-basis: calc($unitWidth * 2);

    @include viewportMedium {
      flex-basis: 15%;
    }
  }
  & > div:nth-of-type(4) {
    flex-basis: 30%;
    cursor: pointer;
    @include lineClamp(2);
    display: none;

    @include viewportMedium {
      display: block;
    }
  }
}

.modalRoot {
  .modalTitle {
    @include viewportMedium {
      text-transform: capitalize;
    }
  }
}

.tableContainer {
  max-height: 70vh;
  overflow: hidden auto;
  margin-bottom: 24px;

  @include viewportMedium {
    margin-bottom: 32px;
    max-height: min(600px, 50vh);
    padding-right: 18px;
  }
}

.dateContainer {
  .dateTitle {
    @include textTemplate(14px, 600, 20px);
    border-bottom: 1px solid $neutralGray3;
    background-color: $neutralGray2;
    padding: 12px;
    display: flex;
    justify-content: space-between;

    @include viewportMedium {
      font-weight: 700;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;

  .rowContainer {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 8px 12px;
    border-bottom: 1px solid $neutralGray3;
  }

  .mobileRequirement {
    @include textTemplate(12px, 400, 16px);
    color: $neutralGray6;
    display: flex;
    column-gap: 8px;

    & div:first-child {
      border-radius: 20px;
      width: 4px;
      background-color: $neutralGray4;
    }
    & div {
      @include lineClamp(2);
    }
  }

  .row {
    @include tableLayout;

    & > div {
      padding-right: 0px;
    }
  }
}

.headRow {
  @include tableLayout;
  border-radius: 8px 8px 0px 0px;
  padding: 10px 12px;
  background-color: $neutralGray4;
  position: sticky;
  top: 0;

  .head {
    color: $neutralGray7;
    @include textTemplate(14px, 600, 20px);

    @include viewportMedium {
      text-transform: uppercase;
    }
  }
}

.memberName {
  @include textTemplate(12px, 600, 16px);
}
.foodPrice {
  @include textTemplate(14px, 700, 20px);
}

.button {
  width: 100%;
  margin: 0 auto;
  display: none;

  @include viewportMedium {
    width: 50%;
    display: block;
  }
}

.requirementTooltip {
  max-width: 400px;
}

.mobileModalContent.mobileModalContent {
  padding-top: 24px;
}
.mobileModalContainer.mobileModalContainer {
  padding-bottom: 32px;
}
