@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.headRoot {
  padding: 12px 24px;
  background-color: $neutralGray3;
  border-radius: 8px;
}

.itemRoot {
}

.center {
  margin-top: 56px;
  text-align: center;
}

.row {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 16px 0 21px 0;
  cursor: pointer;

  &:hover {
    background-color: $neutralGray2;
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $neutralGray3;
  }

  .item {
    &:first-child {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &.rowDisabled {
    cursor: not-allowed;
    &:hover {
      background-color: transparent;
    }
  }
}

.item {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;

  @include textTemplate(14px, 400, 20px, null);

  :nth-child(1),
  :nth-child(2),
  :nth-child(3),
  :nth-child(4) {
    flex-basis: calc((100% - 16px * 3) / 5);
    word-break: break-word;
    @include lineClamp(4);
  }

  :nth-child(5) {
    flex-grow: 1;
    font-weight: 700;
  }

  .seeMenuButton {
    background: none;
    height: 24px;
    color: $neutralGray7;
  }
}

.headItem {
  color: $neutralGray6;

  :nth-child(4) {
    flex-grow: 1;
  }
}

.radioSvg {
  fill: $neutralGray5;
  width: 16px;
  height: 16px;
}
.radioLabel {
  padding: 0;
}
.radioButtonWrapper {
  margin: 0;
}
