@use '/src/styles/defaults.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  @include flexAlign(normal, space-between);
  flex-direction: column;
  height: 80vh;

  @include viewportLarge {
    display: block;
    height: auto;
  }
}

.inputWrapper {
  margin-bottom: 24px;

  textarea.input {
    min-height: 72px;
  }
}

.dateInput {
  margin-bottom: 24px;

  input {
    @include inputStyles;
    width: 100%;
  }
}

.fieldSelect {
  margin-bottom: 24px;
}

.submitBtn {
  width: 100%;
}
