@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.label {
  width: 92px;
  height: 24px;
  border: 1px solid $neutralGray7;
  border-radius: 100px;
  @include flexCenter;
  font-size: 12px;
  font-weight: $fontWeightBold;
  cursor: pointer;
}

.input {
  display: none;
}

.downloadIcon {
  width: 20px;
  height: 20px;

  transform: rotate(180deg);
}
