@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  width: 100%;
  position: relative;
}

.noImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $neutralGray1;
}

.noImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noImageIcon {
  padding-top: 24px;
  box-sizing: content-box;
  stroke: $neutralGray5;
}

.noImageText {
  color: $neutralGray5;
  padding-bottom: 24px;

  margin-bottom: 0;
  @include viewportMedium {
    margin-bottom: 0;
  }
}
