@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.header {
  border-bottom: 1px solid $neutralGray3;
  padding: 8px 16px;
  @include flexAlign(center);
  gap: 8px;

  @include viewportSmall {
    border-bottom: 1px solid $neutralGray5;
    padding: 32px 24px;
  }

  span {
    @include text(16px, 24px);
    font-weight: $fontWeightBold;

    @include viewportSmall {
      @include text(24px, 32px);
      font-weight: $fontWeightBold;
    }
  }
}

.sectionTitle {
  @include text(18px, 24px);
  font-weight: $fontWeightBold;
  margin-bottom: 32px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 54px);
  min-height: calc(100dvh - 54px);

  .changePasswordSection {
    border-bottom: 0px;
    padding: 32px 24px;
    @include viewportMedium {
      border-bottom: 1px solid $neutralGray5;
    }
  }

  @include viewportMedium {
    display: block;
    padding: 0;
  }
}
.fieldsContainer {
  .fieldWrapper {
    margin-bottom: 16px;
  }

  .fieldInput {
    @include viewportMedium {
      width: 100%;
      max-width: 512px;
    }
  }
}
.sumitContainer {
  padding: 40px 24px;
  .submitBtn {
    width: 100%;
    margin: 0 auto;

    @include viewportMedium {
      width: 200px;
      position: relative;
      right: 0;
      float: right;
    }
  }
}
.forgotPassword {
  @include textTemplate(14px, $fontWeightSemiBold, 20px);
  color: $neutralGray6;
  margin-top: 12px;
  cursor: pointer;
}
