@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid $neutralGray5;
  border-bottom: 1px solid $neutralGray5;
  border-right: 1px solid $neutralGray5;

  &:first-child {
    border-left: 1px solid $neutralGray5;
  }
}

.dayHeader {
  @include mediumText;
  background-color: $neutralGray1;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $neutralGray5;
  padding: 4px;
}

.activeHeader {
  background-color: $primaryPri1;
  border-bottom: 1px solid $primaryPri3;
}

.dateNumber {
  @include textTemplate(18px, 700, 28px, '');
}

.dayText {
  @include textTemplate(12px, 400, 20px, '');
}

.activeHeader .dateNumber,
.activeHeader .dayText {
  color: $primaryPri5;
}

.dayContent {
  flex-grow: 1;
  padding: 12px 8px;
  background-color: $neutralGray2;
}

.dayFooter {
  height: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: $neutralGray2;
}

.dayFooterIndex {
  @include mediumText;
  margin-left: auto;
}

.activeDayFooterIndex {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $primaryPri5;
  color: $neutralGray1;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
