@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.content {
  margin-top: 12px;

  @include viewportLarge {
    max-height: 60vh;
    max-height: 80dvh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.modalContainer.modalContainer {
  padding: 0;
}

.header {
  @include flexAlign(center, space-between);
  padding: 16px 16px;

  .title {
    @include textTemplate(18px, 700, 24px);
  }
}
