@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.headerContainer {
  @include flexAlign(center, center);
  flex-direction: column;

  .main {
    @include textTemplate(24px, $fontWeightBold, 32px);
    margin-top: 20px;
    text-transform: capitalize;
  }

  .semi {
    @include textTemplate(14px, $fontWeightRegular, 20px);
    margin-top: 8px;
    color: $neutralGray5;
  }
}

.container {
  text-align: center;
}

.iconWrapper {
  padding-top: 36px;
}

.initialOrderText {
  @include textTemplate(24px, $fontWeightBold, 32px);
  margin-top: 32px;
}

.orderTitle {
  margin-top: 32px;
}

.orderDateWrapper {
  margin-top: 4px;

  .orderDateRange {
    @include textTemplate(20px, $fontWeightBold, 32px);
    margin-left: 8px;
    text-transform: capitalize;
  }
}

.modalContainer.modalContainer {
  flex-basis: 480px;
}
