@use '/src/styles/vars.scss' as *;

.fieldAvatar {
  width: 118px;
  height: 118px;
  margin-top: -30px;
  background-color: $matterColorLight;
}

.fieldCover {
  width: 100%;
  height: 181px;
}

.mediaFields {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  align-items: center;
  margin-bottom: 40px;
}

.mediaTitle {
  margin-bottom: 40px;
}

.fields {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  .field {
    flex: 0.5;
  }
}
