@use '/src/styles/vars.scss' as *;

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  max-height: 100px;
  div {
    margin: 0 0 5px 0;
    width: 18px;
    height: 2px;
    border-radius: 10px;
    background-color: $neutralGray6;
  }
}
