@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-top: 20px;
  @include flexAlign(baseline, flex-start);

  @include viewportMedium {
    margin-top: 28px;
  }

  .resultNumber {
    margin-right: 32px;
    color: $neutralGray6;
    min-width: 80px;
  }
}

.container {
  @include flexAlign(baseline, flex-start);
  gap: 12px;
  flex-wrap: wrap;

  .filterLabel {
    @include flexAlign(center, center);
    gap: 12px;
    border: 1px solid $neutralGray7;
    border-radius: 20px;
    padding: 6px 16px;

    .closeIcon {
      width: 10px;
      height: 10px;
      cursor: pointer;

      path {
        fill: $neutralGray7;
      }
    }
  }
}
