@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.inputContainer {
  @include inputContainerStyles;
}

.labelRoot {
  @include inputLabelStyles;
}

.textValue {
  word-break: break-all;
  border: 1px solid $neutralGray7;
  padding: 7px;
  border-radius: 5px;
}

.helperText {
  margin-top: 6px;
  margin-bottom: 12px;
  overflow: hidden;
  font-size: 12px;
  font-weight: $fontWeightRegular;

  @include viewportMedium {
    margin-top: 6px;
    margin-bottom: 10px;
  }
}
