@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.titleWrapper {
  @include flexAlign(center, space-between);

  .titleCtaBtnWrapper {
    @include flexAlign(center);
    gap: 12px;
  }
}

.title {
  @include pageTitle;
}

.descriptionRow {
  max-width: 250px;
}

.tableBodyCell:nth-child(2) {
  width: 100px !important;
}

.tableBodyCell:nth-child(5) {
  width: 250px !important;
}

.idRow {
  font-weight: $fontWeightBold;
  color: $labelBlue2;
  @include lineClamp(3);
}

.actionBtn {
  margin: 0 10px;
}

.filterIcon {
  fill: $neutralGray7;
  width: 14px;
  height: 14px;

  @include viewportLarge {
    margin-right: 10px;
  }
}

.tableActions {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include viewportLarge {
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 40px 0;
    row-gap: 40px;
  }
}

.ctaButtons {
  @include flexAlign(center, space-between);
  gap: 12px;

  @include viewportLarge {
    flex-direction: row;
    gap: 16px;
  }

  .searchInput {
    margin-right: 0;
  }

  .searchInputWrapper {
    @include viewportLarge {
      width: auto;
    }
  }
}

.titleRow {
  min-width: 200px;
  display: block;
  color: $neutralGray7;
}

.secondaryButton {
  @include buttonColorSecondary;
  background-color: $neutralGray2;
  outline: 1px solid $neutralGray5;

  &:focus,
  &:hover {
    background-color: $neutralGray3;
    color: unset;
    border-color: unset;
  }
}

.filterButton {
  border-width: 1px;
  min-height: 44px;
}

.mobileFilterBtn {
  border-width: 1px;
  min-height: 44px;

  @include viewportLarge {
    display: none;
  }
}

.addButton {
  background-color: #000000;
  color: $neutralGray1;

  &.empty {
    width: 240px;
  }
}

.hidden {
  display: none;
}

.filterForm {
  max-width: 400px;
  padding: 50px 0 150px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.modal {
  top: 100px;
}

.input {
  margin-bottom: 30px;
  width: 100%;
}

.discardButton {
  composes: secondaryButton;
}

.rightButtons {
  display: flex;
  justify-content: flex-end;
}

.leftButton {
  composes: secondaryButton;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filteButtonActive {
  background-color: #ff4c38;
  color: $neutralGray1;
  border-color: #ff4c38;
  svg {
    fill: $neutralGray1;
  }
  &:focus,
  &:hover {
    background-color: #c0392b;
    color: #c0392b;
  }
}

.iconSpinner {
  stroke: $neutralGray6;
}

.buttonIcon {
  margin-right: 12px;
}

.lightButton {
  font-size: 14px;
  gap: 8px;

  &.empty {
    width: 240px;
  }
}

.deletedFood {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.foodTitle {
  display: inline-flex;
  font-weight: $fontWeightBold;
  color: #000000;
}

.removeTitle {
  font-weight: $fontWeightBold;
  font-size: 20px;
  color: $neutralGray7;
  margin-bottom: 28px;
}

.removeContent {
  font-size: 14px;
  font-weight: $fontWeightRegular;
  color: $neutralGray6;
  margin: 0;
}

.removeButton {
  display: none;

  @include viewportLarge {
    border: 1px solid $neutralGray4;
    padding: 10px 20px;
    border-radius: 8px;
    @include flexCenter;
    color: $neutralGray6;
    font-weight: $fontWeightBold;
    font-size: 14px;

    &:not(:disabled) {
      &:hover {
        background-color: $neutralGray6;
        color: $neutralGray1;

        svg {
          path {
            fill: $neutralGray1;
          }
        }
      }
    }
  }
}

.disabled {
  color: $neutralGray6;
  path {
    fill: $neutralGray6;
  }
}

.link {
  button {
    font-size: 14px;
    width: 100%;
    outline: none;
    @include viewportLarge {
      width: unset;
    }
  }
}

.inputWrapper {
  position: relative;
}

.inputFile {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.fileLabel {
  width: 100%;
  min-height: 200px;
  border: 1px dashed $neutralGray6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $neutralGray6;
}

.importTitle {
  color: $neutralGray7;
  margin: 0 0 30px 0;
}

.importLabel {
  color: $neutralGray7;
  margin-bottom: 30px;
}

.downloadFileHere {
  color: $neutralGray6;
  a {
    color: $neutralGray7;
    font-weight: $fontWeightBold;
  }
}

.removeModalContent {
  padding: 5px 0 25px 0;
}

.tableWrapper {
  @include viewportMedium {
    max-width: calc(100vw - 350px);
    overflow-x: scroll;
    position: relative;
  }
}

.googleSheetInput {
  @include inputStyles;
  width: 100%;
  margin-bottom: 20px;
}

.radioButton {
  margin-bottom: 20px;
  .inputWrapper {
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
  }
}

.deletedFood {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.filterTooltip {
  width: auto;
  display: none;

  @include viewportLarge {
    display: block;
  }
}

.ctaViewTypeWrapper {
  @include flexAlign(center, space-between);

  .ctaIconBtns {
    @include flexAlign(center);
    gap: 12px;

    @include viewportLarge {
      display: none;
    }

    .iconBtn {
      @include flexCenter;
      width: 32px;
      height: 32px;
      background-color: $neutralGray1;
      border-radius: 100%;
      min-height: 32px;
    }
  }
}

.viewTypeWrapper {
  @include flexAlign(center);
  gap: 4px;
  background-color: $neutralGray2;
  border-radius: 12px;
  padding: 4px;

  .viewIcon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    @include flexCenter;
    cursor: pointer;

    & svg {
      width: 24px;
      height: 24px;
    }

    &.active {
      background-color: $neutralGray1;

      & svg {
        path {
          fill: $neutralGray7;
        }
      }
    }
  }
}

.emptyList {
  @include flexCenter;
  flex-direction: column;
  gap: 16px;
  margin-top: 80px;
}

.menuTypeTableHeaderLabel {
  @include flexAlign(center);
  gap: 4px;
}

.iconInfoWrapper {
  @include flexAlign(center);
}

.menuTypeDescription {
  background-color: $neutralGray7;
  color: $neutralGray1;
  padding: 4px 8px;
  border-radius: 4px;
}

.overlay {
  opacity: 1 !important;
}

.tabLabel {
  @include flexAlign(center);
  gap: 12px;
}

.actionsBtnWrapper {
  @include flexAlign(normal);
  flex-direction: column;

  .item {
    padding-bottom: 16px;
    color: $neutralGray7;
    border-bottom: 1px solid $neutralGray3;
    @include textTemplate(16px, $fontWeightBold, 24px);
    margin-bottom: 12px;
    @include flexAlign(center);
    gap: 8px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    &.disabled {
      pointer-events: none;
      color: $neutralGray5;
    }
  }
}

.desktopListWrapper {
  display: none;

  @include viewportLarge {
    display: block;
  }
}

.mobileListWrapper {
  display: block;

  @include viewportLarge {
    display: none;
  }
}

.confirmContainer.confirmContainer {
  flex-basis: calc(100% - 32px);

  .content {
    text-align: center;
    margin-top: 8px;
  }
}

.cannotRemoveFoodModalTitle {
  @include flexCenter;
  flex-direction: column;
  gap: 12px;

  .icon {
    width: 32px;
    height: 32px;
  }

  .title {
    @include textTemplate(16px, $fontWeightBold, 24px);
  }
}

.noRemoveFoodConfirmBtn {
  margin: 12px auto 0;
}

.foodApprovalTabWrapper {
  display: block;

  @include viewportLarge {
    display: none;
  }
}

.tabLabel {
  .totalItems {
    background-color: $neutralGray1 !important;

    &.tabActive {
      background-color: $neutralGray7 !important;
      color: $neutralGray1 !important;
    }
  }
}
