@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.formContainer {
  width: 400px;
  margin: 0 auto;

  .amountLabel {
    position: absolute;
    right: 28px;
  }
}

.numberInput {
  margin-bottom: 32px;
}

.vndIcon {
  border-left: 1px solid $neutralGray4;
  padding: 0 16px;
  color: $neutralGray4;
}

.label {
  border-left: 1px solid $neutralGray4;
  padding-left: 12px;
  color: $neutralGray4;
}
