@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.formContainer {
  margin: 0 auto;
  width: 100%;

  @include viewportLarge {
    width: 400px;
  }

  .amountLabel {
    position: absolute;
    right: 28px;
  }
}

.numberInput {
  margin-bottom: 32px;
}

.vndIcon {
  border-left: 1px solid $neutralGray5;
  padding: 0 16px;
  color: $neutralGray5;
}

.label {
  border-left: 1px solid $neutralGray5;
  padding-left: 12px;
  color: $neutralGray5;
}

.tooltipOverlay {
  :global(.rc-tooltip-content) {
    width: 400px;
  }
}
