@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;

.fieldTitle {
  @include text(18px, 24px);
  font-weight: $fontWeightBold;
}

.fieldGroups {
  @include flexAlign(flex-start);
  gap: 36px;
  margin-top: 16px;

  &.column {
    flex-direction: column;
    align-items: flex-start;
  }
}

.customInput {
  width: 100%;
  input {
    @include inputStyles;
    width: 100%;
    padding-left: 48px !important;
  }

  &.placeholder {
    input {
      color: $formFieldPlaceholderColor;
    }
  }
}

.fieldSelect {
  width: 100%;
}

.inputField {
  width: 100%;
}
