@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.isOpen.isOpen.isOpen {
  position: relative;
  z-index: 12;
  background-color: $neutralGray2;

  & > div {
    @include viewportMedium {
      background-color: $neutralGray2;
      min-height: calc(100vh - 80px);

      align-items: flex-start;
      padding-top: 82px;
      padding-bottom: 188px;
    }
  }
}

.btn {
  width: 100%;
  border-radius: 8px;
  @include textTemplate(14px, $fontWeightBold, 24px);
}

.boldText {
  font-weight: $fontWeightBold;
}

.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;

  h2 {
    margin: 0;
  }
}
