@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  .addMore {
    width: 100%;
    height: 36px;
    min-height: 36px;
    padding: 6px;
    margin-bottom: 12px;
    text-align: center;
    @include textTemplate(14px, 700, 14px, '');
    border-radius: 8px;
    background-color: $neutralGray1;
    border: 1px solid $neutralGray5;
    color: $neutralGray7;

    &:hover {
      background-color: $neutralGray1;
      color: $neutralGray7;
      border-color: $neutralGray7;

      path {
        fill: $neutralGray7;
      }
    }

    &:active,
    &:focus {
      background-color: $neutralGray1;
      color: $neutralGray7;
    }

    .plusIcon {
      margin-right: 10px;
      & path {
        fill: $neutralGray7;
      }
    }
  }

  .haveNoMeal {
    color: $neutralGray6;
    @include textTemplate(12px, 400, 16px, '');
    text-align: center;
  }

  .spinner {
    display: block;
    stroke: $neutralGray7;
    margin: 0 auto 10px;
  }
}
