@use '/src/styles/customMediaQueries.scss' as *;

.openModal .modalContainer {
  top: 0;
  max-width: 700px;
  flex-basis: 700px;
}

.openModal .modalScrollLayer {
  align-items: center;

  @include viewportMedium {
    align-items: center;
  }
}

.modalContent {
  @include viewportMedium {
    padding: 25px 0 0;
    width: 100%;
  }
}
