@use '/src/styles/customMediaQueries.scss' as *;

.openModal .modalScrollLayer {
  align-items: center;

  @include viewportMedium {
    align-items: center;
  }
}

.modalContent {
  @include viewportMedium {
    padding: 25px 0 0;
    width: 100%;
  }
}
