@use '/src/styles/customMediaQueries.scss' as *;

.openModal .modalContainer {
  top: 0;
  max-width: 700px;
  flex-basis: 700px;
}

.openModal .modalScrollLayer {
  align-items: center;

  @include viewportMedium {
    align-items: center;
  }
}

.container.container {
  flex-basis: calc(100% - 32px);
}

.modalContent {
  width: calc(100% - 48px);
  margin: auto;

  @include viewportMedium {
    padding: 25px 0 0;
    width: 100%;
    max-width: 400px;
  }
}

.confirmBtnWrapper {
  display: flex;
  align-items: center;

  span {
    margin-right: 8px;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
