@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.headerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.tabHeader {
  @include flexCenter;
  gap: 32px;
}

.navigateBtnStart {
  &.middleLabel {
    margin-right: 28px;
  }
}

.navigateBtnEnd {
  display: flex;
  gap: 20px;

  &.middleLabel {
    margin-left: 28px;
  }
}

.tabHeaders {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  width: 100%;
  gap: 32px;
  margin-bottom: 6px;
  padding-bottom: 10px;

  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
}

.tabHeaderItem {
  position: relative;
  padding: 4px 0 8px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  div[data-number='true'] {
    background-color: $neutralGray3;
    border-radius: 100%;
    color: $neutralGray6;
    border-radius: 100%;
    @include textTemplate(8px, $fontWeightBold, 8px);
    width: 16px;
    height: 16px;
    @include flexAlign(center, center);
  }

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: $neutralGray7;
  }

  &.tabActive::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
    background-color: $neutralGray7;
  }

  &.tabActive {
    div[data-number='true'] {
      background-color: $neutralGray7;
      color: $neutralGray1;
    }
  }
}

.actions {
}

.tabItemContent {
  width: max-content;
  color: $neutralGray6;
  @include textTemplate(14px, 400, 20px);

  &.tabActive {
    color: $neutralGray7;
    transition: color 0.3s;
    font-weight: $fontWeightBold;
  }
}

.tabDisabled {
  cursor: not-allowed;
}

.tabPanel {
  margin: 0;
}

.animate {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.navigateBtn {
  padding: 0;
  margin-top: 4px;
  min-height: unset;
}
