@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.input {
  border: 1px solid $formFieldBorderColor;
  color: $formFieldColor;
  background: transparent;
  display: block;
  width: auto;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: $matterColorLight;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  outline: none;

  &:focus {
    border-color: $formFieldBorderColorFocus;
    outline: 0;
    -webkit-box-shadow: $boxShadowInputFocus;
    box-shadow: $boxShadowInputFocus;
  }

  &::placeholder {
    font-weight: $fontWeightRegular;
    font-size: 14px;
    color: $formFieldPlaceholderColor;
  }
}

.inputError {
}

.inputFullWidth {
  width: 100%;
}

.inputSuccess {
}
.inputError {
}
.inputDisabled {
}

.inputContainer {
  position: relative;
}
.inputWithPaddingLeft {
  padding-left: 40px;
}
.inputWithPaddingRight {
  padding-right: 40px;
}
.leftIconContainer {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  @include flexCenter;
}
.rightIconContainer {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24x;
  @include flexCenter;
}

.rightIcon {
  & path {
    fill: $neutralGray6;
  }
}

.leftIcon {
  & path {
    fill: $neutralGray6;
  }
}

.labelRoot {
  font-size: 14px;
  line-height: 24px;
  color: $neutralGray10;
  margin-bottom: 8px;
  display: inline-block;
  display: flex;
}
.labelRequiredRedStar {
  color: $failColor;
  margin-left: 2px;
  font-weight: $fontWeightSemiBold;
  margin-left: 2px;
}
