@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.fixedBottomWrapper {
  position: fixed;
  top: calc(100dvh - 16px - 48px);
  left: 0;
  width: 100%;

  @include viewportMedium {
    display: none;
  }
}

.absoluteWrapper {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;

  @include viewportMedium {
    display: none;
  }
}
