@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin tableColumnsLayout {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 2%;
  flex-wrap: nowrap;
  padding: 12px;

  & > div {
    word-break: break-word;
  }

  & > div:nth-of-type(1) {
    flex-basis: 30px;
    flex-shrink: 0;
  }
  & > div:nth-of-type(2) {
    width: 150px;
    flex-grow: 1;

    @include viewportLargeWithPaddings {
      max-width: 250px;
    }

    @include viewportSLarge {
      max-width: 280px;
    }
  }
  & > div:nth-of-type(3) {
    flex-basis: 50px;
    display: none;

    @include viewportMedium {
      display: block;
    }
  }
  & > div:nth-of-type(4) {
    text-align: right;
    flex-basis: 30px;
  }
  & > div:nth-of-type(5) {
    text-align: right;
    flex-basis: 140px;
  }
  & > div:nth-of-type(6) {
    flex-basis: 30px;
  }
}

.root {
  margin: 0;
  border: none;
  padding: 0;
  &.rootOpen {
    padding-bottom: 0;
  }

  & > button {
    min-height: unset;
  }

  @include viewportMedium {
    padding: 16px 16px 0;
    border: 1px solid $neutralGray3;
    border-radius: 16px;

    &.rootOpen {
      padding-bottom: 16px;
    }
  }
}

.rootLabel {
  text-transform: unset;

  @include viewportMedium {
    text-transform: uppercase;
  }
}

.tableContainer {
  border-radius: 8px;
  overflow: hidden;

  .tableHead {
    color: $neutralGray7;
    background-color: $neutralGray4;
    @include textTemplate(14px, 700, 20px);
    @include tableColumnsLayout;

    @include viewportMedium {
      color: $neutralGray1;
      background-color: $neutralGray6;
    }
  }

  .tableBody {
    .tableRowGroup {
      border: 1px solid $neutralGray3;

      &:last-of-type {
        border-radius: 0 0 8px 8px;
      }

      .groupTitle,
      .row {
        @include tableColumnsLayout;
      }

      .groupTitle {
        background-color: $neutralGray2;
        @include textTemplate(16px, 700, 24px);

        &.collapsed + .rows .row {
          height: 0;
          padding: 0 12px;
          opacity: 0;
        }

        .restaurantName {
          @include textTemplate(14px, 400, 20px);
          color: $neutralGray6;
          max-width: 100%;
          @include lineClamp(1);
        }

        .actionCell {
          cursor: pointer;
          display: flex;
          justify-content: flex-end;

          svg {
            rotate: 0deg;
            transition: rotate 0.2s linear;
          }

          .reversed {
            rotate: x 180deg;
          }
        }
      }

      .rows {
        & > .row {
          @include textTemplate(16px, 400, 24px);
          transition: 0.25s linear;

          &:not(:last-of-type) {
            border-bottom: 1px solid $neutralGray3;
          }
        }

        &.collapsed > .row {
          border: none;
        }
      }
    }
  }
}
