@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin tableColumnsLayout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  column-gap: 2%;
  flex-wrap: nowrap;
  padding: 8px 12px;
  @include viewportMedium {
    padding: 12px;
  }

  & > div {
    word-break: break-word;
  }

  & > div:nth-of-type(1) {
    flex-basis: 40px;
    flex-shrink: 0;
  }
  & > div:nth-of-type(2) {
    width: 120px;
    flex-grow: 1;
    flex-shrink: 0;

    @include viewportLargeWithPaddings {
      max-width: 250px;
    }

    @include viewportSLarge {
      max-width: 280px;
    }
  }
  & > div:nth-of-type(3) {
    flex-basis: 50px;
    display: none;

    @include viewportMedium {
      display: block;
    }
  }
  & > div:nth-of-type(4) {
    text-align: left;
    flex-basis: 40px;
  }
  & > div:nth-of-type(5) {
    text-align: left;
    flex-basis: 140px;
  }
  & > div:nth-of-type(6) {
    flex-basis: 30px;
  }
}

.root {
  margin: 0;
  border: none;
  padding: 0;
  &.rootOpen {
    padding-bottom: 0;
  }

  & > button {
    min-height: unset;
  }

  @include viewportMedium {
    padding: 16px 16px 0;
    border: 1px solid $neutralGray3;
    border-radius: 16px;

    &.rootOpen {
      padding-bottom: 16px;
    }
  }
}

.rootLabel {
  text-transform: unset;

  @include viewportMedium {
    text-transform: uppercase;
  }
}

.tableContainer {
  border-radius: 8px;
  overflow: hidden;

  .tableHead {
    color: $neutralGray7;
    background-color: $neutralGray4;
    @include textTemplate(14px, 600, 20px);
    @include tableColumnsLayout;

    @include viewportMedium {
      color: $neutralGray1;
      background-color: $neutralGray6;
    }
  }

  .tableBody {
    .tableRowGroup {
      border: 1px solid $neutralGray3;
      border-top: none;

      &:last-of-type {
        border-radius: 0 0 8px 8px;
      }

      .groupTitle,
      .row {
        @include tableColumnsLayout;
      }

      .groupTitle {
        background-color: $neutralGray2;
        @include textTemplate(14px, 700, 24px);
        @include viewportMedium {
          @include textTemplate(16px, 400, 24px);
        }

        & > div:nth-of-type(2) {
          font-weight: 600;
        }

        &.collapsed + .rows .row {
          height: 0;
          padding: 0 12px;
          opacity: 0;
        }

        .restaurantName {
          @include textTemplate(12px, 400, 16px);

          @include viewportMedium {
            @include textTemplate(14px, 400, 20px);
          }
          color: $neutralGray6;
          max-width: 100%;
          @include lineClamp(1);
        }

        .actionCell {
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          align-self: flex-start;

          svg {
            rotate: 0deg;
            transition: rotate 0.2s linear;
          }

          .reversed {
            rotate: x 180deg;
          }
        }
      }

      .rows {
        & > .row {
          @include textTemplate(12px, 400, 16px);
          @include viewportMedium {
            @include textTemplate(16px, 400, 24px);
          }
          transition: 0.25s linear;

          &:not(:last-of-type) {
            border-bottom: 1px solid $neutralGray3;
          }

          & > div:nth-of-type(4) {
            flex-basis: calc(180px + 2%);
            display: flex;
            column-gap: 8px;
            align-items: flex-end;
            @include textTemplate(14px, 400, 20px);
            color: $neutralGray6;

            span {
              font-weight: 700;
              color: $neutralGray7;
            }

            @include viewportMedium {
              color: $neutralGray7;
              @include textTemplate(16px, 400, 24px);
              flex-basis: 40px;
              display: block;
            }
          }
          & > div:nth-of-type(5) {
            display: none;

            @include viewportMedium {
              display: block;
            }
          }
        }

        &.collapsed > .row {
          border: none;
        }
      }
    }
  }
}

.subGroupTitle {
  background-color: $neutralGray1;
  cursor: pointer;

  .actionCell {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;

    svg {
      rotate: 0deg;
      transition: rotate 0.2s linear;
    }

    .reversed {
      rotate: x 180deg;
    }
  }
}

.subRows {
  & > .row {
    @include textTemplate(12px, 400, 16px);

    @include viewportMedium {
      @include textTemplate(16px, 400, 24px);
    }
  }
}
