@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.subTitle {
  @include textTemplate(14px, 400, 20px);
  color: $neutralGray6;
  margin-bottom: 8px;

  @include viewportMedium {
    @include textTemplate(16px, 400, 24px);
  }
}

.modalContainer {
  overflow: unset;
  @include viewportMedium {
    flex-basis: 700px !important;
  }

  .participantsContainer {
    max-height: 436px;
    overflow: hidden auto;

    .rawParticipants {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      gap: 12px;

      .cardWrapper {
        flex-basis: calc(50% - 6px);
      }
    }

    .groupContainer {
      display: flex;
      flex-direction: column;
      border: none;
      padding: 0;
      margin: 4px 0 20px;
      gap: 20px;
      height: fit-content;

      button {
        min-height: unset;
        margin: 0;
      }

      .groupName {
        @include textTemplate(14px, 500, 24px);
        letter-spacing: 0.02;

        .name {
          @include textTemplate(14px, 700, 20px);
          letter-spacing: 0;
        }
      }
    }

    .participantCard {
      flex-basis: calc(50% - 6px);
    }
  }
}

.tooltipContent {
  @include textTemplate(10px, 400, 1.6);
  color: $neutralGray5;

  .title {
    @include textTemplate(12px, 700, 1.6);
    color: $neutralGray1;
    padding-bottom: 2px;
  }
}

.tooltipOverlay :global(.rc-tooltip-arrow) {
  border-color: $neutralGray7;
  border-right-color: $neutralGray1;
  border-left-color: $neutralGray1;
}
