@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.container {
  @include flexAlign(center);
  flex-wrap: wrap;
  gap: 12px;

  .filterLabel {
    border: 1.5px solid $neutralGray6;
    border-radius: 20px;
    padding: 0 16px;
    height: 36px;
    @include flexAlign(center, space-between);
    cursor: pointer;

    .closeIcon {
      margin-left: 12px;
      width: 10px;
      height: 10px;
      path {
        fill: $neutralGray6;
      }
    }
  }
}
