@use '/src/styles/vars.scss' as *;

.removeTitle {
  font-size: 20px;
  color: $neutralGray6;
  font-weight: $fontWeightBold;
}

.removeContent {
  color: $neutralGray5;
}

.menuTitle {
  display: inline;
  font-weight: $fontWeightBold;
  color: $neutralGray6;
}

.deletedMenu {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.preventRemoveMenuContainer {
  text-align: center;
  color: $neutralGray6;
  .preventRemoveMenuContent {
    font-weight: $fontWeightRegular;
  }
  .link {
    font-weight: $fontWeightBold;
    color: $neutralGray6;
  }
}

.modalCancelButton {
  flex-basis: 100%;
}

.loading {
  min-height: 200px;
}

.modalChildren {
  padding-bottom: 28px;
}
