@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.lll {
  stroke: $neutralGray7;
}
.header {
  @include flexAlign(center);
  .title {
    @include text(18px);
    color: $neutralGray7;
    font-weight: $fontWeightBold;
    margin-right: 16px;
  }

  .amount {
    @include text(14px);
    color: $neutralGray7;
    width: 41px;
    height: 32px;
    background-color: $neutralGray3;
    border-radius: 4px;
    @include flexCenter;
  }
}

.searchInput {
  margin-top: 16px;
}

.clientTable {
  margin-top: 16px;
}
