@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  @include flexAlign(flex-start, center);
  flex-wrap: wrap;
  gap: 16px;

  @include viewportSmall {
    @include flexAlign(flex-start);
    gap: 88px;
    flex-wrap: nowrap;
  }

  .avatar {
    @include flexAlign(center, center);
    flex-direction: column;
    gap: 16px;
    @include viewportSmall {
      height: 128px;
    }

    .uploadAvatarWrapper {
      .label {
        width: 100%;
      }
    }
    .uploadAvatarInput {
      display: none;
    }
    .avatarContainer {
      border-radius: 100%;
      position: relative;

      .camera {
        width: 44px;
        height: 44px;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        background-color: $neutralGray1;
        @include flexAlign(center, center);
        border-radius: 100%;
        box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
          0px 4px 8px -2px rgba(16, 24, 40, 0.1);
      }
    }

    .avatarPlaceholder {
      height: 128px;
      border-radius: 100%;
      position: relative;
      background-image: linear-gradient(-180deg, #ef3d2a 0%, #ef3d2a 100%);

      .camera {
        width: 44px;
        height: 44px;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        background-color: $neutralGray1;
        @include flexAlign(center, center);
        border-radius: 100%;
        box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
          0px 4px 8px -2px rgba(16, 24, 40, 0.1);
      }

      .textLabel {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        @include textTemplate(28px, $fontWeightBold, 36px);
        color: $neutralGray1;
      }
    }

    .uploadingImage {
      width: 128px;
      height: 128px;

      img {
        border-radius: 100%;
      }
    }

    .thumbnailLoading {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(211, 211, 211, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .profile {
    @include flexAlign(flex-start);
    flex-direction: column;
    width: 100%;
    gap: 16px;

    @include viewportSmall {
      gap: 32px;
      width: 632px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .fieldInput {
      width: 100%;
      @include viewportSmall {
        width: 300px;
      }
      input {
        @include textTemplate(14px, $fontWeightMedium, 24px);
      }

      .label {
        @include textTemplate(14px, $fontWeightMedium, 24px);
      }
    }
  }
}

.avatarImg {
  width: 128px;
  height: 128px;
}
