.title {
  margin-bottom: 24px;
}

.formTabNav {
  margin-bottom: 24px;
}

.navigateButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 16px;
}

.flexEnd {
  justify-content: flex-end;
}
