@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin tableColumnsLayout {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 2%;
  flex-wrap: nowrap;
  padding: 12px;

  & > div {
    word-break: break-word;
  }

  & > div:nth-of-type(1) {
    flex-basis: 30px;
  }
  & > div:nth-of-type(2) {
    max-width: 200px;
    flex-grow: 1;

    @include viewportLargeWithPaddings {
      width: 30%;
      max-width: 250px;
    }

    @include viewportSLarge {
      max-width: 280px;
    }
  }
  & > div:nth-of-type(3) {
    flex-basis: 50px;
  }
  & > div:nth-of-type(4) {
    text-align: right;
    flex-basis: 120px;
  }
  & > div:nth-of-type(5) {
    text-align: right;
    flex-basis: 140px;
  }
}

.root {
  margin: 32px 0;
}

.tableContainer {
  border-radius: 8px;
  overflow: hidden;

  .tableHead {
    color: $neutralGray1;
    background-color: $neutralGray5;
    @include textTemplate(14px, 700, 20px);
    @include tableColumnsLayout;
  }

  .tableBody {
    .row {
      @include tableColumnsLayout;
      border: 1px solid $neutralGray3;
      border-top: none;

      &:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.foodNameContainer {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.foodNoteContainer {
  display: flex;
  max-width: 240px;
  flex-direction: column;
  row-gap: 4px;

  & div {
    @include lineClamp(1);
  }
}

.noteIconContainer {
  display: inline-flex;
}

.tooltipOverlay :global(.rc-tooltip-inner) {
  max-width: 320px;
  border-radius: 8px;
  padding: 8px;
}

.tooltipOverlay :global(.rc-tooltip-arrow) {
  border-color: $neutralGray6;
  border-right-color: $neutralGray1;
  border-left-color: $neutralGray1;
}
