@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  padding: 16px;

  @include viewportMedium {
    position: sticky;
    top: 85px;
    border-radius: 16px;
    background-color: $neutralGray1;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
      0px 20px 24px -4px rgba(16, 24, 40, 0.1);
  }

  .title {
    @include textTemplate(16px, $fontWeightSemiBold, 24px);

    @include viewportLarge {
      @include textTemplate(20px, 700, 32px);
    }

    &.adminTitle {
      font-size: 18px;
      text-transform: none;
    }
  }

  .inforWrapper {
    border: 1px solid $neutralGray5;
    border-radius: 8px;
    padding: 12px;
    margin-top: 12px;

    @include viewportLarge {
      border: 0;
      padding: 0;
    }
  }

  .feeContainer {
    .feeItem {
      position: relative;
      margin-top: 12px;

      &:first-child {
        margin-top: 0;
      }

      @include viewportLarge {
        padding: 24px 0 8px;
        margin: 0;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;

          content: '';
          background-color: $neutralGray3;
        }
      }

      .feeItemContainer {
        display: flex;
        justify-content: space-between;

        .label {
          @include textTemplate(12px, 600, 16px);
          display: flex;
          align-items: center;
          column-gap: 8px;

          .VATBadge {
            span {
              color: $neutralGray6;
            }
          }
        }

        .totalWithoutVATLabel,
        .fee {
          @include textTemplate(14px, 700, 20px);
        }

        &.VATItemContainer {
          color: $neutralGray6;
        }
      }

      .totalWithVATLabel {
        text-align: right;
        @include textTemplate(14px, 700, 20px);
        margin-bottom: 4px;
      }

      .totalWithVAT {
        text-align: right;
        @include textTemplate(24px, 700, 32px);
      }

      .PITOPoints {
        text-align: right;
        color: $primaryPri2;
        @include textTemplate(14px, 700, 20px);
      }

      .totalDescription {
        margin-top: 4px;
        text-align: right;
        color: $neutralGray6;
        @include textTemplate(12px, 600, 16px);
      }
    }

    .totalPrice {
      @include flexAlign(normal, space-between);
      padding-top: 8px;
      border-top: 1px solid $neutralGray3;
      margin-top: 12px;
      padding-bottom: 8px;
      border-bottom: 1px solid $neutralGray3;

      @include viewportLarge {
        display: block;
        border-top: none;
      }

      .totalWithVATLabel {
        text-align: right;
        @include textTemplate(14px, $fontWeightSemiBold, 20px);
        margin-bottom: 4px;

        @include viewportLarge {
          font-weight: $fontWeightBold;
        }
      }

      .priceWrapper {
        text-align: right;
        .totalWithVAT {
          @include textTemplate(18px, 700, 24px);

          @include viewportLarge {
            font-size: 24px;
          }
        }

        .totalDescription {
          margin-top: 4px;
          text-align: right;
          color: $neutralGray6;
          @include textTemplate(12px, $fontWeightRegular, 16px);
        }
      }
    }
  }

  .downloadPriceQuotation {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 20px;
    color: $labelBlue2;
    @include textTemplate(14px, 700, 24px);

    &:hover {
      background-color: transparent;
    }

    &.downloadingPriceQuotation {
      cursor: not-allowed;
    }

    button {
      margin-top: 0px;
    }
  }

  .makePaymentButton {
    width: 100%;
    margin: 16px 0;
  }

  .overflowPackageInfo {
    color: $sematicRed2;
    @include textTemplate(12px, 600, 16px);
  }
}

.loading {
  width: 100%;
  border-radius: 8px;
  height: 300px;
  margin-top: 12px;
}

.iconInfoWrapper {
  @include flexAlign(center);
}
