@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  @include formContainer;
  margin: 0 auto;
  width: fit-content;
  row-gap: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  border-radius: 16px;
}

.content {
  @include flexCenter;
  flex-direction: column;
  max-width: 516px;
  margin: 48px auto;
}

.modalMessage {
  text-align: center;
}

.error {
  color: $sematicRed2;
}

.divider {
  width: 100%;
  border-bottom: 2px solid $neutralGray3;
  margin-top: 24px;
  margin-bottom: 24px;
}
