@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  @include formContainer;
  margin: 0 auto;
  width: fit-content;
  row-gap: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  border-radius: 16px;
}

.error {
  color: $errorRed7;
}

.bottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
