@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.fieldTitle {
  @include text(18px, 24px);
  font-weight: $fontWeightBold;
}

.fieldGroups {
  margin-top: 16px;
}

.groupSetup {
  @include text(14px, 24px);
  color: $neutralGray7;
  font-weight: $fontWeightBold;
  margin-top: 12px;
  display: block;
}
