@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  @include flexAlign(flex-start, space-between);
  background: $neutralGray1;
  box-shadow: $boxShadowMD;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;

  .title {
    font-size: 14px;
    font-weight: $fontWeightBold;
    line-height: 24px;
  }
  .sideDishesContent {
    font-weight: $fontWeightRegular;
    color: $neutralGray6;
    .boldText {
      font-weight: $fontWeightBold;
    }
  }

  .buttonClose {
    min-width: 20px;
    min-height: 20px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    .iconClose {
      width: 12px;
      height: 12px;
    }
  }
}
