@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.foodPickContainer {
  display: flex;
}

.modal {
  flex-basis: 1100px !important;
  max-height: 887px !important;
  position: relative;
}

.modalContent {
  overflow: hidden;
}

.tableContainer {
  flex: 1;
  padding-right: 24px;
  border-right: 1px solid $neutralGray2;
}

.tableWrapper {
  overflow-y: auto;
  height: 500px;
  max-width: 600px !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.pickedFoodContainer {
  flex: 0.7;
  padding-left: 24px;
}

.pickedFoodWrapper {
  overflow-y: auto;
  position: relative;
  height: 500px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.listChoosenFoods {
  min-height: 100%;
}

.modalButton {
  display: flex;
  background-color: $neutralGray1;
  position: sticky;
  bottom: -1px;
  justify-content: center;
  flex-direction: column;
}

.buttonWrapper {
  width: 100%;
  @include flexCenter;
}

.button {
  width: 252px;
}

.keywordForm {
  margin-bottom: 26px;
}

.tableBodyCell {
  padding-left: 0 !important;
  vertical-align: top;
  &:last-child {
    text-align: right !important;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}

.tableHeadCell:nth-child(1) {
  width: 30px;
}

.title {
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: $fontWeightBold;
  position: relative;
  &::after {
    content: '';
    width: 37px;
    height: 2px;
    left: 0;
    bottom: -8px;
    position: absolute;
    background-color: $neutralGray6;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.loadingContainer {
  min-height: 300px;
}

.titleRow {
  font-weight: $fontWeightBold;
  color: $neutralGray6;
  margin-top: 7px;
}

.sideDishiesIconCheckboxWrapper {
  margin-right: 10px !important;
}

.sideDishiesCheckbox {
  label {
    &:nth-child(2) {
      margin-top: 10px !important;
    }
  }
}

.sideDishiesCheckbox label {
  display: flex;
  font-size: 12px;
  align-items: unset !important;
  span {
    height: 20px !important;
  }
  svg {
    width: 12px !important;
    height: 12px !important;
  }
}

.tableHeadRow {
  background-color: transparent !important;

  .tableHeadCell {
    color: $neutralGray5 !important;
    font-weight: $fontWeightRegular !important;
    font-size: 12px !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    svg {
      width: 16px;
      height: 16px;
    }
    &:last-child {
      text-align: right !important;
    }
  }
}

.description {
  font-size: 14px;
  color: $neutralGray5;
}
