@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  @include flexAlign(center, flex-start);
  flex-direction: column;

  .avatar {
    width: 120px;
    height: 120px;

    .uploadAvatarWrapper {
      .label {
        width: 100%;
      }
    }
    .uploadAvatarInput {
      display: none;
    }
    .avatarContainer {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      position: relative;

      .camera {
        width: 44px;
        height: 44px;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        background-color: $neutralGray1;
        @include flexCenter;
        border-radius: 100%;
        box-shadow: $boxShadowMD;
      }
    }

    .avatarPlaceholder {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      position: relative;
      background-image: linear-gradient(-180deg, #ef3d2a 0%, #ef3d2a 100%);

      .camera {
        width: 44px;
        height: 44px;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        background-color: $neutralGray1;
        @include flexCenter;
        border-radius: 100%;
        box-shadow: $boxShadowMD;
      }

      .textLabel {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        @include textTemplate(28px, $fontWeightBold, 36px);
        color: $neutralGray1;
      }
    }

    .uploadingImage {
      width: 120px;
      height: 120px;

      img {
        border-radius: 100%;
      }
    }

    .thumbnailLoading {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(211, 211, 211, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }

  .profile {
    @include flexAlign(flex-start);
    gap: 32px;
    flex-wrap: wrap;
    width: 632px;

    .fieldInput {
      width: 300px;
      input {
        @include textTemplate(14px, $fontWeightMedium, 24px);
      }

      .label {
        @include textTemplate(14px, $fontWeightMedium, 24px);
      }
    }
  }
}

.avatarImg {
  width: 120px;
  height: 120px;
}

.avatarInvisible {
  visibility: hidden;
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.userName {
  @include textTemplate(20px, $fontWeightBold, 32px);
  text-align: center;
  margin-top: 12px;

  @include viewportMedium {
    display: none;
  }
}
