@use '/src/styles/vars.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.field {
  max-width: 312px;
}

.button {
  width: 164px;
}

.percentage {
  border-left: 1px solid $neutralGray5;
  padding: 0 10px;
  color: $neutralGray5;
  font-size: 14px;
  width: 30px !important;
}
