@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.header {
  border-bottom: 1px solid $neutral4;
  @include flexAlign(center, space-between);
  padding: 24px;

  .leftHeader {
    @include flexAlign(flex-start);
    flex-direction: column;

    .title {
      margin: 0;
      @include text(24px, 32px);
    }

    .description {
      margin: 0;
      @include text(16px, 24px);
    }
  }

  .rightHeader {
    .addMemberBtn {
      width: 200px;

      .plusIcon {
        margin-right: 10px;
      }
    }
  }
}

.tableContainer {
  padding: 24px;

  .tableRoot {
    width: 100%;
    border: 1px solid $neutral4;
    border-radius: 8px;
    border-spacing: 0;

    .tableHead {
      height: 40px;
      tr {
        td {
          background-color: $neutralGray2;
          padding: 0 16px;
          font-size: 16px;
          color: $neutralGray8;
        }
      }

      .tableHeadCell {
        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }

    .tableHeadMemberOrder {
      :nth-child(4),
      :nth-child(5) {
        text-align: right;
      }
    }

    .tableBody {
      .tableBodyRow {
        box-shadow: none;
        border-bottom: 1px solid $neutralGray3;
        height: 64px;

        :nth-child(3),
        :nth-child(4) {
          text-align: left;
        }

        .tableBodyCell {
          padding: 9px 16px;
          font-size: 16px;
          color: $matterColorDark;
          border-bottom: 1px solid $neutralGray4;
        }
        &:last-child .tableBodyCell {
          border-bottom: none;
        }
      }
      .tableBodyRowMemberOrder {
        :nth-child(4),
        :nth-child(5) {
          text-align: right;
        }
      }
    }
  }
}

.deleteBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.clickable {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $neutralGray5;
  }
}
