@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: grid;
  grid-template-columns: 1fr;

  .titlePart {
    grid-column: 1 / span 2;
  }

  .leftPart,
  .rightPart {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .rightPart {
    .container {
      padding: 16px;
      border-radius: 16px;

      background-color: $neutralGray1;
      outline: 1px solid $neutralGray4;
      outline-offset: -1px;

      & > div:first-of-type {
        @include textTemplate(18px, 700, 4/3);
      }
    }
  }

  @include viewportMedium {
    grid-template-columns: 1fr 320px;
    column-gap: 40px;
    row-gap: 28px;
    padding: 40px 130px;
    max-width: calc(1180px + 130px * 2);
    margin: 40px auto;
  }
}
