@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.subOrdersWrapper {
  @include flexAlign(flex-start, center);
  flex-direction: column;
  gap: 16px;

  @include viewportMedium {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include viewportSLarge {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

.emptySubOrders {
  margin: 124px auto 0;
}
