@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: relative;
  background-image: url('../../../../assets/companyHeroBackground.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 72px;
  @include flexAlign(center, center);

  @include viewportMedium {
    padding-bottom: 20%;
    min-height: 476px;
    max-height: unset;
    overflow: hidden;
    margin-bottom: 0;
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .content {
    top: unset;
    bottom: -84px;
    z-index: 1;
    left: 0;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    @include viewportMedium {
      position: absolute;
      width: initial;
      top: 50%;
      bottom: unset;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      overflow: hidden;
    }

    .title {
      z-index: 1;
      width: max-content;
      max-width: min(1200px, 90vw);
      text-align: center;
      margin: 24px 0 16px 0;
      color: $neutralGray1;
      height: 100%;
      @include textTemplate(18px, 700, 32px);
      @include viewportMedium {
        margin: 0 0 40px 0;
        @include textTemplate(48px, 700, 56px);
      }

      .whatMeal {
        display: none;

        @include viewportMedium {
          display: inline;
        }
      }
    }

    .homePageMealLinks {
      display: flex;
      height: 100%;
      width: 100%;
      gap: 8px;
      overflow: auto;
      padding: 0 16px 24px;
      justify-content: space-between;
      margin-bottom: -80px;

      @include viewportMedium {
        width: unset;
        justify-content: center;
        padding: 0;
        gap: 20px;
        margin-bottom: 0;
      }

      .homePageLink {
        background-color: $neutralGray1;

        border-radius: 12px;
        @include flexAlign(center, space-between);
        flex-direction: column;
        flex: 1;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        padding: 6px;
        gap: 8px;
        box-shadow: 0px 16px 20px -4px #1018281a;
        max-height: 128px;

        @include viewportMedium {
          min-width: 200px;
          max-width: 200px;
          height: 164px;
          flex-grow: 0;
          padding: 16px;
          aspect-ratio: unset;
          box-shadow: none;
          max-width: unset;
          max-height: unset;
        }

        &.homePageLinkDisabled {
          cursor: not-allowed;
        }

        .imageWrapper {
          position: relative;
          width: 100%;
          height: calc(100% - 28px);
          min-height: calc(100% - 28px);
          max-height: calc(100% - 28px);
          border-radius: 8px;
          overflow: hidden;
        }

        .image {
          object-fit: cover;

          @include viewportMedium {
            max-height: 100px;
          }
        }
        .label {
          text-align: center;
          color: $neutralGray7;
          font-weight: $fontWeightBold;
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}
