@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: relative;
  background-image: url('../../assets/companyHeroBackground.png');
  min-height: 476px;
  background-size: cover;
  background-position: center;
  padding-bottom: 40%;
  overflow: hidden;
  @include flexAlign(center, center);

  @include viewportMedium {
    padding-bottom: 20%;
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .content {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    width: 100vw;
    @include viewportMedium {
      width: initial;
    }

    .title {
      z-index: 1;
      width: max-content;
      max-width: min(1200px, 90vw);
      text-align: center;
      margin: 0 0 40px 0;
      color: $neutralGray1;
      height: 100%;
      @include textTemplate(34px, 700, 56px);
      @include viewportMedium {
        font-size: 48px;
      }
    }
    .homePageMealLinks {
      display: flex;
      height: 100%;
      gap: 20px;
      overflow: auto;
      padding: 0 24px;

      @include viewportMedium {
        justify-content: center;
        width: 100%;
        padding: 0;
      }

      .homePageLink {
        background-color: $neutralGray1;
        padding: 16px;

        border-radius: 12px;
        @include flexAlign(center, space-between);
        flex-direction: column;
        flex-shrink: 0;
        width: 320px;
        height: 224px;
        cursor: pointer;

        @include viewportMedium {
          width: 200px;
          height: 164px;
        }

        .image {
          width: 100%;
          position: relative !important;
          max-height: 160px;

          @include viewportMedium {
            max-height: 100px;
          }
        }
        .label {
          text-align: center;
          color: $neutralGray7;
          font-weight: $fontWeightBold;
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}
