@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  align-items: center;
  display: flex;
  .searchInput {
    width: 100%;
    @include viewportLarge {
      width: 400px;
    }
    margin-right: 10px;
  }
  .searchButton {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconSearch {
      width: 30px;
      fill: $matterColorLight;
    }
  }
}
