@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.container {
  @include flexAlign(flex-start);
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.reviewWrapper {
  .reviewerName {
    @include textTemplate(12px, $fontWeightSemiBold, 16px);
    color: $neutralGray6;
  }

  .generalRating {
    @include textTemplate(14px, $fontWeightSemiBold, 20px);
  }

  .detailRating {
    @include flexAlign(center);
    @include textTemplate(14px, $fontWeightSemiBold, 20px);
    margin-top: 8px;

    .faceIcon {
      width: 16px;
      height: 16px;

      path {
        fill: $neutralGray7;
      }
    }

    .label {
      color: $neutralGray6;
      margin-left: 7px;
    }

    .value {
      margin-left: 4px;
    }
  }

  .textReview {
    margin-top: 8px;
    @include textTemplate(14px, $fontWeightRegular, 20px);
    color: $neutralGray6;

    span {
      font-weight: $fontWeightSemiBold;
    }
  }

  .detailTextRating {
    color: $neutralGray7;
    margin-top: 16px;
  }

  .foodName {
    font-size: 12px;
  }

  .reviewAt {
    margin-top: 8px;
    @include textTemplate(12px, $fontWeightRegular, 16px);
    color: $neutralGray6;
  }
}
