@use '/src/styles/vars.scss' as *;
@use '/src/styles/defaults.scss' as *;

.label {
  @include inputLabelStyles;
}

.dayPicker {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 7px;
  .dayButton {
    border: 1px solid $neutralGray5;

    padding: 7px 16px;
    margin-right: 4px;
    font-size: 15px;
    color: $neutralGray6;
    border-radius: 20px;
    cursor: pointer;
    &.disabled {
      border-color: $neutralGray3;
      color: $neutralGray3;
      pointer-events: none;
    }
    &.active {
      border: 2px solid $neutralGray7;

      font-weight: $fontWeightBold;
      color: $neutralGray7;
    }
    * {
      cursor: pointer;
    }
  }
}
