@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 16px;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    background-color: $neutralGray5;
    width: 100%;
  }

  .row {
    display: flex;
    column-gap: 8px;

    &:first-of-type {
      margin-bottom: 10px;
    }

    .settingIcon {
      width: 20px;
      height: 20px;
    }
  }

  .settingBtn {
    cursor: pointer;
  }
}

.buttonContainer {
  display: flex;
  column-gap: 16px;

  & > button {
    @include textTemplate(14px, 700, 24px, '');
  }

  .recommendNewRestaurantBtn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    min-height: 44px;
  }
}

.calendarContainer {
  padding-top: 28px;
}

.orderTitle {
  @include text(24px, 32px);
  font-weight: $fontWeightBold;
}

.confirmOrderDetailChanged.confirmOrderDetailChanged {
  padding: 16px 24px;
  max-width: 343px;
  .modalIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }

  .confirmOrderDetailChangedChildren {
    padding-bottom: 12px;
  }

  .description {
    text-align: center;
    color: $neutralGray7;
    @include textTemplate(16px, 400, 24px);
  }
}
