@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.formRoot {
  padding: 16px;
  max-width: 320px;
  border-radius: 16px;
  border: 1px solid $neutralGray5;
  background: $neutralGray1;

  @include viewportLarge {
    flex-basis: 320px;
    min-width: 320px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .formTitle {
    @include textTemplate(18px, 700, 24px);
  }

  .dateInput {
    input {
      @include inputStyles;
      width: 100%;
      padding-left: 48px !important;
    }
  }
}
