@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.formRoot {
  background: $neutralGray1;

  @include viewportMedium {
    padding: 16px;
    max-width: 320px;
    border-radius: 16px;
    border: 1px solid $neutralGray5;
  }

  @include viewportLarge {
    flex-basis: 320px;
    min-width: 320px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .formTitle {
    display: none;
    @include textTemplate(18px, 700, 24px);

    @include viewportMedium {
      display: block;
    }
  }

  .dateInput {
    input {
      @include inputStyles;
      width: 100%;
      padding-left: 48px !important;
    }
  }
}

.mobileModalContainer.mobileModalContainer {
  padding-bottom: 32px;
}

.mobileDeadlineInfo {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  column-gap: 8px;
  border-radius: 8px;
  border: 1px solid $neutralGray5;
  background-color: $neutralGray1;
  margin-bottom: 24px;
  margin-top: 8px;
  @include textTemplate(16px, 400, 1.5);
}

.sendNotificationButton {
  width: 100%;
}
