@use '/src/styles/vars' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  padding: 12px 8px;
  border-radius: 8px;
  background-color: $labelBlue1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  @include viewportXSmall {
    flex-direction: row;
  }

  .desktopLightIcon {
    display: none;
    min-width: 24px;

    @include viewportMedium {
      display: block;
    }
  }

  .importTipTitle {
    @include textTemplate(16px, 600, 24px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .mobileLightIcon {
      width: 16px;
      height: 16px;

      @include viewportMedium {
        display: none;
      }
    }
  }

  .importTipContent {
    @include textTemplate(14px, 400, 24px);
  }

  strong {
    cursor: pointer;
    a {
      color: $neutralGray7;
    }
  }

  .uploadFileButton {
    display: flex;
    flex-direction: row;
    min-width: 146px;
    min-height: unset;
    padding: 10px 20px;
    column-gap: 8px;

    @include textTemplate(14px, 700, 24px);
  }

  input {
    display: none;
  }
}
