@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
}

.main {
  height: 100%;
  padding: 50px 24px;
  display: flex;
}

.calendar {
  width: calc(100vw - 48px);

  @include viewportLargeWithPaddings {
    width: 100%;
  }
}
