@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  @include flexAlign(center, space-between);
  flex-direction: column;
  padding: 24px;
  gap: 38px;

  .title {
    @include textTemplate(24px, $fontWeightBold, 32px);
  }

  .tickIcon {
    width: 65px;
    height: 65px;
  }

  .btn {
    width: calc(100% - 52px);
  }
}
