{
 :format      :v3
 :transitions [
               {
                :name        :transition/initiate-transaction,
                :actor       :actor.role/customer,
                :actions     [{:name :action/create-booking} {:name :action/privileged-update-metadata}
                              ]

                :to          :state/initiated
                :privileged? true
                }
               {
                :name    :transition/operator-cancel-plan,
                :actor   :actor.role/operator,
                :actions [{:name :action/decline-booking}],
                :from    :state/initiated
                :to      :state/canceled
                }
               {
                :name    :transition/partner-reject-sub-order,
                :actor   :actor.role/operator,
                :actions [],
                :from    :state/initiated
                :to      :state/partner-rejected
                }
               {
                :name    :transition/operator-cancel-after-partner-rejected,
                :actor   :actor.role/operator,
                :actions [{:name :action/decline-booking}],
                :from    :state/partner-rejected
                :to      :state/canceled
                }
               {
                :name    :transition/operator-cancel-after-partner-confirmed,
                :actor   :actor.role/operator,
                :actions [{:name :action/cancel-booking}],
                :from    :state/partner-confirmed
                :to      :state/canceled
                }
               {
                :name    :transition/expired-start-delivery,
                :actor   :actor.role/operator,
                :actions [],
                :from    :state/initiated
                :to      :state/failed-delivery
                }
               {
                :name    :transition/partner-confirm-sub-order,
                :actor   :actor.role/operator,
                :actions [{:name :action/accept-booking}],
                :from    :state/initiated
                :to      :state/partner-confirmed
                }
               {
                :name    :transition/start-delivery,
                :actor   :actor.role/operator,
                :actions [],
                :from    :state/partner-confirmed
                :to      :state/delivering
                }
               {
                :name    :transition/expired-delivery,
                :actor   :actor.role/operator,
                :actions [{:name :action/decline-booking}],
                :from    :state/delivering
                :to      :state/failed-delivery
                }
               
               {
                :name    :transition/cancel-delivery,
                :actor   :actor.role/operator,
                :actions [{:name :action/cancel-booking}],
                :from    :state/delivering
                :to      :state/failed-delivery
                }
               {
                :name    :transition/complete-delivery,
                :actor   :actor.role/operator,
                :actions [],
                :from    :state/delivering
                :to      :state/completed
                }
               {
                :name    :transition/review-restaurant,
                :actor   :actor.role/operator,
                :actions [{:name :action/post-review-by-customer}
                          {:name :action/publish-reviews}],
                :from    :state/completed
                :to      :state/reviewed
                }
               {
                :name    :transition/expired-review-time,
                :at      {:fn/plus [
                                    {:fn/timepoint [:time/first-entered-state :state/completed]}
                                    {:fn/period ["P14D"]}]}
                :actions [],
                :from    :state/completed
                :to      :state/expired-review
                }
               {
                :name    :transition/review-restaurant-after-expire-time,
                :actor   :actor.role/operator,
                :actions [{:name :action/post-review-by-customer}
                          {:name :action/publish-reviews}],
                :from    :state/expired-review
                :to      :state/reviewed
                }
               ]
 }