@use '/src/styles/vars.scss' as *;

.actionButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.boldText {
  font-weight: $fontWeightSemiBold;
}

.removeContent {
  color: $neutralGray7;
  margin: 0;
}

.tableBodyCell > * {
  font-size: 16px;
}
