@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 32px 8px 0;
  width: 100%;

  @include viewportLarge {
    padding-top: 48px;
  }
}

.content {
  @include formContainer;

  margin: 0 auto;
  width: fit-content;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.name {
  color: $labelBlue2;
}

.bottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background: $neutralGray5;
  padding: 24px 16px;

  & > .modalHelperText {
    margin: 0;
  }

  @include viewportMedium {
    width: min(450px, calc(150% / 2));
  }

  @include viewportLarge {
    padding: 32px 24px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.resendEmailLink {
  color: $labelBlue2;
  font-weight: $fontWeightBold;
  cursor: pointer;
}

.toHomePageLink {
  color: $labelBlue2;
  font-weight: $fontWeightBold;
  cursor: pointer;
}

.error {
  color: $sematicRed2;
}
