@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 40px;
  width: 100%;

  @include viewportLarge {
    padding-top: 48px;
  }
}

.content {
  @include flexCenter;
  flex-direction: column;
  max-width: 516px;
  margin: 48px auto;
}

.name {
  color: $labelBlue2;
}

.bottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background: $neutralGray5;
  padding: 24px 16px;

  & > .modalHelperText {
    margin: 0;
  }

  @include viewportMedium {
    width: min(450px, calc(150% / 2));
  }

  @include viewportLarge {
    padding: 32px 24px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.resendEmailLink {
  color: $labelBlue2;
  cursor: pointer;
}

.toHomePageLink {
  color: $labelBlue2;
  font-weight: $fontWeightBold;
  cursor: pointer;
}

.error {
  color: $sematicRed2;
}

.modalTitle {
  text-align: center;
  @include textTemplate(32px, $fontWeightBold, 48px);
}

.modalMessage {
  text-align: center;
}

.divider {
  width: 100%;
  border-bottom: 2px solid $neutralGray3;
  margin-top: 24px;
}

.continueBtn {
  margin-top: 24px;
  margin-bottom: 24px;
}
