@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 32px 16px 16px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  row-gap: 55px;
  justify-content: space-between;

  @include viewportMedium {
    padding-top: 48px;
  }
}

.formContainer {
  margin: 0 auto;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include viewportMedium {
    max-width: 375px;
  }
}

.formTitle {
  color: $neutralGray6;
  @include textTemplate(24px, $fontWeightBold, 32px);

  @include viewportMedium {
    font-size: 32px;
  }
}

.policyText {
  @include textTemplate(14px, $fontWeightRegular, 20px);
  color: $neutralGray5;
}

.privacyPolicyText {
  cursor: pointer;
}

.haveAccountContainer {
  margin-bottom: 24px;
}

.errorSignUp {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  color: $sematicRed2;
}

.submitButton {
  background-color: $primaryPri2;
  color: $neutralGray1;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 8px;
  width: calc(100% - 32px);
  margin: 0 auto;

  @include viewportMedium {
    width: 100%;
  }
}

.desktopView {
  display: none;

  @include viewportMedium {
    margin-top: 40px;
    display: block;
  }
}

.toSignIn {
  color: $primaryPri2;
  cursor: pointer;
}
