@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  width: 100%;
  padding: 0;

  @include viewportMedium {
    padding: 20px 0;
  }
}

.formContainer {
  margin: 0 auto;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;

  @include viewportMedium {
    padding: 28px 32px;
    width: 480px;
    background-color: white;
    box-shadow: 4px 4px 35.1px -4px rgba(16, 24, 40, 0.1);
  }
}

.formTitle {
  color: $neutralGray7;
  @include textTemplate(24px, $fontWeightBold, 32px);
  text-align: center;
  margin-bottom: 10px;

  @include viewportMedium {
    @include textTemplate(28px, $fontWeightBold, 36px);
  }
}

.policyText {
  @include textTemplate(14px, $fontWeightRegular, 20px);
  color: $neutralGray7;
}

.privacyPolicyText {
  cursor: pointer;
  font-weight: 700;
  color: #039ee1;
  text-decoration: underline;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.haveAccountContainer {
  margin: 8px 0px 12px;
  @include textTemplate(14px, 400, 20px);
  text-align: center;

  .toSignIn {
    color: $neutralGray7;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      opacity: 0.8;
    }
  }

  @include viewportMedium {
    margin: 6px 0px 12px;
  }
}

.errorSignUp {
  @include textTemplate(14px, 400, 20px);
  margin-top: 4px;
  text-align: left;
  color: $sematicRed2;
}

.submitButton {
  margin-top: 28px;
  width: 100%;

  @include viewportMedium {
    margin-top: 24px;
  }
}

.mobileView {
  display: block;

  @include viewportMedium {
    display: none;
  }
}

.errorClass {
  margin-bottom: 0;
  margin-top: 8px;
}

.invitationText {
  @include textTemplate(12px, 400, 16px);
  color: $neutralGray7;
  margin-top: -8px;

  .changeEmailLink {
    cursor: pointer;
    font-weight: 600;
    color: #039ee1;
    text-decoration: underline;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
