@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: flex;
  width: 100%;
  align-items: flex-start;
  column-gap: 50px;
  @include viewportLarge {
    column-gap: 0;
    align-items: center;
  }
}

.link {
  align-items: center;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}

.tab {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.line {
  max-width: 50px;
  margin: 0 32px 0 32px;
  width: 100%;
  height: 1px;
  background-color: $neutralGray5;
  display: none;
  @include viewportLarge {
    display: block;
  }
}

.order {
  min-width: 25px;
  border-radius: 50%;
  min-height: 25px;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  color: $neutralGray10;
  background-color: $neutralGray3;
  margin-bottom: 5px;
  border: 1px solid $neutralGray5;
}

.selectedLink {
  .order {
    border: none;
  }
  .linkText {
    display: flex;
  }
}

.linkText {
  display: none;
  text-align: center;
  @include viewportLarge {
    display: flex;
  }
  color: $neutralGray7;
  font-weight: $fontWeightMedium;
}

.selectedLink {
  .order {
    color: $matterColorLight;
    background-color: $primaryPri5;
  }
  .linkText {
    color: $neutralGray9;
  }
}
