.formRoot {
  padding: 16px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.stopReceiveOrderToggle,
.activeAppToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stopReceiveOrderToggle {
  margin-bottom: 12px;
}
