@use '/src/styles/vars.scss' as *;

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  color: $neutralGray5;
  padding: 10px 0;
  font-size: 14px;
  fill: $neutralGray5;
  min-height: fit-content;
  border: 1px solid $neutralGray4;
  .iconAdd {
    svg {
      margin-right: 10px;
    }
  }
}

.noFood {
  font-size: 14px;
  color: $neutralGray5;
  text-align: center;
}
