@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;

  /* Display the "check" when checked */
  &:checked + label .checked {
    display: inline;
  }

  /* Highlight the borders if the checkbox is hovered, focused or checked */
  &:hover + label .notChecked,
  &:hover + label .required,
  &:focus + label .notChecked,
  &:focus + label .required,
  &:checked + label .required {
    stroke: $matterColorDark;
  }

  &:checked + label .notChecked {
    stroke: none;
  }

  /* Hightlight the text on checked, hover and focus */
  &:focus + label .text,
  &:hover + label .text,
  &:checked + label .text {
    color: $matterColorDark;
  }
}

.label {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.radioButtonWrapper {
  /* This should follow line-height */
  margin-right: 12px;
  align-self: baseline;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkedStyle {
  stroke: $neutralGray10;

  circle:nth-child(2) {
    fill: $neutralGray10;
  }
}

.checked {
  display: none;
}

.notChecked {
  stroke: $neutralGray5;
  &:hover {
    stroke: $neutralGray5;
  }
}

.required {
  stroke: $neutralGray5;
  &:hover {
    stroke: $neutralGray5;
  }
}

.text {
  color: $neutralGray10;
  @include textTemplate(14px, 400, 24px, '');
  cursor: pointer;
}
