@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/rc-tooltip.scss' as *;
@use '/src/styles/rc-pagination.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  color: $neutralGray7;

  padding-bottom: env(safe-area-inset-bottom);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: 0;
  font-family: inherit;
}

table {
  overflow: hidden;
}
/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
    ========================================================================== */

/*
  * Remove the tapping delay on clickable elements (opinionated).
  * 1. Remove the tapping delay in IE 10.
  */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation;
  border: none;
}

/**
  * Add the correct display in IE 10-.
  */

[hidden] {
  display: none;
}

/* ARIA (https://w3c.github.io/html-aria/)
    ========================================================================== */

/**
  * Change the cursor on busy elements (opinionated).
  */

[aria-busy='true'] {
  cursor: progress;
}

/*
  * Change the cursor on control elements (opinionated).
  */

[aria-controls] {
  cursor: pointer;
}

/*
  * Change the display on visually hidden accessible elements (opinionated).
  */

[aria-hidden='false'][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements (opinionated).
  */

[aria-disabled] {
  cursor: default;
}

select {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  /* Unset user agent styles */
  appearance: none;
  cursor: pointer;
  /* Background */
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="9" viewBox="0 0 14 9" xmlns="http://www.w3.org/2000/svg"><path d="M6.53 7.472c.26.26.68.26.94 0l5.335-5.333c.26-.263.26-.684 0-.944-.26-.26-.683-.26-.943 0L7 6.056l-4.862-4.86c-.26-.26-.683-.26-.943 0-.26.26-.26.68 0 .943L6.53 7.47z" stroke="%23262626" fill="%23262626" fillRule="evenodd"/></svg>');
  background-size: 16px 16px;
  background-position: center right 16px;
  background-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.three-line-text {
  @include lineClamp(3, 1.5rem);
}

.one-line-text {
  @include lineClamp(1, 1.5rem);
}
