@use '/src/styles/vars.scss' as *;

$transitionStyleButton: ease-in-out 0.1s;
$buttonBorderRadius: 8px;

@mixin buttonFont {
  font-weight: $fontWeightSemiBold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* Button text styles */
/* Default button text is centered without decorations */
@mixin buttonText {
  text-align: center;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin buttonBorders {
  border: none;
  border-radius: $buttonBorderRadius;
}

@mixin button {
  display: block;
  width: auto;
  margin: 0;
  /* Padding is only for <a> elements where button styles are applied,
  buttons elements should have zero padding */
  padding: 8px 16px;

  transition: all $transitionStyleButton;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }
}

@mixin buttonColorPrimary {
  background: $primaryPri5;
  color: $neutralGray1;

  &:focus,
  &:hover {
    background: $primaryPri4;
  }

  &:disabled {
    color: $neutralGray6;
    background: $neutralGray5;
    border: 1px solid $neutralGray3;
  }
}

@mixin buttonColorSecondary {
  background: transparent;
  color: $neutralGray10;
  border: 1px solid $neutralGray10;
  &:focus,
  &:hover {
    border-color: $primaryPri5;
    color: $primaryPri5;
  }

  &:disabled {
    color: $neutralGray6;
    border: 1px solid $neutralGray3;
  }
}

@mixin buttonTextColor {
  background: transparent;
  color: $primaryPri5;
  border: none;
  &:focus,
  &:hover {
    background: transparent;
    border: 1px solid $primaryPri5;
  }

  &:disabled {
    color: $neutralGray6;
    border: 1px solid $neutralGray3;
  }
}

// Layout mixins

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlign($align, $content: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}

/* css for text
  $size: font-size
  $lh: line-height
  $ls: letter-spacing
*/
@mixin text($size, $lh: 1, $ls: 0px) {
  font-size: $size;
  line-height: $lh;
  letter-spacing: $ls;
}
