@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

$transitionStyleButton: ease-in-out 0.1s;
$buttonBorderRadius: 8px;

@mixin formContainer {
  padding: 24px 16px;
  background-color: $neutralGray1;
  border-radius: 16px 16px 0 0;

  @include viewportMedium {
    padding: 24px;
    width: min(450px, calc(150% / 2));
  }

  @include viewportLarge {
    padding: 24px 32px;
  }

  & input {
    width: 100%;
  }
}

@mixin buttonFont {
  font-weight: $fontWeightBold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: $fontFamily;
}

/* Button text styles */
/* Default button text is centered without decorations */
@mixin buttonText {
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin buttonBorders {
  border: 1px solid transparent;
  border-radius: $buttonBorderRadius;
}

@mixin buttonColorPrimary {
  background-color: $neutralGray7;
  color: $neutralGray1;

  .spinner {
    width: 24px;
    height: 24px;
    stroke: $neutralGray1;
    stroke-width: 3px;
  }

  &:hover {
    background-color: rgba($neutralGray7, 0.95);
    border-color: rgba($neutralGray7, 0.95);
    color: $neutralGray1;

    .spinner,
    svg {
      stroke: inherit;
    }

    // path {
    //   fill: $neutralGray1;
    // }
  }

  &:disabled {
    background-color: $neutralGray6;
    color: $neutralGray1;
    border-color: $neutralGray6;
    cursor: not-allowed;
  }

  &.inProgress {
    background-color: $neutralGray7;
    border-color: $neutralGray7;
    color: $neutralGray1;
    cursor: progress;

    .spinner {
      stroke: $neutralGray1;
    }

    &:hover {
      background-color: $neutralGray7;
      border-color: $neutralGray7;
      color: $neutralGray1;

      .spinner,
      svg {
        stroke: $neutralGray1;
      }
    }
  }
}

@mixin buttonColorSecondary {
  background-color: $neutralGray1;
  color: $neutralGray7;
  border: 1px solid $neutralGray5;

  .spinner {
    stroke: $neutralGray7;
  }

  &:hover {
    background-color: $neutralGray2;
    color: $neutralGray7;
    border-color: $neutralGray5;

    svg {
      stroke: inherit;

      path {
        stroke: inherit;
      }
    }
    .spinner {
      stroke: $neutralGray7;
    }
  }

  &:disabled {
    background-color: $neutralGray2;
    color: $neutralGray5;
    border-color: $neutralGray5;

    svg {
      opacity: 0.4;
    }
  }

  &.inProgress {
    cursor: progress;

    &:hover {
      background-color: $neutralGray1;
      border-color: $neutralGray5;
      color: $neutralGray7;

      .spinner,
      svg {
        stroke: $neutralGray7;
      }
    }
  }
}

@mixin buttonColorInline {
  background: $neutralGray1;
  color: $neutralGray7;
  border: none;
  outline: none;

  &:hover {
    background-color: $neutralGray2;
    color: $neutralGray7;
  }

  &:disabled {
    color: $neutralGray5;
    background-color: $neutralGray1;

    svg {
      opacity: 0.4;
    }
  }
}

@mixin buttonColorCTA {
  background-color: $primaryPri2;
  color: $neutralGray1;

  .spinner {
    width: 24px;
    height: 24px;
    stroke: $neutralGray1;
    stroke-width: 3px;
  }

  &:hover {
    background-color: rgba($primaryPri2, 0.95);
    border-color: rgba($primaryPri2, 0.95);
    color: $neutralGray1;

    .spinner,
    svg {
      stroke: inherit;
    }
  }

  &:disabled {
    background-color: $buttonCTAHoverColor;
    color: $neutralGray1;
    border-color: $buttonCTAHoverColor;
    cursor: not-allowed;
  }

  &.inProgress {
    background-color: $primaryPri2;
    border-color: $primaryPri2;
    color: $neutralGray1;
    cursor: progress;

    .spinner {
      stroke: $neutralGray1;
    }

    &:hover {
      background-color: $primaryPri2;
      border-color: $primaryPri2;
      color: $neutralGray1;

      .spinner,
      svg {
        stroke: $neutralGray1;
      }
    }
  }
}

@mixin buttonStyles {
  display: block;
  width: auto;
  margin: 0;
  /* Padding is only for <a> elements where button styles are applied,
  buttons elements should have zero padding */
  padding: 8px 16px;
  outline: none;

  @include flexCenter;

  transition: all $transitionStyleButton;
  cursor: pointer;

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    .spinner {
      stroke: $neutralGray7;
    }
  }

  @include buttonColorPrimary;
  &.secondaryStyle {
    @include buttonColorSecondary;
  }

  &.CTAStyle {
    @include buttonColorCTA;
  }

  &.inlineStyle {
    @include buttonColorInline;
  }
}

// Layout mixins
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlign($align, $content: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}

/* css for text
  $size: font-size
  $lh: line-height
  $ls: letter-spacing
*/
@mixin text($size, $lh: 1, $ls: 0px) {
  font-size: $size;
  line-height: $lh;
  letter-spacing: $ls;
}

// Typography
@mixin textTemplate($size: 12px, $weight: 400, $height: 16px, $family: '') {
  @if $family == '' {
    font-family: 'Manrope', Helvetica, Arial, sans-serif;
  } @else {
    font-family: $family;
  }

  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin defaultText {
  @include textTemplate(12px, 400, 16px, '');
}

@mixin mediumText {
  @include textTemplate(12px, 500, 16px, '');
}

@mixin fullWidthDivider($color, $size) {
  width: 100%;
  height: $size;
  background-color: $color;
}

@mixin lineClamp($numberOfLines: 4, $lineHeight: 1rem) {
  display: -webkit-box;
  line-clamp: $numberOfLines;
  -webkit-line-clamp: $numberOfLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $lineHeight;
}

@mixin verticalDivider($color, $width, $height) {
  width: $width;
  height: $height;
  background-color: $color;
}

@mixin textInputStyles {
  border: 1px solid $neutralGray6;
  color: $neutralGray7;
  background: transparent;
  display: block;
  width: auto;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: $neutralGray1;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  outline: none;

  &:hover {
    border-color: #ff7f72;
    outline: 0;
  }

  &:focus {
    border-color: #ef3d2a;
    box-shadow: 0px 0px 0px 2px rgba(239, 61, 42, 0.2);
  }

  &::placeholder {
    font-weight: $fontWeightRegular;
    font-size: 16px;
    color: $neutralGray6;
  }
}

@mixin pageTitle {
  font-weight: $fontWeightBold;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: $neutralGray7;
}

@mixin absolute($width: 100%, $height: 100%, $content: '') {
  position: absolute;
  content: $content;
  width: $width;
  height: $height;
}

@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin bookerSidebarFormRoot {
  @include flexAlign(normal, space-between);
  flex-direction: column;
  height: 80vh;

  @include viewportLarge {
    display: block;
    height: auto;
  }
}

@mixin focusContainer() {
  border: 1px solid $neutralGray3;
  box-shadow: $boxShadowFocus;
}
