@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

$transitionStyleButton: ease-in-out 0.1s;
$buttonBorderRadius: 8px;

@mixin formContainer {
  padding: 24px 16px;
  background-color: $neutralGray1;
  border-radius: 16px 16px 0 0;

  @include viewportMedium {
    padding: 24px;
    width: min(450px, calc(150% / 2));
  }

  @include viewportLarge {
    padding: 24px 32px;
  }

  & input {
    width: 100%;
  }
}

@mixin buttonFont {
  font-weight: $fontWeightBold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* Button text styles */
/* Default button text is centered without decorations */
@mixin buttonText {
  text-align: center;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin buttonBorders {
  border: none;
  border-radius: $buttonBorderRadius;
}

@mixin buttonColorPrimary {
  background: $neutralGray6;
  color: $neutralGray1;
  .spinner {
    width: 24px;
    height: 24px;
    stroke: $neutralGray1;
    stroke-width: 3px;
  }

  &:focus,
  &:hover {
    background: $neutralGray1;
    outline: 1px solid $neutralGray6;
    outline-offset: -1px;
    color: $neutralGray6;

    .spinner {
      stroke: $neutralGray6;
    }
  }

  &:disabled {
    background: $neutralGray2;
    color: $neutralGray4;
    outline: 1px solid $neutralGray4;
    outline-offset: -1px;
    cursor: not-allowed;
  }
}

@mixin buttonColorSecondary {
  background-color: $neutralGray1;
  color: $neutralGray6;
  outline: 1px solid $neutralGray6;
  outline-offset: -1px;

  .spinner {
    stroke: $neutralGray6;
  }

  &:focus,
  &:hover {
    background-color: $neutralGray6;
    color: $neutralGray1;
    outline: 1px solid $neutralGray1;

    .spinner {
      stroke: $neutralGray1;
    }
  }

  &:disabled {
    background-color: $neutralGray2;
    color: $neutralGray4;
    outline: 1px solid $neutralGray4;
  }
}

@mixin buttonTextColor {
  background: transparent;
  color: $primaryPri2;
  border: none;

  &:focus,
  &:hover {
    background-color: transparent;
    border: 1px solid $neutralGray4;
  }

  &:disabled {
    color: $neutralGray6;
    border: 1px solid $neutralGray3;
  }
}

@mixin buttonCTAColor {
  background-color: $primaryPri2;
  color: $neutralGray1;
  outline: none;
  border: none;
  .spinner {
    stroke: $neutralGray1;
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: $buttonCTAHoverColor;
    color: $neutralGray1;

    .spinner {
      stroke: $primaryPri2;
    }
  }

  &:disabled {
    background: $neutralGray2;
    color: $neutralGray4;
    outline: 1px solid $neutralGray4;
    outline-offset: -1px;
  }
}

@mixin buttonStyles {
  display: block;
  width: auto;
  margin: 0;
  /* Padding is only for <a> elements where button styles are applied,
  buttons elements should have zero padding */
  padding: 8px 16px;
  outline: none;

  @include flexCenter;

  transition: all $transitionStyleButton;
  cursor: pointer;

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }

  @include buttonColorPrimary;
  &.secondaryStyle {
    @include buttonColorSecondary;
  }
  &.CTAStyle {
    @include buttonCTAColor;
  }
}

// Layout mixins
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlign($align, $content: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}

/* css for text
  $size: font-size
  $lh: line-height
  $ls: letter-spacing
*/
@mixin text($size, $lh: 1, $ls: 0px) {
  font-size: $size;
  line-height: $lh;
  letter-spacing: $ls;
}

// Typography
@mixin textTemplate($size: 12px, $weight: 400, $height: 16px, $family) {
  @if $family == '' {
    font-family: 'Manrope', Helvetica, Arial, sans-serif;
  } @else {
    font-family: $family;
  }

  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin defaultText {
  @include textTemplate(12px, 400, 16px, '');
}

@mixin mediumText {
  @include textTemplate(12px, 500, 16px, '');
}

@mixin fullWidthDivider($color, $size) {
  width: 100%;
  height: $size;
  background-color: $color;
}

@mixin lineClamp($numberOfLines: 4) {
  display: -webkit-box;
  line-clamp: $numberOfLines;
  -webkit-line-clamp: $numberOfLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin verticalDivider($color, $width, $height) {
  width: $width;
  height: $height;
  background-color: $color;
}

@mixin textInputStyles {
  border: 1px solid $neutralGray5;
  color: $neutralGray10;
  background: transparent;
  display: block;
  width: auto;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: $matterColorLight;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  outline: none;

  &:hover {
    border-color: $primaryPri4;
    outline: 0;
  }

  &:focus {
    border-color: $primaryPri5;
    box-shadow: 0px 0px 0px 2px rgba(239, 61, 42, 0.2);
  }

  &::placeholder {
    font-weight: $fontWeightRegular;
    font-size: 16px;
    color: $neutralGray5;
  }
}
