@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

/* =============== Global pagination class =============== */

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 12px;
  @include flexAlign(flex-start, flex-start);
}
.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ' ';
}
.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}
.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 12px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: $neutralGray1;
  border: 1px solid $neutralGray3;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  user-select: none;
  order: 3;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: $neutralGray6;
  transition: none;
}
.rc-pagination-item a:hover {
  text-decoration: none;
  color: $neutralGray7;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: $neutralGray7;
  transition: all 0.3s;
}

.rc-pagination-item:hover a {
  color: $neutralGray7;
}
.rc-pagination-item-active {
  font-weight: 500;
  background: $neutralGray7;
  border-color: $neutralGray3;
}
.rc-pagination-item-active a {
  color: $neutralGray1;
}

.rc-pagination-item-active:hover a {
  color: $neutralGray1;
}

.rc-pagination-item-active:hover {
  border-color: $neutralGray3;
}

.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: $neutralGray1;
  border: 1px solid $neutralGray3;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}

.rc-pagination-jump-prev:hover button,
.rc-pagination-jump-next:hover button {
  border-color: $neutralGray7;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: '•••';
  color: $neutralGray6;
  font-size: 12px;
  font-weight: $fontWeightRegular;
}

.rc-pagination-jump-prev:hover button:after,
.rc-pagination-jump-next:hover button:after {
  color: $neutralGray7;
}

.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
  order: 3;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: $neutralGray7;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: $neutralGray1;
  border: 1px solid $neutralGray3;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  color: $neutralGray7;
  border-color: $neutralGray7;
}
.rc-pagination-prev button:after {
  content: '‹';
  display: block;
}
.rc-pagination-next button:after {
  content: '›';
  display: block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: $neutralGray3;
  cursor: not-allowed;
}
.rc-pagination-slash {
  margin: 0 10px 0 5px;
}
.rc-pagination-options {
  display: inline-flex;
  vertical-align: middle;
  order: 2;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  @include flexCenter;
  min-width: 92px;
  margin-right: 8px;
  border: 1px solid $neutralGray3;
  gap: 6px;
  border-radius: 4px;
}
.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: $neutralGray7;
}
.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
.rc-select {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  position: relative;
  .rc-select-selection-placeholder {
    opacity: 0.4;
    pointer-events: none;
  }
  .rc-select-selection-search-input {
    appearance: none;
    &::-webkit-search-cancel-button {
      display: none;
      appearance: none;
    }
  }
}
.rc-select-disabled,
.rc-select-disabled input {
  cursor: not-allowed;
}
.rc-select-disabled {
  .rc-select-selector {
    opacity: 0.3;
  }
}
.rc-select-show-arrow {
  &.rc-select-loading {
    .rc-select-arrow-icon {
      &::after {
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 2px solid #999;
        border-top-color: transparent;
        border-bottom-color: transparent;
        transform: none;
        margin-top: 4px;
        animation: rcSelectLoadingIcon 0.5s infinite;
      }
    }
  }
  &.rc-select-multiple {
    .rc-select-selector {
      padding-right: 20px;
    }
  }
  .rc-select-arrow {
    line-height: 12px;
  }
  .rc-select-arrow-icon {
    &::after {
      content: '';
      border: 5px solid transparent;
      width: 0;
      height: 0;
      display: inline-block;
      border-top-color: #999;
      transform: translateY(5px);
    }
  }
}
.rc-select-single {
  .rc-select-selector {
    display: flex;
    position: relative;
    .rc-select-selection-search {
      display: none;
    }
    .rc-select-selection-search-input {
      width: 100%;
      @include textTemplate(12px, 400, 16px);
    }
  }
  &:not(.rc-select-customize-input) {
    .rc-select-selector {
      height: 28px;
      @include flexCenter;
      .rc-select-selection-search-input {
        border: none;
        outline: none;
        background: rgba(255, 0, 0, 0.2);
        width: 100%;
      }
    }
  }
}
.rc-select-single .rc-select-selector .rc-select-selection-item,
.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  pointer-events: none;
}
.rc-select-multiple {
  .rc-select-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    border: 1px solid #000;
    .rc-select-selection-item {
      flex: none;
      background: #bbb;
      border-radius: 4px;
      margin-right: 2px;
      padding: 0 8px;
    }
    .rc-select-selection-item-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .rc-select-selection-overflow {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .rc-select-selection-overflow-item {
      flex: none;
      max-width: 100%;
    }
    .rc-select-selection-search {
      position: relative;
      max-width: 100%;
    }
    .rc-select-selection-search-mirror {
      position: absolute;
      z-index: 999;
      white-space: nowrap;
      position: none;
      left: 0;
      top: 0;
      visibility: hidden;
    }
    .rc-select-selection-search-input {
      border: none;
      outline: none;
      background: rgba(255, 0, 0, 0.2);
      width: 100%;
    }
  }
}
.rc-select-multiple .rc-select-selector .rc-select-selection-search-input,
.rc-select-multiple .rc-select-selector .rc-select-selection-search-mirror {
  padding: 1px;
  font-family: system-ui;
}
.rc-select-allow-clear {
  &.rc-select-multiple {
    .rc-select-selector {
      padding-right: 20px;
    }
  }
  .rc-select-clear {
    position: absolute;
    right: 20px;
    top: 0;
  }
}
.rc-select-focused {
  .rc-select-selector {
    border-color: blue !important;
  }
}
.rc-select-dropdown {
  border: 1px solid green;
  min-height: 100px;
  position: absolute;
  background: #fff;
  left: 0 !important;
}
.rc-select-dropdown-hidden {
  display: none;
}
.rc-select-item {
  @include textTemplate(12px, 400, 16px);
  padding: 4px 16px;
}
.rc-select-item-group {
  color: #999;
  font-weight: bold;
  font-size: 80%;
}
.rc-select-item-option {
  position: relative;
  .rc-select-item-option-state {
    position: absolute;
    right: 0;
    top: 4px;
    pointer-events: none;
  }
}
.rc-select-item-option-grouped {
  padding-left: 24px;
}
.rc-select-item-option-active {
  background: #ddd;
}
.rc-select-item-option-disabled {
  color: #999;
}
.rc-select-item-empty {
  text-align: center;
  color: #999;
}
.rc-select-selection__choice-zoom {
  transition: all 0.3s;
}
.rc-select-selection__choice-zoom-appear {
  opacity: 0;
  transform: scale(0.5);
  &.rc-select-selection__choice-zoom-appear-active {
    opacity: 1;
    transform: scale(1);
  }
}
.rc-select-selection__choice-zoom-leave {
  opacity: 1;
  transform: scale(1);
  &.rc-select-selection__choice-zoom-leave-active {
    opacity: 0;
    transform: scale(0.5);
  }
}
.rc-select-dropdown-slide-up-enter,
.rc-select-dropdown-slide-up-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
.rc-select-dropdown-slide-up-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-bottomRight,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-bottomRight {
  animation-name: rcSelectDropdownSlideUpIn;
  animation-play-state: running;
}
.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-bottomRight {
  animation-name: rcSelectDropdownSlideUpOut;
  animation-play-state: running;
}
.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-topRight,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-topRight {
  animation-name: rcSelectDropdownSlideDownIn;
  animation-play-state: running;
}
.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-topRight {
  animation-name: rcSelectDropdownSlideDownOut;
  animation-play-state: running;
}
