/* =============== Primary =============== */

$primaryPri1: #ffecea;
$primaryPri2: #ef3d2a;
$buttonCTAHoverColor: #ff9f95;

/* =============== Neutral =============== */

$neutralGray1: #ffffff;
$neutralGray2: #fafafa;
$neutralGray3: #f0f0f0;
$neutralGray4: #d9d9d9;
$neutralGray5: #8c8c8c;
$neutralGray6: #262626;

/* =============== Sematic =============== */

$sematicRed1: #fff1f0;
$sematicRed2: #cf1322;
$sematicGreen1: #f0ffe0;
$sematicGreen2: #027a48;

/* =============== Label =============== */

$labelBlue1: #f0f5ff;
$labelBlue2: #2f54eb;
$labelOrange1: #fff4db;
$labelOrange2: #d46b08;

/* ===============  =============== */

$bannedColorLight: $primaryPri2;
$bannedColorDark: $primaryPri2;

$matterColorNegative: #e7e7e7;
$matterColorBright: #fcfcfc;

$googleBackground: #dc4e41;

/* =============== Form & field =============== */

$formFieldBorderColor: #dee2e6;
$formFieldBorderColorFocus: #5e72e4;
$formFieldColor: #242424;
$formFieldPlaceholderColor: #adb5bd;
$formLabelColor: $neutralGray6;
$fieldTextAreaMinHeight: 158px;

/* =============== Font =============== */

$fontFamily: 'poppins', Helvetica, Arial, sans-serif;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$fontWeightHighlightEmail: $fontWeightBold;

/* =============== Box shadow =============== */

$boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
$shadowInput: 0 3px 2px rgb(233 236 239 / 5%);
$boxShadowInputFocus: 0 3px 9px rgb(50 50 9 / 0%),
  3px 4px 8px rgb(94 114 228 / 10%);

/* =============== Z-index base levels =============== */

$zIndexPopup: 50;
$zIndexModal: 100;

/* =============== Transition styles =============== */

$transitionStyle: ease-in 0.2s;
$transitionStyleButton: ease-in-out 0.1s;

$adminTopbarHeight: 52px;
$adminTopbarzIndex: 49;
$adminSidebarzIndex: 50;
$adminSidebarWidth: 280px;
$adminSidebarLeftPartWidth: 60px;
$adminSidebarRightPartWidth: 220px;

$marketplaceButtonSmallDesktopPadding: 9px 16px 9px 16px;

$singleUseTabRed: #db4a37;
$singleUseTableTanColor: #fbefd2;
