@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
}

.header {
  @include flexAlign(center, space-between);
  padding: 24px;
  border-bottom: 1px solid $neutralGray6;

  .titleWrapper {
    flex-basis: 60%;
  }

  .createGroupBtn {
    @include flexAlign(center, space-between);
    width: 164px;
    height: 48px;
    font-size: 16px;
  }
}

.tableContainer {
  padding: 24px;

  .tableRoot {
    width: 100%;
    border: 1px solid $neutralGray5;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: unset;

    .tableHead {
      height: 40px;
      tr {
        td {
          background-color: $neutralGray2;
          padding: 0 16px;
          font-size: 16px;
          color: $neutralGray6;
        }
      }

      .tableHeadCell {
        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }

    .tableHeadMemberOrder {
      :nth-child(4),
      :nth-child(5) {
        text-align: right;
      }
    }

    .tableBody {
      .tableBodyRow {
        box-shadow: none;
        border-bottom: 1px solid $neutralGray3;
        height: 64px;

        :nth-child(3),
        :nth-child(4) {
          text-align: left;
        }

        .tableBodyCell {
          padding: 9px 16px;
          font-size: 16px;
          color: $neutralGray7;
        }
        &:last-child .tableBodyCell {
          border-bottom: none;
        }
      }
      .tableBodyRowMemberOrder {
        :nth-child(4),
        :nth-child(5) {
          text-align: right;
        }
      }
    }
  }
}

.editBtn {
  margin-right: 16px;
  cursor: pointer;
}

.deleteBtn {
  cursor: pointer;
}

.loading {
  width: 24px;
  height: 24px;

  circle {
    stroke: $neutralGray7;
  }
}

.noGroupFound {
  @include flexCenter;
  flex-direction: column;
  margin-top: 40px;
}
