{
  :format :v3
  :transitions [
  {
    :name :transition/initiate-transaction,
    :actor :actor.role/customer,
    :actions [],
    :to :state/initiated
    :privileged? true
  }
  {
    :name :transition/start-delivery,
    :actor :actor.role/operator,
    :actions [],
    :from :state/initiated
    :to :state/delivering
    :privileged? true
  }
  {
    :name :transition/operator-cancel-plan,
    :actor :actor.role/operator,
    :actions [],
    :from :state/initiated
    :to :state/canceled
    :privileged? true
  }
  {
    :name :transition/cancel-delivery,
    :actor :actor.role/operator,
    :actions [],
    :from :state/delivering
    :to :state/failed-delivery
    :privileged? true
  }
  {
    :name :transition/complete-delivery,
    :actor :actor.role/operator,
    :actions [],
    :from :state/delivering
    :to :state/completed
    :privileged? true
  }
  {
    :name :transition/review-restaurant,
    :actor :actor.role/operator,
    :actions [],
    :from :state/completed
    :to :state/reviewed
    :privileged? true
  }
    {
    :name :transition/expired-review-time,
    :at {:fn/plus [
                  {:fn/timepoint [:time/first-entered-state :state/completed]}
                  {:fn/period ["P14D"]}]}
    :actions [],
    :from :state/completed
    :to :state/expired-review
  }
  {
    :name :transition/review-restaurant-after-expire-time,
    :actor :actor.role/operator,
    :actions [],
    :from :state/expired-review
    :to :state/reviewed
    :privileged? true
  }    

  ]
}