@use '/src/styles/defaults.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.fieldDatePickerContainer {
  position: relative;

  .customInput {
    input {
      @include inputStyles;
      width: 100%;
      padding-left: 52px;
    }
  }

  .calendarIcon {
    position: absolute;
    bottom: 12px;
    left: 16px;
  }

  :global(.react-datepicker-popper) {
    z-index: 2;
    transform: translate3d(0px, -56px, 0px) !important;
  }
}

.fieldSelect {
  margin-top: 24px;
}

.dropdownWrapper {
  height: 88px;
  overflow: hidden auto;

  @include viewportMedium {
    height: unset;
  }
}

.actions {
  display: flex;
  margin-top: 24px;

  @include viewportMedium {
    justify-content: flex-end;
  }

  button {
    width: 100%;

    @include viewportMedium {
      width: unset;
    }
  }
}
