@use '/src/styles/customMediaQueries.scss' as *;

.modalRoot {
  .modalContainer {
    overflow: unset;

    @include viewportMedium {
      flex-basis: 700px;
    }

    @include viewportLarge {
      flex-basis: 700px;
    }
  }
}

.mobileModalContainer.mobileModalContainer {
  padding: 16px 16px 32px;
}
