@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  @include textTemplate(14px, 400, 24px);
  display: none;

  @include viewportMedium {
    display: block;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .editDeadlineButton {
      padding: 0;
      height: fit-content;
      min-height: unset;

      .editIcon {
        width: 24px;
        height: 24px;
      }

      &:disabled {
        .editIcon {
          fill: $neutralGray5;
        }
      }
    }
  }

  .orderEndAtMessage {
    margin-top: 16px;
    color: $neutralGray6;

    b {
      color: $neutralGray7;
    }
  }
}
