@keyframes fadeoutLoop {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.fadeoutLoop {
  animation: fadeoutLoop 2s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32%;
  height: 32%;
  color: white;
  cursor: pointer;
  transition: all;
}

.fadeoutLoop:hover {
  width: 34%;
  height: 34%;
}
