@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  flex-basis: calc(100% - 32px);
  padding: 20px;
}

.modalHeader {
  @include textTemplate(18px, $fontWeightBold, 24px);
  text-align: center;
}

.modalContent {
  text-align: center;

  .successIcon {
    width: 60px;
    height: 60px;
  }

  p {
    @include textTemplate(14px, $fontWeightRegular, 20px);
  }
}

.btn {
  width: 100%;
}
