@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  @include flexAlign(center, space-between);
}

.label {
  @include flexAlign(center);
  gap: 8px;
  flex-direction: column;
  @include textTemplate(14px, $fontWeightSemiBold, 20px);
  color: $neutralGray4;
  cursor: pointer;

  &:hover {
    svg {
      path {
        fill: $neutralGray6;
      }
    }

    color: $neutralGray6;
  }

  span {
    white-space: nowrap;
  }
}

.input {
  display: none;

  &:checked + label {
    svg {
      path {
        fill: $neutralGray6;
      }
    }
    color: $neutralGray6;
  }
}
