@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  @include flexAlign(flex-start, space-between);
  gap: 8px;
}

.label {
  @include flexAlign(center);
  gap: 8px;
  flex-direction: column;
  @include textTemplate(14px, $fontWeightSemiBold, 20px);
  color: $neutralGray5;
  cursor: pointer;

  &:hover {
    svg {
      path {
        fill: $neutralGray7;
      }
    }

    color: $neutralGray7;
  }

  span {
    text-align: center;
    white-space: nowrap;
    @include viewportSmall {
      max-width: unset;
    }
  }
  .labelText {
    visibility: hidden;
    height: auto;
  }
}

.input {
  display: none;

  &:checked + label {
    svg {
      path {
        fill: $neutralGray7;
      }
    }
    color: $neutralGray7;
    .labelText {
      visibility: visible;
      height: auto;
    }
  }
}

.option {
  flex: 1;
  min-width: 0;
  @include viewportSmall {
    min-width: unset;
  }
}
