@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  @include flexAlign(center, space-between);
}

.label {
  @include flexAlign(center);
  gap: 8px;
  flex-direction: column;
  @include textTemplate(14px, $fontWeightSemiBold, 20px);
  color: $neutralGray5;
  cursor: pointer;

  &:hover {
    svg {
      path {
        fill: $neutralGray7;
      }
    }

    color: $neutralGray7;
  }
}

.input {
  display: none;

  &:checked + label {
    svg {
      path {
        fill: $neutralGray7;
      }
    }
    color: $neutralGray7;
  }
}
