@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  background-color: $neutralGray1;
  position: sticky;
  top: 85px;
  z-index: 2;

  @include viewportMedium {
    position: static;
  }

  .titleText {
    padding-bottom: 7px;
    color: $neutralGray6;
    @include textTemplate(24px, 700, 4/3);
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;

    .makeOrderBtn,
    .cancelOrderBtn {
      width: 100px;
      min-width: 48px;
      align-self: center;
      padding: 0;
    }

    @include viewportMedium {
      flex-direction: row;

      .makeOrderBtn,
      .cancelOrderBtn {
        width: 160px;
      }

      .makeOrderBtn {
        order: 2;
      }
    }
  }
}
