@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;

  .titlePart {
    padding: 8px 16px;
    grid-column: 1 / span 2;
    order: 1;
  }

  .leftPart,
  .rightPart {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include viewportMedium {
      gap: 32px 24px;
    }
  }

  .leftPart {
    order: 2;
    $maxWidthWithPadding: calc(100vw - 320px - 40px);

    margin-top: 24px;

    @include viewportMedium {
      order: 1;
      margin-top: 0;
      width: min(820px, calc($maxWidthWithPadding - 48px));
    }

    @include viewportLarge {
      width: min(820px, calc($maxWidthWithPadding - 72px));
    }

    @include viewportSLarge {
      max-width: 820px;
    }
  }

  .rightPart {
    order: 3;

    @include viewportMedium {
      order: 2;
    }

    .container {
      padding: 16px;
      border-radius: 16px;

      background-color: $neutralGray1;
      outline: 1px solid $neutralGray5;
      outline-offset: -1px;

      & > div:first-of-type {
        @include textTemplate(18px, 700, 4/3);
      }
    }
  }

  @include viewportSmall {
    padding: 24px 16px;
  }

  @include viewportMedium {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 40px;
    row-gap: 28px;
    padding: 24px;
    margin: 40px auto;
  }

  @include viewportLarge {
    padding: 40px 36px;
  }

  @include viewportSLarge {
    padding: 40px 130px;
    max-width: calc(1180px + 130px * 2);
    margin: 40px calc(50vw - $sl/2);
  }
}
