@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $neutralGray5;
  min-width: 280px;
  width: 100%;
  .listingCardContent {
    padding: 12px;
    height: 180px;
  }
}
.listingImage {
  position: relative;
  height: 146px;
  width: 100%;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.listingCardInfo {
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid $neutralGray5;
  .title {
    @include textTemplate(16px, 700, 24px, '');
    color: $neutralGray10;
    margin: 0 0 4px 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .categories {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
  }
  .description {
    @include textTemplate(14px, 400, 24px, '');
    color: $neutralGray7;
    margin: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.listingCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .allergiesLabel {
    color: $neutralGray7;
    @include textTemplate(12px, 500, 16px, '');
    margin: 0;
  }
  .addDish {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $primaryPri5;
    @include flexCenter;
  }
  .selectDisabled {
    border: 1px solid $neutralGray5;
    cursor: not-allowed;

    & svg path {
      fill: $neutralGray5;
    }
  }
  .removeDish {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}
