@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer {
  padding: 0 16px !important;
  @include viewportMedium {
    padding: 0 24px !important;
    max-width: min(600px, 60vw);
  }
}

.closeModalBtn {
  min-height: unset;
  padding: 8px 4px 8px 0;
  display: flex;
  column-gap: 8px;
}

.listingImage {
  height: 343px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $neutralGray5;
  border-radius: 10px;

  :global(.slick-track) {
    height: 343px;
  }

  :global(.slick-slide) {
    width: calc(100vw - 32px);
    height: 343px !important;

    & img {
      width: calc(100vw - 32px) !important;
      height: 343px !important;
      position: relative !important;
      object-fit: cover;

      @include viewportMedium {
        width: 100% !important;
      }
    }

    & > div {
      width: 100%;
      height: 100%;
    }
  }
}

.section {
  @include textTemplate(14px, 400, 24px);
  letter-spacing: 0.2%;

  padding: 12px 0;
  border-bottom: 0.5px solid $neutralGray5;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .foodTitleWrapper {
    display: flex;
    justify-content: space-between;
    .foodTitle {
      @include textTemplate(18px, 700, 24px);
    }
  }

  .badgeContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;

    & > * {
      border-radius: 20px;
    }
  }

  .allergiesLabel {
    color: $neutralGray6;

    .allergyItem {
      font-weight: 600;
    }
  }

  .sideDishesLabel {
    @include textTemplate(16px, 500, 24px);
  }
  .sideDishesContent {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .packagingSection {
    .iconBox path {
      fill: $neutralGray6;
    }

    color: $neutralGray6;
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
}

.requirementSection {
  padding: 12px 0 24px;
  margin-bottom: 90px;

  display: flex;
  flex-direction: column;
  row-gap: 8px;
  @include textTemplate(14px, 500, 24px);

  .fieldRequirement {
    @include textTemplate(16px, 400, 24px);
  }
}

.modalContent {
  overflow: scroll;
  @include viewportMedium {
    max-height: min(700px, 70vh);

    padding: 0 7px !important;
  }
}

.modalContentWrapper {
  position: relative;
}

.selectFoodSection {
  position: fixed;
  bottom: 0;
  z-index: 2;
  left: 0;
  width: 100vw;
  background-color: $neutralGray1;
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  .selectFoodBtn {
    width: 150px;
    float: right;
  }

  @include viewportMedium {
    left: 0;
    width: 100%;
    position: absolute;
    padding: 16px 0;
  }
}

.dots {
  bottom: 7px !important;

  & > li {
    margin: 0;

    &:global(.slick-active) button:before {
      color: $neutralGray1;
      opacity: 1;
    }

    & button:before {
      color: $neutralGray1;
      opacity: 0.6;
    }
  }
}

.headerModal {
  justify-content: flex-end;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.description {
  white-space: pre-line;
}


.decoratorWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $neutralGray3;
}