@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $neutralGray3;
  display: flex;
  flex-direction: row;

  width: 100%;

  @include viewportMedium {
    flex-direction: column;
  }

  @include viewportLarge {
    min-width: unset;
  }
  .listingCardContent {
    padding: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
  }
}

.listingImage {
  cursor: pointer;
  width: 80px;
  height: 100%;
  overflow: hidden;
  position: relative;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include viewportMedium {
    width: 100%;
    height: 146px;
  }
}

.listingCardInfo {
  cursor: pointer;
  flex: 1;

  .headerRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
  }

  .title {
    @include textTemplate(14px, 600, 18px, '');
    color: $neutralGray7;
    margin: 0 0 4px 0;
    justify-self: start;
    flex: 1;
  }

  .categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 6px;
    margin-bottom: 8px;
    .badge {
      border-radius: 20px;
    }
  }
  .description {
    @include textTemplate(14px, 400, 24px);
    color: $neutralGray6;
    margin: 0;
    @include lineClamp(2, 24px);
    letter-spacing: 0.028px;
  }
}

.listingCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid $neutralGray3;

  .allergiesLabel {
    color: $neutralGray6;
    @include textTemplate(12px, 500, 16px, '');
    margin: 0;
  }

  .addDish {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    max-width: 24px;
    border-radius: 50%;
    border: 1px solid $primaryPri2;
    @include flexCenter;
  }

  .selectDisabled {
    border: 1px solid $neutralGray6;
    cursor: not-allowed;
    flex-shrink: 0;

    & svg path {
      fill: $neutralGray6;
    }
  }

  .removeDish {
    margin-bottom: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

.flip {
  animation: flip 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
