@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.formContainer {
  width: 400px;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.headerContainer {
  @include flexCenter;
  flex-direction: column;

  .main {
    @include textTemplate(24px, $fontWeightBold, 32px);
    margin-top: 20px;
  }

  .semi {
    @include textTemplate(14px, $fontWeightRegular, 20px);
    margin-top: 8px;
    color: $neutralGray5;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
