@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.step {
  color: $neutralGray6;
}

.stepTitle {
  @include textTemplate(18px, $fontWeightBold, 24px);
  margin-top: 8px;
}

.stepContent {
  margin-top: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid $neutralGray5;
}

.nextBtn {
  min-height: 40px;
  @include textTemplate(14px, $fontWeightBold, 24px);
  @include flexCenter;
  padding: 0;
  width: 92px;
  border-radius: 8px;
  color: $neutralGray1;
  background-color: $neutralGray7;
}

.skipBtn.skipBtn {
  @include textTemplate(12px, $fontWeightMedium, 16px);
  color: $neutralGray7;
  padding: 0;
  @include flexAlign(center);
  gap: 8px;

  svg {
    path {
      fill: $neutralGray7;
    }
  }
}
