@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.header {
  padding: 24px 0 24px 24px;
  border-bottom: 1px solid $neutralGray5;
  @include textTemplate(24px, $fontWeightBold, 32px);
  text-transform: capitalize;
}

.loading {
  @include flexCenter;
  margin-top: 40px;
}
