@use '/src/styles/vars.scss' as *;

.root {
  box-shadow: $boxShadow;
  flex: 1;
  height: fit-content;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: $neutralGray1;
  z-index: 49;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerLeft {
  }

  .headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .profileMenuContent {
      width: 200px;
      padding: 20px 0;
    }

    .iconBell {
      margin-right: 15px;
    }

    .profileMenuWrapper {
      display: flex;
      .avatar {
        width: 50px;
        margin-right: 10px;
        height: 50px;
        background-color: $primaryPri2;
        color: $neutralGray1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
