@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.fieldLabel {
  @include text(15px, 24px);
  color: $neutralGray7;
}

.fieldGroups {
  @include flexAlign(center);
  gap: 20px;
  margin-top: 16px;
}

.dayItem {
  @include flexCenter;
  padding: 8px 16px;
  color: $neutralGray6;
  outline: 1px solid $neutralGray5;
  outline-offset: -1px;
  border-radius: 8px;
  cursor: pointer;

  &.selected {
    color: $neutralGray7;
    outline: 2px solid $neutralGray7;
    outline-offset: -2px;
  }

  &.disabled {
    cursor: not-allowed;
    color: $neutralGray6;
    outline: 1px solid $neutralGray5;
    opacity: 0.5;
    pointer-events: none;
  }
}
