@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  background-color: $neutralGray1;
  padding: 16px;

  @include viewportLarge {
    padding: 0;
  }

  .revenueValueWrapper {
    @include flexAlign(center, flex-end);

    @include viewportMedium {
      justify-content: flex-start;
    }
  }
}

.titleHeader {
  @include flexAlign(center, space-between);
  margin-bottom: 16px;

  @include viewportLarge {
    margin-bottom: 44px;
  }

  .title {
    @include textTemplate(18px, $fontWeightBold, 24px);
    text-transform: uppercase;
  }

  .timePeriodSelectWrapper {
    padding: 8px 16px;
    border: 1px solid $neutralGray3;
    border-radius: 8px;
    background-color: $neutralGray1;
    @include flexAlign(center, space-between);

    @include viewportLarge {
      width: 200px;
      border-color: $neutralGray7;
      border-width: 1.5px;
      position: relative;
      cursor: pointer;

      .timePeriodSelectModalWrapper {
        position: absolute;
        width: 200px;
        top: 56px;
        left: 0;
        background-color: $neutralGray1;
        border-radius: 8px;
        z-index: 2;

        /* Shadown/MD */
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
          0px 2px 4px -2px rgba(16, 24, 40, 0.06);
      }
    }

    .arrowIcon {
      transition: transform 0.3s ease-in-out;

      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.row {
  @include flexAlign(center);
  gap: 16px;
  margin-top: 16px;

  @include viewportMedium {
    display: none;
  }

  .item {
    flex-basis: 50%;
    gap: 10px;
    flex-direction: column;
  }
}

.desktopItem {
  display: none;
  @include viewportMedium {
    display: block;
    width: 100%;
  }
}
.receiptIcon {
  width: 16px;
  height: 16px;
}

.itemWrapper {
  @include viewportMedium {
    display: none;
  }
}

.desktopItemWrapper {
  display: none;
  @include viewportMedium {
    @include flexAlign(center, space-between);
    gap: 24px;
  }
}

.loading {
  width: 100%;
  height: 100px;
}
