@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 84px;
  width: 100%;
  @include flexAlign(flex-start, space-between);
  background-color: $neutralGray1;
  box-shadow: 0px -1px 25px rgba(16, 24, 40, 0.05);
  border-radius: 12px 12px 0px 0px;

  @include viewportMedium {
    display: none;
  }

  .itemWrapper {
    flex-basis: calc(100% / 3);
  }
  .item {
    @include flexCenter;
    flex-direction: column;
    gap: 8px;
    height: 60px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    svg {
      path {
        fill: $neutralGray6;
      }
    }

    .label {
      font-size: 12px;
      line-height: 16px;
      color: $neutralGray6;
    }

    &:hover {
      background-color: $neutralGray2;
    }

    &.active {
      svg {
        path {
          fill: $primaryPri2;
        }
      }
      .label {
        color: $primaryPri2;
      }
    }
  }
}
