@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
}

.title {
  text-align: center;
  @include textTemplate(24px, $fontWeightBold, 32px);
}

.formContainer {
  margin-top: 32px;
}

.openModal .modalContainer {
  flex-basis: 480px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.largeContainer {
    flex-basis: 900px;
  }
}

.openModal .modalScrollLayer {
  align-items: center;

  @include viewportMedium {
    align-items: center;
  }
}

.modalContent {
  width: calc(100% - 48px);
  // max-height: 500px;
  // overflow-y: auto;
  margin: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @include viewportMedium {
    padding: 25px 0 0;
    width: 100%;
    max-width: 468px;
  }
}

.input {
  margin-bottom: 24px;
}

.toggle {
  display: flex;
  justify-content: space-between;
  & > div {
    @include textTemplate(16px, 400, 24px);
  }
}

.submitBtn {
  margin: 32px auto 16px;
  width: 100%;
}

.cancelBtn {
  width: 100%;
  color: $neutralGray7;
  @include textTemplate(16px, 700, 24px);
}

.fieldContainer {
  margin: 24px auto 0;
}
