@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 32px 8px 0;
  width: 100%;

  @include viewportLarge {
    padding-top: 48px;
  }
}

.formContainer {
  @include formContainer;

  margin: 0 auto;
  width: fit-content;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.formTitleContainer {
  text-align: center;
}

.formTitle {
  text-align: center;
  color: $matterColorDark;
  font-size: 24px;

  @include viewportMedium {
    font-size: 32px;
  }
}

.formDescription {
  color: $neutralGray7;
  padding-bottom: 32px;

  @include viewportMedium {
    padding-bottom: 48px;
  }
}

.forgotPassword {
  text-align: right;
  cursor: pointer;
}

.error {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  color: $errorRed7;
}

.submitButton {
  background-color: $marketplaceColorLight;
  color: $successColorLight;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 4px;
}

.toSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background: $neutralGray4;
  padding: 16px;

  @include viewportMedium {
    padding: 16px 24px;
  }

  @include viewportLarge {
    padding: 24px 32px;
    width: min(450px, calc(150% / 2));
  }
}

.toSignInText {
  color: $marketplaceColorLight;
  cursor: pointer;
}
