@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  .formContainer {
    @include flexAlign(center, space-between);
    padding-bottom: 32px;

    .searchInputContainer {
      width: 320px;

      ::placeholder {
        color: $neutralGray6;
      }

      input {
        padding-left: 48px;
      }
    }
  }
}
