@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  @include checkBoxInputStyles;
  background-color: $neutralGray1;
  padding-top: 24px;
  z-index: 2;

  .row {
    display: flex;
    padding-bottom: 7px;

    .labelContainer {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 12px;
      @include textTemplate(12px, 400, 16px, '');
      color: $neutralGray6;

      :nth-child(2) {
        flex-basis: 80px;
        text-align: right;
      }

      padding-bottom: 4.5px;
    }
  }
}
