@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.result {
  .resultHeaderWrapper {
    position: relative;
    z-index: 10;
    .searchAndSort {
      @include flexAlign(center, space-between);
    }
    .filterLabelWrapper {
      margin-top: 28px;
      @include flexAlign(baseline, flex-start);

      .resultNumber {
        margin-right: 32px;
        color: $neutralGray5;
        min-width: 80px;
      }
    }
  }

  .resultList {
    position: relative;
    margin-top: 24px;
  }
}
