@use '/src/styles/customMediaQueries.scss' as *;

.formContainer {
  display: flex;
  row-gap: 16px;
  flex-direction: column;

  @include viewportMedium {
  }

  .fieldContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    width: 100%;

    @include viewportLarge {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .fieldLabel {
      display: inline-block;
      margin-bottom: 8px;
    }

    .fieldInput {
      @include viewportLarge {
        width: calc(100% - 180px);
      }

      input {
        width: 100%;
      }
    }
  }
}
