@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  height: 160px;
  width: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  .heroImage {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .heroInfo {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 1;

    @include viewportMedium {
      bottom: 24px;
      left: 24px;
    }
    width: calc(100% - 32px);

    .heroOrderDay {
      margin: 0;
      @include textTemplate(14px, 500, 24px, '');
      color: $neutralGray5;
    }
    .heroTitle {
      margin: 0;
      @include textTemplate(18px, 600, 1);
      @include lineClamp(3, 1.2);

      @include viewportMedium {
        @include textTemplate(24px, 600, 1);
        @include lineClamp(3, 1.2);
      }
      color: $neutralGray1;
    }
  }
}

.skeleton {
  height: 160px;
  border-radius: 16px;
  width: 100%;
}
