@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/defaults.scss' as *;

.scrollLayer .modalContainer {
  position: relative;
  padding: 24px;

  @include viewportMedium {
    padding: 36px;
  }

  @include viewportLarge {
    flex-basis: 762px;
  }

  @include viewportSLarge {
    flex-basis: 1120px;
  }
}

.modalHeader {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconClose {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.header {
  display: flex;
  padding-top: 40px;
  margin-bottom: 24px;
  flex-direction: column;
  align-items: flex-start;

  @include viewportMedium {
    padding-top: 0;
    flex-direction: row;
    align-items: unset;
  }

  .modalBadge {
  }
}

.title {
  @include textTemplate(24px, 700, 32px);
  margin-right: 8px;
  margin-bottom: 5px;

  @include viewportMedium {
    margin-bottom: 0;
  }
}

.contentScroll {
  overflow-y: auto;

  @include viewportMedium {
    height: 70vh;
    max-height: 926px;
  }
}

.coverImage {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  border-radius: 16px;

  @include viewportMedium {
    padding-bottom: 22.2%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  margin: -50px 24px 16px;

  @include viewportLarge {
    flex-direction: row;
  }
}

.profileImage {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 14px;
  border: 4px solid $neutralGray1;
  margin: auto;

  @include viewportLarge {
    margin: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.restaurantInfo {
  margin-top: 20px;

  @include viewportLarge {
    margin-top: 50px;
    margin-left: 12px;
    padding-top: 20px;
  }
}

.restaurantName {
  @include textTemplate(18px, 700, 24px);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include viewportLarge {
    justify-content: unset;
  }
}

.iconHeart {
  margin-left: 12px;
  cursor: pointer;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewportMedium {
    align-items: unset;
    flex-direction: row;
  }
}

.moreInfoItem {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  @include textTemplate(14px, 400, 20px);

  @include viewportMedium {
    margin-bottom: 0;
    border-right: 1px solid $neutralGray5;
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0px solid transparent;
  }

  .moreInfoItemIcon {
    width: 20px;
    height: 20px;
    margin-right: 6px;

    & > g > path {
      fill: $neutralGray6;
    }
  }

  .ratingStar {
    width: 20px;
    height: 20px;
    margin-right: 2px;

    &:last-of-type {
      margin-right: 6px;
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;

  @include viewportLarge {
    align-items: unset;
    justify-content: space-between;
    flex-direction: row;
  }

  .filterItem {
    .checbox {
      margin-bottom: 10px;
      @include checkBoxInputStyles;

      .labelText {
        cursor: pointer;
        @include textTemplate(14px, 400, 24px);
      }
    }

    .inputContainer {
      width: 300px;

      @include viewportMedium {
        width: 380px;
      }

      input {
        @include textTemplate(14px, 400, 18px);
      }

      .searchIcon {
        width: 18px;
        height: 18px;
        margin: 4px 12px 0 0;
      }
    }
  }
}

.foodSection {
  .categories {
    .category {
      .categoryTitle {
        @include textTemplate(20px, 700, 32px);
        margin: 0 0 24px 0;
        text-align: center;

        @include viewportLarge {
          margin: 0 0 32px 0;
          text-align: left;
        }
      }

      .foodList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include viewportLarge {
          justify-content: flex-start;
        }

        .foodItem {
          margin-bottom: 20px;

          @include viewportLarge {
            margin-right: 20px;

            &:nth-child(2n) {
              margin-right: 0;
            }
          }

          @include viewportSLarge {
            &:nth-child(2n) {
              margin-right: 20px;
            }

            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding-top: 8px;
  .submitBtn {
    margin-left: auto;
  }
}
