@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/defaults.scss' as *;

.scrollLayer .modalContainer {
  position: relative;
  padding: 24px;

  @include viewportMedium {
    padding: 18px;
  }

  @include viewportLarge {
    flex-basis: 762px;
  }

  @include viewportSLarge {
    flex-basis: 1120px;
  }
}

.modalHeader {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconClose {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 8px 30px 0 0;
  margin-bottom: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  @include viewportMedium {
    padding: 18px calc(18px + 30px) 0 18px;
    flex-direction: row;
    align-items: center;
  }

  .modalBadge {
    height: fit-content;
  }
}

.title {
  @include textTemplate(24px, 700, 32px);
  margin-bottom: 5px;

  @include viewportMedium {
    margin-bottom: 0;
    @include lineClamp(2, 32px);
    max-width: 80%;
  }
}

.contentScroll {
  overflow-y: overlay;

  @include viewportMedium {
    padding: 0 18px;
    height: 70vh;
    max-height: 926px;
  }
}

.coverImage {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  border-radius: 16px;
  overflow: hidden;

  @include viewportMedium {
    padding-bottom: 22.2%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  margin: -50px 24px 16px;

  @include viewportLarge {
    flex-direction: row;
  }
}

.profileImageWrapper {
  position: relative;
  width: 140px;
  height: 140px;
  min-width: 140px;
  background-color: $neutralGray1;
  border-radius: 14px;
}

.profileImage {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 14px;
  border: 4px solid $neutralGray1;
  margin: auto;
  overflow: hidden;

  @include viewportLarge {
    margin: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.restaurantInfo {
  margin-top: 20px;

  @include viewportLarge {
    margin-top: 50px;
    margin-left: 12px;
    padding-top: 20px;
  }
}

.restaurantName {
  @include textTemplate(18px, 700, 24px);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: inline-block;
  }

  @include viewportLarge {
    justify-content: unset;
  }
}

.iconHeart {
  margin-left: 12px;
  min-width: 24px;
  cursor: pointer;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewportMedium {
    align-items: unset;
    flex-direction: row;
  }
}

.moreInfoItem {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  @include textTemplate(14px, 400, 20px);

  @include viewportMedium {
    margin-bottom: 0;
    border-right: 1px solid $neutralGray6;
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0px solid transparent;
  }

  .moreInfoItemIcon {
    width: 20px;
    height: 20px;
    margin-right: 6px;

    & > g > path {
      fill: $neutralGray7;
    }
  }

  .ratingStar {
    width: 20px;
    height: 20px;
    margin-right: 2px;

    &:last-of-type {
      margin-right: 6px;
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;

  @include viewportLarge {
    align-items: unset;
    justify-content: space-between;
    flex-direction: row;
  }

  .filterItem {
    .checbox {
      margin-bottom: 10px;
      @include checkBoxInputStyles;

      .labelText {
        cursor: pointer;
        @include textTemplate(14px, 400, 24px);
      }
    }

    .inputContainer {
      width: 300px;

      @include viewportMedium {
        width: 380px;
      }

      input {
        @include textTemplate(14px, 400, 18px);
      }

      .searchIcon {
        width: 18px;
        height: 18px;
        margin: 4px 12px 0 0;
      }
    }
  }
}

.foodSection {
  .categories {
    .category {
      margin-bottom: 24px;
      .categoryTitle {
        @include textTemplate(20px, 700, 32px);
        margin: 0 0 20px 0;
        text-align: center;

        @include viewportLarge {
          margin: 0 0 20px 0;
          text-align: left;
        }
      }

      .foodList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        @include viewportLarge {
          justify-content: flex-start;
        }

        .emptyFoodList {
          margin: 0 auto;
        }
      }
    }
  }
}

.footer {
  padding: 8px 0px 0;

  @include viewportMedium {
    padding: 8px 18px 18px;
  }

  .submitBtn {
    margin-left: auto;

    span {
      margin-right: 8px;
    }

    .spinner {
      width: 20px;
      height: 20px;
    }
  }
}

.ratingWrapper {
  position: relative;
  width: fit-content;
  @include flexAlign(center);
  cursor: pointer;

  .basicStars {
    @include flexAlign(flex-start, flex-start);
  }

  .ratingStars {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .ratingStar {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
}

.foodItem {
  width: 100%;

  @include viewportLarge {
    width: calc((100% - 20px) / 2);
  }

  @include viewportSLarge {
    width: calc((100% - 40px) / 3);
  }
}

.restaurantCover {
  position: absolute;
}
