@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-top: $adminTopbarHeight;
  min-height: calc(100vh - $adminTopbarHeight - 84px);
  min-height: calc(100dvh - $adminTopbarHeight - 84px);
  transition: all 0.5s;
  margin-bottom: 84px;

  &.hideHeader {
    margin-top: 0;
    min-height: calc(100vh - 84px);
    min-height: calc(100dvh - 84px);
  }

  @include viewportMedium {
    width: calc(100vw - $adminSidebarLeftPartWidth);
    margin-left: $adminSidebarLeftPartWidth;
    min-height: calc(100vh - $adminTopbarHeight);
    margin-bottom: 0px;
  }

  @include viewportLarge {
    margin-left: $adminSidebarWidth;
    width: calc(100vw - $adminSidebarWidth);
  }
}

.container {
  background-color: $neutralGray1;
  max-width: 100vw;

  @include viewportMedium {
    border-radius: 6px;
    padding: 19px 40px 40px 40px;
    width: calc(100vw - $adminSidebarLeftPartWidth);
    max-width: calc(100vw - $adminSidebarLeftPartWidth);
  }

  @include viewportLarge {
    width: calc(100vw - $adminSidebarWidth);
    max-width: calc(100vw - $adminSidebarWidth);
  }
}
