@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.modalHeader.modalHeader {
  display: none;
}
.modalContainer.modalContainer {
  padding: 0;
}

.heading {
  @include textTemplate(16px, 700, 24px);
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 8px;
  padding: 14px 16px;
  border-bottom: 1px solid $neutralGray3;
  cursor: pointer;

  & > div:first-of-type {
    flex-basis: calc(100% - 8px * 2 - 20px - 24px);
  }
}

.alertMessage {
  @include textTemplate(14px, 700, 20px);
}
