@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  @include viewportMedium {
    flex-basis: 700px;
  }
}

.modalHeader {
  @include flexAlign(center, space-between);

  .modalTitle {
    @include text(20px, 32px);
    font-weight: 700;
  }
}

.modalFooter {
  .cancelBtn {
    margin: 16px auto 0;
    width: 100%;
    @include viewportSmall {
      width: 400px;
    }
  }
}
