@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
}

.rowId {
  max-width: 50px;
}

.rowText {
  min-width: 50px;
  max-width: 200px;
  word-wrap: break-word;
  @include lineClamp(3);
}

.badge {
  max-width: 100px;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: $fontWeightMedium;
}

.unsatisfactoryBox {
  background-color: $labelBlue1;
  color: $labelBlue2;
}

.newBox {
  background-color: $labelOrange1;
  color: $labelOrange2;
}

.authorizedBox {
  background-color: $sematicGreen1;
  color: $sematicGreen2;
}

.rowId {
  max-width: 100px;
  -webkit-line-clamp: 1; /* number of lines to show */
}

.actionButton {
  display: flex;
  align-items: center;
  width: 50px;
  min-height: 50px;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;

  svg {
    width: 20px;
    height: 20px;
  }

  &:focus,
  &:hover {
    background-color: $neutralGray5;

    svg * {
      fill: $neutralGray1;
    }
  }
}

.table {
  overflow: visible;
}

.tableActions {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  min-width: 100px;
}

.profileMenuWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    background-color: $neutralGray3;
  }
}

.profileMenuContent {
  border-radius: 10px;
}

.profileMenuItem {
  padding: 10px 0;
}

.actionBtn {
  min-height: unset;
  font-size: 12px;
  color: $labelOrange2;
  margin: 0 0 10px 0;
  font-weight: $fontWeightBold;

  @include viewportLarge {
    margin: 0;
  }
  &:hover {
    color: $neutralGray7;
  }
}

.loadingIcon {
  stroke: $neutralGray6;
}

.filterWrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.title {
  @include pageTitle;
}

.top {
  margin: 0px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  display: flex;
  align-items: center;
  .addIcon {
    fill: $neutralGray1;
  }
}

.draftBox {
  padding: 3px 5px;
  display: inline-flex;
  background-color: $labelOrange1;
  color: $labelOrange2;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 5px;
}

.field {
  margin-bottom: 20px;
}

.iconEdit {
  height: auto;
}

.rowTitle {
  color: $neutralGray7;
}

.viewAndEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profileMenuContent {
  width: 200px;
  padding: 20px 0;
  margin-top: 10px;
}
