@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.formContainer {
  width: 400px;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.headerContainer {
  @include flexCenter;
  flex-direction: column;

  .main {
    @include textTemplate(24px, $fontWeightBold, 32px);
    margin-top: 20px;
    text-transform: capitalize;
  }

  .semi {
    @include textTemplate(14px, $fontWeightRegular, 20px);
    margin-top: 8px;
    color: $neutralGray5;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.container {
  text-align: center;
}

.initialOrderText {
  @include textTemplate(24px, $fontWeightBold, 32px);
  margin-top: 32px;
  text-transform: capitalize;
}

.orderTitle {
  margin-top: 32px;
}

.orderDateWrapper {
  margin-top: 4px;

  .orderDateRange {
    @include textTemplate(20px, $fontWeightBold, 32px);
    margin-left: 8px;
    text-transform: capitalize;
  }
}

.memberModalContainer.memberModalContainer {
  flex-basis: 700px;
}

.loadedResult {
  @include flexAlign(flex-start);
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}

.memberItem {
  width: 300px;
  @include flexAlign(center, space-between);

  .memberWrapper {
    @include flexAlign(center);

    .grayCircle {
      width: 28px;
      height: 28px;
      background-color: $neutralGray6;
      border-radius: 50%;
      flex-basis: 28px;
      margin-right: 12px;
    }

    .avatar {
      width: 28px;
      min-width: 28px;
      height: 28px;
      margin-right: 12px;
    }

    .fullRowEmail {
      @include text(14px);
      color: $neutralGray6;
      word-break: break-all;
      width: 200px;
      font-weight: $fontWeightBold;
    }

    .email {
      @include text(12px);
      color: $neutralGray5;
    }

    .name {
      @include text(14px);
      color: $neutralGray6;
    }
  }

  .actionsWrapper {
    @include flexAlign(center);

    .closeIcon {
      width: 9px;
      height: 9px;
      cursor: pointer;
    }
  }
}
