@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.formContainer {
  width: 100%;
  @include flexAlign(flex-end, space-between);
  flex-direction: column;
  gap: 8px;
  @include viewportSmall {
    height: 108px;
    flex-direction: row;
  }
}

.label {
  @include viewportSmall {
    width: 100px;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
  }
}

.groupField {
  width: 100%;
  gap: 8px;
  @include viewportSmall {
    @include flexAlign(center);
    flex-direction: row;
    width: auto;
  }
}

.fieldWrapper {
  @include flexAlign(flex-start);
  flex-direction: column;
  padding-bottom: 16px;
  width: 100%;
  @include viewportSmall {
    padding-bottom: 0px;
    display: block;
    width: auto;
  }
}

.descriptionField {
  margin-top: 16px;
}

.buttonsWrapper {
  width: 100%;
  @include flexAlign(center);
  flex-direction: column-reverse;
  gap: 8px;
  @include viewportSmall {
    flex-direction: row;
    width: auto;
  }
  .itemBtn {
    width: 100%;
    @include viewportSmall {
      width: auto;
    }
  }

  .cancelBtn {
    @include viewportSmall {
      margin-right: 16px;
    }
  }
}
