@use '/src/styles/vars.scss' as *;

.devidedSection {
  padding: 32px 0;
  border-bottom: 1px solid $neutralGray5;
}

.sectionTitle {
  margin: 0 0 16px 0;
  font-size: 18px;
  text-transform: capitalize;
}

.content {
  display: flex;
  .titleGroup {
    width: 300px;
    margin-right: 60px;
    .label {
      font-size: 14px;
      color: $neutralGray6;
    }
    .title {
      font-size: 16px;
      color: $neutralGray7;
    }
  }
}

.noFood {
  text-align: center;
  font-size: 12px;
}
