@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;

  @include viewportSLarge {
    max-width: 925px;
  }

  @include viewportXLarge {
    max-width: 1240px;
  }
}

.card {
  margin-bottom: 20px;

  @include viewportMedium {
    margin: 0 20px 20px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include viewportSLarge {
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include viewportXLarge {
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 20px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.loadingList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;

  & > span {
    margin: 0 auto 20px;
    @include viewportMedium {
      margin: 0 20px 20px 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include viewportSLarge {
      margin-right: 20px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include viewportXLarge {
      margin-right: 20px;

      &:nth-child(3n) {
        margin-right: 20px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.loadingCard {
  width: 295px;
  height: 270px;
}

.emptyResult {
  margin: 120px auto;
}

.emptyResultImg {
  position: relative;
  width: 245px;
  height: 200px;
  margin: 0 auto 32px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.emptyTitle {
  @include textTemplate(16px, 600, 24px);
  color: $neutralGray7;
  margin: 0 auto 8px;
  text-align: center;
}

.emptyContent {
  @include textTemplate(14px, 400, 20px);
  color: $neutralGray6;
  margin: 0;
  color: $neutralGray6;
  margin: 0 auto 32px;
  max-width: 470px;
  text-align: center;
}

.contactUsBtn {
  margin: auto;
}

.contactUsIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;

  & path {
    fill: $neutralGray7;
  }
}
