@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.imageLabelWrapper {
  width: 480px;
  height: 160px;
  border: 1px solid $neutralGray5;
  border-radius: 8px;
  @include flexCenter;
  flex-direction: column;

  .selectImageBtn {
    @include text(14px, 24px);
    font-weight: $fontWeightBold;
    color: $neutralGray7;
    padding: 6px 14px;
    border: 1px solid $neutralGray5;
    border-radius: 8px;
  }

  .imageDescription {
    @include text(12px, 16px);
    color: $neutralGray6;
    margin-top: 8px;
  }
}

.label {
  width: 480px;
  height: 160px;
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.uploadingImage {
  width: 480px;
  height: 160px;
  border-radius: 8px;
  display: block;
  position: relative;
}

.thumbnailLoading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.squareAspectRatio {
  padding-bottom: 100%;
}

.uploadImageInput {
  display: none;
}

.submitBtn {
  margin-top: 40px;
  width: 200px;
}

.error {
  color: $primaryPri2;
}
