@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  min-height: 198px;
  @include viewportMedium {
    min-height: 262px;
  }
  .title {
    font-size: 18px;
    margin: 0 0 14px 0;
  }
  .container {
    padding: 70px 92px 12px 12px;
    background-color: $labelBlue1;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    @include viewportLarge {
      padding: 92px 228px 20px 20px;
    }
    .background {
      position: absolute;
      top: -50px;
      right: 0px;
      .icon {
        width: 180.2px;
      }
    }
    .content {
      .contentLabel {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 4px 0;
      }
      .contentDescription {
        font-size: 12px;
        color: $neutralGray5;
        margin: 0 0 4px 0;
      }
      .link {
        color: $labelBlue2;
        font-size: 14px;
        font-weight: $fontWeightBold;
      }
    }
  }
}
