@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: fixed;
  z-index: 999;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  @include flexAlign(center, space-between);
  flex-direction: row;
  width: min(90vw, 500px);
  transition: all 0.25s linear;
  /* Shadown/MD */
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;

  & > :first-child {
    flex-shrink: 0;
  }
}

.rightSide {
  right: -100vw;

  &.isOpen {
    right: 30px;

    width: min(calc(90vw - 30px), 500px);
  }
}
.leftSide {
  left: -100vw;

  &.isOpen {
    left: 30px;

    width: min(calc(90vw - 30px), 500px);
  }
}
.topSide {
  top: 80px;
}
.bottomSide {
  bottom: 60px;
}

.centerSide {
  margin: 0 auto;
  right: -100vw;

  &.isOpen {
    right: unset;
  }
}

.warning {
  background-color: $labelOrange1;
}

.success {
  padding: 12px 16px;
  background-color: $neutralGray1;

  @include viewportXSmall {
    padding: 12px 24px;
  }
}

.message {
  @include textTemplate(14px, 700, 20px);
  text-align: center;
  word-break: break-word;

  @include viewportMedium {
    @include textTemplate(16px, 400, 24px);
    text-align: left;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.closeContainer {
  padding: 4.5px 5px;
  cursor: pointer;
}

.closeIcon {
  width: 14px;
  height: 15px;
  justify-self: flex-end;
}
