@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: fixed;
  z-index: 999;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: min(90vw, 500px);

  transition: all 0.25s linear;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.rightSide {
  right: -100vw;

  &.isOpen {
    right: 30px;

    width: min(calc(90vw - 30px), 500px);
  }
}
.leftSide {
  left: -100vw;

  &.isOpen {
    left: 30px;

    width: min(calc(90vw - 30px), 500px);
  }
}
.topSide {
  top: 80px;
}
.bottomSide {
  bottom: 60px;
}

.centerSide {
  margin: 0 auto;
  right: -100vw;

  &.isOpen {
    right: unset;
  }
}

.warning {
  background-color: $labelOrange1;
}

.success {
  padding: 12px 16px;
  background-color: $neutralGray1;

  @include viewportXSmall {
    padding: 12px 24px;
  }
}

.message {
  @include textTemplate(16px, 400, 24px);
}

.icon {
  width: 24px;
  height: 24px;
}

.closeContainer {
  padding: 4.5px 5px;
  cursor: pointer;
}

.closeIcon {
  width: 14px;
  height: 15px;
  justify-self: flex-end;
}
