@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  border: 1px solid $neutralGray4;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px 16px 0 16px;
  margin-bottom: 24px;

  .arrowIcon {
    transition: rotate 0.25s;
  }

  &.isOpen {
    padding-bottom: 16px;
    overflow: visible;

    .arrowIcon {
      rotate: 180deg;
    }
  }

  .labelSection {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    width: 100%;
    .label {
      color: $neutralGray6;
      font-size: 16px;
      font-weight: $fontWeightBold;
      text-transform: uppercase;
    }
  }

  .content {
    transition: height 0.3s;
    height: initial;

    &.isClose {
      height: 0;
    }
  }
}
