@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  border: 1px solid $neutralGray3;
  border-radius: 12px;
  overflow: hidden;
  padding: 16px 16px 0 16px;
  margin-bottom: 24px;

  &.isOpen {
    padding-bottom: 16px;
    overflow: visible;

    .arrowIcon {
      rotate: 180deg;
    }
  }
}

.arrowIcon {
  transition: rotate 0.25s;
}

.labelSection {
  min-height: unset;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
  width: 100%;
}

.label {
  color: $neutralGray7;
  font-size: 16px;
  font-weight: $fontWeightBold;
  text-transform: uppercase;
}

.content {
  height: fit-content;

  &.isClose {
    height: 0;
  }
}
