@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
}

.modalRoot {
  &.isOpen {
    z-index: $zIndexAlertModal;
  }

  .container {
    width: 100%;
    max-width: 480px;
  }
}

.children {
  @include textTemplate(14px, 500, 24px, '');
  color: $neutralGray6;

  &.hasActionSection {
    padding-bottom: 12px;

    @include viewportMedium {
      padding-bottom: 40px;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.reject {
  flex-basis: calc(50% - 8px);
}

.confirm {
  flex-basis: calc(50% - 8px);
}
