@use '/src/styles/customMediaQueries.scss' as *;

.actions {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 12px 16px;

  @include viewportMedium {
    flex-direction: row;
  }

  button {
    width: 100%;
    @include viewportMedium {
      width: min(50% - 8px, 260px);
    }
  }
}
