@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  .container {
    margin-top: 28px;
    @include viewportLargeWithPaddings {
      display: grid;
      grid-template-columns: 1fr 250px;
      column-gap: 24px;
    }

    .leftPart {
    }
    .rightPart {
    }
  }
}
