@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
.root {
  padding: 0 0 100px;
  @include viewportLarge {
    padding: 0;
  }

  .goBackContainer {
    @include flexAlign(center);
    height: 48px;
    padding-left: 16px;
    border-bottom: 1px solid $neutralGray3;

    @include viewportLarge {
      display: none;
    }
  }

  .container {
    margin-top: 28px;
    @include viewportLargeWithPaddings {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-rows: 1fr auto;
      column-gap: 24px;
    }

    .leftPart {
      grid-row: 1;
      grid-column: 1;
      .mobileSubOrderCartWrapper {
        display: block;
        @include viewportLarge {
          display: none;
        }
      }

      .mobileSubOrderSummaryWrapper {
        display: block;
        @include viewportLarge {
          display: none;
        }
      }

      .subOrderSummaryWrapper {
        display: none;

        @include viewportLarge {
          display: block;
        }
      }
    }
    .rightPart {
      grid-row: 1;
      grid-column: 2;
      display: none;
      @include viewportLarge {
        display: block;
      }
    }

    .subOrderSummaryActionWrapper {
      display: none;
      justify-content: flex-end;
      column-gap: 16px;
      margin-top: 20px;

      button {
        padding: 12px 0;
        max-width: 170px;
        min-height: unset;
        flex-basis: 170px;
      }

      @include viewportMedium {
        display: flex;
      }

      @include viewportLargeWithPaddings {
        margin-top: 0;
      }
    }

    .subOrderSummaryMobileActionWrapper {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 16px;

      @include viewportMedium {
        display: none;
      }
    }
  }

  .updatedOrderModal {
    .updatedOrderModalContainer {
      max-width: calc(100% - 32px);
      padding: 16px;

      @include viewportLarge {
        max-width: 480px;
        padding: 0 24px 24px;
      }

      .updatedOrderModalHeader {
        justify-content: flex-end;
        padding-top: 0;

        @include viewportLarge {
          padding-top: 24px;
        }
      }

      .title {
        text-align: center;
        @include textTemplate(16px, 700, 24px);

        @include viewportLarge {
          margin: 24px 0;
        }
      }

      .changes {
        background-color: $neutralGray2;
        padding: 16px 0;
        border-radius: 16px;
        max-height: 240px;
        overflow: hidden auto;
        margin-top: 12px;

        .headRow,
        .row {
          display: flex;
          flex-direction: row;

          & > div {
            flex-basis: calc(100% / 3);
            width: calc(100% / 3);
            padding: 0 12px;

            @include viewportLarge {
              padding: 0 24px;
            }
          }

          & > div:first-of-type {
            @include lineClamp(2);
          }
        }
        .headRow {
          @include textTemplate(14px, 400, 20px);
        }
        .row div {
          margin-top: 12px;
          color: $neutralGray6;
          @include textTemplate(14px, 400, 16px);
        }
      }

      .action {
        margin-top: 24px;
        display: flex;
        width: 100%;
        justify-content: center;

        @include viewportLarge {
          justify-content: flex-end;
        }

        .viewDetailsBtn {
          min-height: unset;
          width: 200px;
          padding: 12px 20px;
          text-align: center;
        }
      }
    }
  }
}
