@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .shareLinkButton {
      padding: 2px;
      border-radius: 50px;
      height: fit-content;
      min-height: unset;
      margin: 0;

      .editIcon {
        width: 24px;
        height: 24px;
      }
    }
  }

  .linkContainer {
    margin-top: 16px;

    span {
      word-break: break-all;
      @include lineClamp(1);
      @include textTemplate(16px, 400, 1.5);
      color: $labelBlue2;
      white-space: nowrap;
      display: inline-block;

      padding: 10px 16px;
      outline: 1px solid $neutralGray5;
      outline-offset: -1px;
      border-radius: 16px;
      flex-grow: 1;
    }

    button {
      padding: 8px;
    }
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
  }
}

.toolTipOverlay :global(.rc-tooltip-arrow) {
  border-color: $neutralGray7;
  border-right-color: $neutralGray1;
  border-left-color: $neutralGray1;
}
