@use '/src/styles/customMediaQueries.scss' as *;

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  button {
    width: 100%;

    @include viewportMedium {
      width: unset;
    }
  }
}
