@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.logo {
  padding: 20px;
  background-color: $matterColorLight;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburgerMenu {
  @include viewportLarge {
    display: none;
  }
}
