@use '/src/styles/customMediaQueries.scss' as *;

.root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 64px;

  @include viewportMedium {
    padding: 0 48px;
  }

  @include viewportLarge {
    padding: 0 60px;
  }
}
