@use '/src/styles/customMediaQueries.scss' as *;

.root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px 104px;
  margin-top: 20px;

  @include viewportMedium {
    padding: 0 48px;
  }

  @include viewportLarge {
    padding: 40px 60px 104px;
  }
}
