@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
}

.title {
  font-weight: $fontWeightBold;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}

.top {
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  display: flex;
  align-items: center;
  .addIcon {
    fill: $neutralGray1;
  }
}
.active,
.inActive {
  max-width: 100px;
}

.active {
  color: $neutralGray1;
  padding: 10px;
  text-align: center;
  display: inline;
  border-radius: 5px;
  background-color: $sematicGreen2;
}

.inActive {
  color: $neutralGray1;
  padding: 10px;
  display: inline;
  text-align: center;
  border-radius: 5px;
  background-color: $primaryPri2;
}

.spinner {
  stroke: $primaryPri2;
}

.tableActions {
  display: flex;
  align-items: center;

  column-gap: 10px;
  .actionButton {
    display: flex;
    align-items: center;
    width: 50px;
    min-height: 50px;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      background-color: $neutralGray5;
    }

    .iconEdit {
      width: 17px;
      height: auto;
    }
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.filterWrapper {
  align-items: center;
  margin-bottom: 20px;
  row-gap: 40px;
  justify-content: space-between;
  @include viewportLarge {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  .singleFilter {
    margin-top: 10px;
  }
}

.toggleButton {
  justify-content: flex-end;
  @include viewportLarge {
    justify-content: flex-start;
  }
}

.rowId {
  min-width: 50px;
  max-width: 200px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.boldTextRow {
  font-weight: $fontWeightBold;
  color: #2f54eb;
}

.keywordInput {
  width: 100%;
}

.searchButton {
  width: 100%;
  svg {
    width: 20px;
    height: auto;
    fill: $neutralGray1;
  }
}

.filterWrapper {
  margin-bottom: 24px;
}

.badgeContainer {
  border-radius: 100px;
  background-color: $neutralGray3 !important;
  min-width: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  .badgeLabel {
    text-align: center;
    font-size: 12px;
    font-weight: 600 !important;
    color: $neutralGray5 !important;
  }
  &.badgeContainerActive {
    min-width: 77px !important;
    background-color: $singleUseBadgeGreen1 !important;
    .badgeLabel {
      color: $singleUseBadgeGreen2 !important;
    }
  }
}
