@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
}

.title {
  @include pageTitle;
}

.top {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  display: flex;
  align-items: center;
  .addIcon {
    fill: $neutralGray1;
  }
}
.active,
.inActive {
  max-width: 100px;
}

.active {
  color: $neutralGray1;
  padding: 10px;
  text-align: center;
  display: inline;
  border-radius: 5px;
  background-color: $sematicGreen2;
}

.inActive {
  color: $neutralGray1;
  padding: 10px;
  display: inline;
  text-align: center;
  border-radius: 5px;
  background-color: $primaryPri2;
}

.spinner {
  stroke: $primaryPri2;
}

.tableActions {
  display: flex;
  align-items: center;

  column-gap: 10px;
  .actionButton {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 50px;
    min-height: 50px;
    padding: 13px;
    border-radius: 50%;
    background-color: transparent;

    .icon {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: $neutralGray5;

      .icon * {
        fill: $neutralGray1;
      }
    }

    .iconEdit {
      width: 17px;
      height: auto;
    }
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.filterWrapper {
  align-items: center;
  margin-bottom: 20px;
  row-gap: 40px;
  justify-content: space-between;
  @include viewportLarge {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  .singleFilter {
    margin-top: 10px;
  }
}

.toggleButton {
  justify-content: flex-end;
  @include viewportLarge {
    justify-content: flex-start;
  }
}

.rowId {
  min-width: 50px;
  max-width: 200px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.boldTextRow {
  font-weight: $fontWeightBold;
  color: $labelBlue2;
}

.keywordInput {
  width: 100%;
}

.searchButton {
  width: 100%;
  svg {
    width: 20px;
    height: auto;
    fill: $neutralGray1;
  }
}

.filterWrapper {
  margin-bottom: 24px;
}

.badgeContainer {
  border-radius: 100px;
  background-color: $neutralGray3 !important;
  max-width: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  .badgeLabel {
    text-align: center;
    font-size: 12px;
    font-weight: 600 !important;
    color: $neutralGray6 !important;
  }
  &.badgeContainerActive {
    max-width: 77px !important;
    background-color: $sematicGreen1 !important;
    .badgeLabel {
      color: $sematicGreen2 !important;
    }
  }
}

.memberName {
  font-weight: $fontWeightBold;
  margin-bottom: 2px;
}

.membersCount {
  font-weight: $fontWeightBold;
  margin-top: 4px;
}

.memberEmail,
.memberPhoneNumber {
  color: $neutralGray6;
}

.tableWrapper {
  @include viewportMedium {
    max-width: calc(100vw - 350px);
    overflow-x: scroll;
    position: relative;
  }
}

.table {
  @include viewportMedium {
    min-width: 1100px;
  }
}

.row {
  max-width: 200px;
}

.draftBox {
  padding: 3px 5px;
  display: inline-flex;
  background-color: $labelOrange1;
  color: $labelOrange2;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 5px;
}
