@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  @include flexAlign(flex-start);
  gap: 8px;
  flex-direction: column;
  background-color: $neutralGray4;
  @include viewportSmall {
    background-color: $neutralGray1;
  }

  .headerPage {
    background-color: $neutralGray1;
    width: 100%;
    padding: 16px;
    @include flexAlign(center, flex-start);
    span {
      @include textTemplate(16px, $fontWeightBold, 24px);
      @include viewportSmall {
        @include textTemplate(24px, $fontWeightBold, 32px);
      }
    }
    @include viewportSmall {
      padding: 16px 0;
    }
  }

  .SummarizeContainer {
    background-color: $neutralGray1;
    padding: 16px;
    @include viewportSmall {
      padding: 16px 0 0 0;
    }
  }

  .reviewTable {
    width: 100%;
    background-color: $neutralGray1;
    padding: 16px;
    @include flexAlign(flex-start);
    gap: 16px;
    flex-direction: column;
    @include viewportSmall {
      padding: 16px 0 0 0;
    }

    .reviewTableContent {
      @include flexAlign(flex-start);
      gap: 16px;
      flex-direction: column;
      @include viewportSmall {
        display: block;
      }
    }

    .tableTitleContainer {
      width: 100%;
      @include flexAlign(center, space-between);
    }

    .dataEmtpy {
      @include flexAlign(center, center);
      gap: 16px;
      padding: 12px 0px;
      flex-direction: column;
      margin-top: 50px;
      .dataEmptyTitle {
        color: $neutralGray6;
      }
    }
  }
}

.titleText {
  @include textTemplate(16px, $fontWeightSemiBold, 24px);
  @include viewportSmall {
    @include textTemplate(20px, $fontWeightBold, 32px);
  }
}
.normalText {
  @include textTemplate(14px, $fontWeightRegular, 20px);
}

.nameText {
  @include textTemplate(12px, $fontWeightRegular, 16px);
}

.foodNameText {
  @include textTemplate(12px, $fontWeightSemiBold, 16px);
}

.filterIcon {
  margin-right: 10px;
  fill: $neutralGray7;
}

.filterButton {
  padding: 10px 20px 10px 20px;
  span {
    @include textTemplate(14px, $fontWeightBold, 24px);
  }
  .filterIcon {
    width: 16px;
    height: 14px;
  }

  &:hover,
  &:focus {
    .filterIcon * {
      fill: $neutralGray1;
    }
  }
}
