@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.cardWrapper {
  border-radius: 12px;
  border: 1px solid $neutralGray3;
  background: $neutralGray1;
  padding: 12px;
  width: 100%;
  position: relative;

  .card {
    cursor: pointer;

    &.disabled {
      cursor: default;
    }
  }

  .checkboxLabel {
    width: 100%;

    .checkboxWrapper {
      align-self: center;
    }
  }

  .checkboxSvg {
    width: 16px;
    height: 16px;
  }

  .actionsWrapper {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 24px;
    height: 24px;

    svg {
      cursor: pointer;
    }

    .actionsBtnWrapper {
      @include flexAlign(center);
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 32px;
      border-radius: 8px;
      background-color: $neutralGray1;
      width: 150px;
      overflow: hidden;
      z-index: 1;
      box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
        0px 20px 24px -4px rgba(16, 24, 40, 0.1);

      .item {
        width: 150px;
        padding: 12px;
        cursor: pointer;
        color: $neutralGray7;

        &:hover {
          background-color: $neutralGray2;
        }
      }
    }
  }
}

.checkboxText {
  width: 100%;
}

.contentWrapper {
  @include flexAlign(center, space-between);
  gap: 12px;
  color: $neutralGray7;

  .image {
    width: 84px;
    height: 84px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    svg {
      width: 24px;
      height: 24px;
    }

    .imageAmountLabel {
      position: absolute;
      width: 20px;
      height: 16px;
      @include textTemplate(10px, $fontWeightRegular, 16px);
      color: $neutralGray1;
      text-align: center;
      border-radius: 8px;
      background-color: rgba($neutralGray1, 0.2);
      backdrop-filter: blur(10px);
      bottom: 8px;
      right: 4px;
    }
  }

  .content {
    flex-basis: calc(100% - 100px);

    .infoWrapper {
      .foodName {
        @include textTemplate(16px, $fontWeightBold, 24px);
        @include lineClamp(1, 24px);
      }

      .menuType {
        @include textTemplate(14px, $fontWeightRegular, 20px);
        color: $neutralGray6;
        @include flexAlign(center, space-between);
        margin-top: 4px;

        .priceWrapper {
          @include textTemplate(14px, $fontWeightRegular, 20px);
        }
      }
    }

    .bottomWrapper {
      @include flexAlign(center);
      margin-top: 12px;
      gap: 8px;

      .foodType {
        @include flexAlign(center);
        gap: 4px;
      }
    }
  }
}

.toggle {
  position: absolute;
  bottom: 15px;
  right: 40px;
}

.disabledLink {
  pointer-events: none;
  cursor: default;
}

.reApprovalBtn {
  color: $neutralGray6;
  border: 1px solid $neutralGray3;
  border-radius: 8px;
  padding: 0 14px;
  min-height: unset;
  position: absolute;
  bottom: 12px;
  right: 36px;

  @include textTemplate(14px, $fontWeightBold, 24px);
}
