@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  background-color: $neutralGray1;

  @include viewportMedium {
    position: static;
  }

  .titleText {
    display: none;
    padding-bottom: 7px;
    color: $neutralGray7;
    @include textTemplate(24px, 700, 4/3);

    @include viewportMedium {
      display: block;
    }
  }

  .mobileActionContainer {
    padding-bottom: 16px;
  }

  .timeLeft {
    @include textTemplate(14px, 400, 20px);
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
    column-gap: 13px;

    .timeLeftTime {
      color: $labelBlue2;
      @include textTemplate(16px, 700, 24px);
    }
  }

  .orderEndAt {
    margin-bottom: 8px;
    @include textTemplate(14px, 400, 20px);
    color: $neutralGray6;
    display: flex;
    justify-content: space-between;

    .orderEndAtTime {
      @include textTemplate(14px, 600, 24px);
      color: $neutralGray7;
    }

    svg {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;

    .makeOrderBtn,
    .cancelOrderBtn {
      width: 100%;
      min-width: 48px;
      align-self: center;
      padding: 0;
    }

    @include viewportMedium {
      flex-direction: row;

      .makeOrderBtn,
      .cancelOrderBtn {
        width: 160px;
      }

      .makeOrderBtn {
        order: 2;
      }
    }
  }
}
