@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  background-color: #f2f2f7;
  height: 100vh;
  overflow: hidden auto;

  @include viewportLarge {
    background-color: $neutralGray1;
  }
}

.title {
  font-size: 32px;
  margin-top: 0;

  display: none;

  @include viewportLarge {
    display: block;
  }
}

.mobileHeader {
  @include flexAlign(center);
  gap: 8px;
  padding: 12px 16px;
  border-bottom: 1px solid $neutralGray3;
  background-color: $neutralGray1;
  position: sticky;
  top: 0;
  z-index: 2;

  @include viewportLarge {
    display: none;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .headerTitle {
    @include textTemplate(16px, $fontWeightBold, 24px);
  }
}

.desktopFormWrapper {
  display: none;

  @include viewportLarge {
    display: block;
  }
}

.mobileFormWrapper {
  margin-top: 8px;
  background-color: $neutralGray1;
  padding-bottom: 160px;
  @include viewportLarge {
    display: none;
  }
}

.stepTabContainer {
  padding: 16px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
  background-color: $neutralGray1;
  position: sticky;
  top: 49px;
  z-index: 2;

  @include viewportLarge {
    display: none;
  }
}

.confirmContainer.confirmContainer {
  flex-basis: calc(100% - 32px);

  .content {
    text-align: center;
    margin-top: 8px;
  }
}

.cannotRemoveFoodModalTitle {
  @include flexCenter;
  flex-direction: column;
  gap: 12px;

  .icon {
    width: 32px;
    height: 32px;
  }

  .title {
    @include textTemplate(16px, $fontWeightBold, 24px);
  }
}

.noRemoveFoodConfirmBtn {
  margin: 12px auto 0;
}

.bottomBtns {
  @include flexAlign(center);
  gap: 8px;
}
