@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  position: relative;
  display: flex;
  min-height: calc(100vh - 65px);
}

.layoutMain {
  box-sizing: border-box;

  @include viewportLarge {
    flex-basis: calc(100vw - 280px);
    width: calc(100vw - 280px);
    max-width: calc(100vw - 280px);
  }

  @include viewportLargeWithPaddings {
    padding-left: 0;
    flex-basis: unset;
    flex-grow: 1;
  }
}
