@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  flex-basis: calc(100% - 32px);

  @include viewportLarge {
    flex-basis: 700px;
  }
}
.modalFooter {
  @include flexAlign(center, center);
  gap: 16px;

  @include viewportSmall {
    @include flexAlign(center, flex-end);
  }

  .cancelBtn {
    flex: 1;
    @include viewportSmall {
      width: 100px;
      flex: none;
    }
  }

  .confirmBtn {
    flex: 1;
    @include viewportSmall {
      min-width: 100px;
      flex: none;
    }
  }
}

.error {
  color: $primaryPri2;
}

.timeToClose {
  text-align: center;
  @include textTemplate(12px, $fontWeightRegular, 16px);
  color: $neutralGray6;
}
