@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  flex-basis: calc(100% - 32px);

  @include viewportLarge {
    flex-basis: 700px;
  }
}
.modalFooter {
  @include flexAlign(center, flex-end);

  .cancelBtn {
    margin-right: 16px;
    width: 100px;
  }

  .confirmBtn {
    min-width: 100px;
  }
}

.error {
  color: $primaryPri2;
}

.timeToClose {
  text-align: center;
  @include textTemplate(12px, $fontWeightRegular, 16px);
  color: $neutralGray6;
}
