.root {
  .modalContainer {
    max-width: 700px;
  }

  .contentContainer {
    max-height: 280px;
    overflow: hidden auto;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    button {
      width: min(50% - 8px, 260px);
    }
  }
}
