@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 32px 16px 168px;
  width: 100%;
}
.formContainer {
  margin: 0 auto;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include viewportMedium {
    max-width: 375px;
  }
}

.formTitle {
  color: $neutralGray6;
  @include textTemplate(24px, $fontWeightBold, 32px);
  text-transform: capitalize;

  @include viewportMedium {
    font-size: 32px;
  }
}

.forgotPassword {
  text-align: right;
  font-size: 14px;
  color: $neutralGray5;

  & > span {
    cursor: pointer;
  }
}

.errorSignIn {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  color: $sematicRed2;
}

.orText {
  $width: calc(100%);
  text-align: center;
  position: relative;
  margin: 12px 0;

  & > span {
    position: relative;
    z-index: 2;
    color: $neutralGray5;
    background-color: $neutralGray1;
    padding: 0 8px;
  }
}

.googleLoginButton {
  color: $neutralGray6;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  position: relative;
  border-radius: 8px;
  width: calc(100% - 32px);
  margin: 0 auto;
  @include flexCenter;
  background-color: $neutralGray1;
  border: 1px solid $neutralGray4;
  gap: 16px;

  &:disabled {
    background-color: $neutralGray3;
    border-color: $neutralGray5;
    color: $neutralGray5;
  }

  @include viewportMedium {
    width: 100%;
  }
}

.googleIcon {
  width: 20px;
  height: 20px;
}

.doNotHaveAnAccount {
  margin-bottom: 24px;

  .toSignUp {
    color: $primaryPri2;
    cursor: pointer;
  }
}

.submitButton {
  border-radius: 8px;
  width: calc(100% - 32px);
  margin: 0 auto;

  @include viewportMedium {
    width: 100%;
  }
}

.desktopView {
  display: none;

  @include viewportMedium {
    margin-top: 40px;
    display: block;
  }
}
