@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  width: 100%;
}

.formContainer {
  row-gap: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;

  @include viewportMedium {
    padding: 28px 32px;
    width: 480px;
    background-color: white;
    box-shadow: 4px 4px 35.1px -4px rgba(16, 24, 40, 0.1);
  }
}

.formTitle {
  color: $neutralGray7;
  text-align: center;
  margin: 0 0 24px 0;
  @include textTemplate(24px, $fontWeightBold, 32px);

  @include viewportMedium {
    @include textTemplate(28px, $fontWeightBold, 36px);
    margin: 0 0 28px 0;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include viewportMedium {
    gap: 20px;
  }
}

.secureWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 12px 0 16px 0;

  svg {
    flex-shrink: 0;
  }

  .secureText {
    @include textTemplate(12px, 400, 24px);
    color: $neutralGray7;
    letter-spacing: 0.024px;
    margin: 0;
  }

  @include viewportMedium {
    margin: 12px 0 20px 0;
  }
}

.termsCenter {
  max-width: 398px;
  margin: 0 auto 24px;

  .termsWrapper {
    color: $neutralGray7;
    @include textTemplate(14px, 400, 20px);
    margin: 0;

    .terms {
      color: #039ee1;
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.forgotPassword {
  margin-top: 16px;
  text-align: right;
  color: $neutralGray7;
  @include textTemplate(14px, 600, 20px);

  &:hover {
    opacity: 0.8;
  }

  & > span {
    cursor: pointer;
  }
}

.errorSignIn {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  color: $sematicRed2;
}

.orText {
  $width: calc(100%);
  text-align: center;
  position: relative;
  margin: 12px 0;

  & > span {
    position: relative;
    z-index: 2;
    color: $neutralGray6;
    background-color: $neutralGray1;
    padding: 0 8px;
  }
}

.googleLoginButton {
  color: $neutralGray7;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  position: relative;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  @include flexCenter;
  background-color: $neutralGray1;
  border: 1px solid $neutralGray5;
  gap: 16px;

  &:disabled {
    background-color: $neutralGray3;
    border-color: $neutralGray6;
    color: $neutralGray6;
  }

  @include viewportMedium {
    width: 100%;
  }
}

.googleIcon {
  width: 20px;
  height: 20px;
}

.doNotHaveAnAccount {
  display: flex;
  align-items: center;
  justify-self: center;
  color: #595959;
  @include textTemplate(14px, 400, 20px);

  .toSignUp {
    color: $neutralGray7;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      opacity: 0.8;
    }
  }
}

.submitButton {
  width: 100%;
  margin: 16px auto 0;

  @include viewportMedium {
    margin: 20px auto 0;
  }
}

.bottomButtonsWrapper {
  @include flexAlign(center);
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;
  @include viewportMedium {
    display: none;
  }
}

.errorClass {
  margin-bottom: 0;
  margin-top: 8px;
}

.signInFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  padding: 20px 0;

  @include viewportMedium {
    gap: 28px;
  }
}
