@use '/src/styles/vars.scss' as *;

.root {
  width: 100%;
  display: flex;
  align-items: center;

  .itemsContainer {
    flex-basis: calc(100% - 24px * 2);
    display: flex;
    padding: 0 24px;
    column-gap: 20px;

    overflow: auto hidden;
    scroll-behavior: smooth;

    &.centerItems {
      justify-content: center;
    }

    .connectionLine {
      min-width: 32px;
      height: 2px;
      margin-top: 20px;
      background-color: $neutralGray5;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navigatorBtn {
    flex-basis: 24px;
    background-color: transparent;
    border: none;
    width: fit-content;
    min-width: unset;
    padding: 0;

    .navigatorIcon {
      width: 24px;
      height: 24px;
    }
  }
}
