@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  row-gap: 12px;
  margin: 0;
  border-radius: 8px;

  &:hover {
    background-color: $neutralGray3;
  }

  .stateContainer {
    .icon {
      display: block;
      height: 28px;
      width: 28px;

      &.iconEmpty {
        border-radius: 50%;
        border: 1px solid $neutralGray5;
        background-color: $neutralGray3;
      }

      &.confirmIcon {
        rect {
          fill: $labelOrange2;
        }
      }

      &.rejectIcon {
        path:first-child {
          fill: $neutralGray5;
        }
      }
    }
  }

  .date {
    @include textTemplate(16px, 600, 24px);
  }
}

.tooltipOverlay {
  opacity: 1;
}

.tooltipOverlay :global(.rc-tooltip-inner) {
  padding: 6px;
  border: none;
  background: $neutralGray1;
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}

.tooltipOverlay :global(.rc-tooltip-arrow) {
  display: none;
}
