@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin: 0;
  border-radius: 8px;

  @include viewportMedium {
    padding: 4px;
  }

  &:hover {
    background-color: $neutralGray3;
  }

  .stateContainer {
    .icon {
      display: block;
      height: 20px;
      width: 20px;

      @include viewportMedium {
        height: 28px;
        width: 28px;
      }

      &.iconEmpty {
        border-radius: 50%;
        border: 1px solid $neutralGray5;
        background-color: $neutralGray3;
      }

      &.confirmIcon {
        rect {
          fill: $labelOrange2;
        }
      }

      &.rejectIcon {
        path:first-child {
          fill: $neutralGray5;
        }
      }
    }
  }

  .date {
    @include textTemplate(12px, 600, 1.5);
    @include viewportMedium {
      @include textTemplate(16px, 600, 24px);
    }
  }
}

.tooltipOverlay {
  opacity: 1;
}

.tooltipOverlay :global(.rc-tooltip-inner) {
  padding: 6px;
  border: none;
  background: $neutralGray1;
  box-shadow: $boxShadowMD;
}

.tooltipOverlay :global(.rc-tooltip-arrow) {
  display: none;
}
