@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  padding: 6px;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  column-gap: 12px;
  min-height: unset;
  @include textTemplate(16px, 600, 24px);
  color: $neutralGray7;

  &:hover {
    svg {
      stroke: none;
      path {
        stroke: none;
      }
    }
  }

  .defaultIcon {
    width: 24px;
    height: 24px;
    border: 1px solid $neutralGray5;
    border-radius: 20px;
    background-color: $neutralGray3;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .confirmIcon {
    rect {
      fill: $labelOrange2;
    }
  }
  .rejectIcon {
    path:first-child {
      fill: $neutralGray5;
    }
  }

  .stateText {
    @include textTemplate(16px, 600, 24px);
  }
}

.modalTitle {
  color: $neutralGray7;
}
