@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  padding: 0;

  @include viewportLarge {
    padding: 0 24px 24px;
  }
}

.modal {
  background-color: $neutralGray1;

  @include viewportLarge {
    background-color: transparent;
    transition: none;
  }
}

.closedModal {
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  opacity: 1;
  background-color: $neutralGray1;
  transition: all 0.5s ease-in-out;

  @include viewportLarge {
    transition: none;
  }
}

.modalHeader {
  padding: 0 16px 20px;
  border-bottom: 1px solid $neutralGray5;

  .goBackContainer {
    display: flex;
    align-items: center;
    column-gap: 8px;

    cursor: pointer;

    @include textTemplate(16px, 700, 24px, '');
  }

  .modalTitle {
    @include textTemplate(24px, $fontWeightBold, 32px);
    margin-top: 28px;
  }
}

.goBack {
  @include textTemplate(16px, $fontWeightBold, 24px);
  cursor: pointer;
  @include flexAlign(center);
  gap: 8px;
  padding: 0 16px;

  @include viewportLarge {
    display: none;
  }
}

.restaurantInfor {
  @include flexAlign(flex-start);
  gap: 12px;
  padding: 0 16px;
  margin-top: 20px;

  @include viewportLarge {
    padding: 0 0 20px;
    border-bottom: 1px solid $neutralGray5;
  }

  .leftSide {
    .imageWrapper {
      width: 120px;
      height: 120px;
      position: relative;

      @include viewportLarge {
        width: 80px;
        height: 80px;
      }

      .image {
        border-radius: 8px;
      }
    }
  }

  .rightSide {
    @include flexAlign(flex-start, space-between);
    flex-direction: column;

    .restaurantName {
      @include textTemplate(12px, $fontWeightRegular, 16px);
      color: $neutralGray6;
    }

    .dishName {
      @include textTemplate(16px, $fontWeightBold, 24px);
      margin-top: 4px;
    }

    .time {
      @include textTemplate(10px, $fontWeightRegular, 16px);
      color: $neutralGray6;
      margin-top: 8px;
    }

    .rating {
      @include flexAlign(center);
      gap: 8px;
      margin-top: 10px;

      .iconFace {
        width: 28px;
        height: 28px;

        path {
          fill: $neutralGray7;
        }
      }

      .ratingText {
        @include textTemplate(16px, $fontWeightSemiBold, 20px);
      }
    }
  }
}

.reviewInfor {
  padding: 0 16px;
  margin-top: 20px;
  .rating {
    @include flexAlign(center);
    gap: 8px;
    margin-top: 10px;

    .iconFace {
      width: 20px;
      height: 20px;

      path {
        fill: $neutralGray7;
      }
    }

    .ratingText {
      @include textTemplate(14px, $fontWeightRegular, 20px);

      span {
        color: $neutralGray6;
      }
    }
  }
}

.detailReview {
  @include textTemplate(14px, $fontWeightRegular, 20px);
  padding: 0 16px;
  margin-top: 20px;
  white-space: break-spaces;
}

.imageList {
  @include flexAlign(center);
  gap: 12px;
  margin-top: 10px;
  overflow-x: auto;
  padding: 0 16px;
  height: 133px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.imageWrapper {
  position: relative;
  width: 206px;
  height: 123px;

  .reviewImage {
    width: 206px !important;
    height: 123px !important;
    border-radius: 8px;
    position: relative !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

.loading {
  @include flexCenter();
  height: 80vh;

  svg {
    stroke: $neutralGray7;
  }
}
