@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.form {
  margin: auto;
}

.fields {
  display: flex;
  gap: 20px;
  flex-direction: column;
  @include viewportMedium {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.field {
  @include viewportMedium {
    width: calc(50% - 20px);
  }
}

.formTitle {
  margin: 40px 0 40px 0;
  text-transform: uppercase;
}

.textareaField input {
  padding-bottom: 150px;
  min-height: 180px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

.button {
  float: right;
}

.formHeader {
  text-align: center;
  border-bottom: 1px solid $neutralGray5;
}

.successMessage {
  color: $sematicGreen2;
  font-weight: $fontWeightMedium;
}
