@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 32px;
  left: -64px;
  box-shadow: $boxShadow;
  width: 200px;
  z-index: 1;
  color: $neutralGray7;
  background-color: $neutralGray1;
  border-radius: 8px;

  &.isNotDesktop {
    position: relative;
    box-shadow: none;
    width: 100%;
    left: initial;
    top: 20px;
  }

  .item {
    padding: 8px 16px;
    @include flexAlign(center);
    gap: 12px;

    &:hover {
      @include viewportMedium {
        background-color: $neutralGray2;
      }

      .label {
        font-weight: 600;
      }
    }

    .label {
      @include lineClamp(2);
      font-weight: 400;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-child {
      &:hover {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.logo {
  position: relative;
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 100%;
  overflow: hidden;
}
