@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.checkAllLabel {
  display: flex;

  .label {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    @include textTemplate(12px, 400, 16px, '');
    color: $neutralGray5;

    :nth-child(2) {
      flex-basis: 50px;
    }
  }
}

.checkboxSvg {
}
