@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  @include flexAlign(center, space-between);
  width: 100%;
}

.rightButtons {
  display: flex;
  gap: 16px;
}

.modalContainer {
  max-width: 500px;
  top: 10vh !important;
}

.filterIcon {
  margin-right: 10px;
  fill: $neutralGray6;
}

.filterBtn {
  width: 160px;
  height: 48px;
  margin: 20px auto 0;
}

.filterButton {
  padding: 10px 20px 10px 20px;
  font-size: 14px;

  .filterIcon {
    width: 16px;
    height: 14px;
  }

  &:hover,
  &:focus {
    .filterIcon * {
      fill: $neutralGray1;
    }
  }
}

.formButtons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.rightButtons {
  display: flex;
  gap: 10px;
}

.filterForm {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.clearButton {
  border: none;
  color: $neutralGray5;
  padding-bottom: 1px;
  text-align: right;
  font-size: 14px;
  font-weight: $fontWeightBold;
  &:hover {
    color: $neutralGray6;
  }
}

.container {
  overflow: visible !important;
}

.tooltipOverlay {
  padding: 20px 0;
}
