@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.modalContainer.modalContainer {
  padding: 0;
}

.modal {
  background-color: $neutralGray1;
}

.closedModal {
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  opacity: 1;
  background-color: $neutralGray1;
  transition: all 0.5s ease-in-out;
}

.modalHeader {
  padding: 0 16px 20px;
  border-bottom: 1px solid $neutralGray4;

  .goBackContainer {
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    @include textTemplate(16px, $fontWeightBold, 24px);
  }

  .modalTitle {
    @include textTemplate(24px, $fontWeightBold, 32px);
    margin-top: 28px;
    text-transform: capitalize;
  }
}

.modalContent {
  margin-top: 20px;
  padding: 0 16px 20px;
}
