@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.editViewRoot {
  $maxWidthWithPadding: calc(100vw - 320px - 40px);
  padding: 16px 16px 205px;
  display: flex;
  flex-direction: column;

  .titlePart {
    grid-column: 1 / span 2;
    order: 1;
    margin-bottom: 20px;

    @include viewportMedium {
      padding-top: 8px;
      margin-bottom: 8px;
    }
  }

  .infoPart {
    @include viewportMedium {
      order: 1;
    }
  }

  .autoPickingPart {
    margin-top: 20px;
  }

  .leftPart,
  .rightPart {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .leftPart {
    order: 2;

    @include viewportMedium {
      order: 3;
      margin-top: 24px;
    }

    @include viewportLarge {
      order: 2;
      margin-top: 0;
      width: min(820px, calc($maxWidthWithPadding - 72px));
    }

    @include viewportSLarge {
      max-width: 820px;
    }
  }

  .rightPart {
    order: 3;

    @include viewportMedium {
      order: 2;
      height: fit-content;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, calc(50% - 12px));
      grid-template-rows: auto auto auto;

      & > div:nth-child(1) {
        grid-area: 1/1/2/2;
      }
      & > div:nth-child(2) {
        grid-area: 2/1/3/2;
      }
      & > div:nth-child(3) {
        grid-area: 3/1/4/2;
      }
      & > div:nth-child(4) {
        grid-area: 1/2/3/3;
      }
    }

    @include viewportLarge {
      display: flex;
      flex-direction: column;
      flex-wrap: unset;
      order: 3;

      & > div {
        flex-basis: 1;
        max-width: 100%;
        height: fit-content;
      }
    }
  }

  @include viewportMedium {
    padding: 24px 16px;
  }

  @include viewportLarge {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 320px;
    max-width: calc(
      min(820px, 100vw - 320px - 40px - 72px) + 320px + 40px + 48px
    );
    column-gap: 40px;
    row-gap: 28px;
    padding: 24px;
    margin: 0 auto 40px;
  }

  @include viewportSLarge {
    padding: 40px 130px;
    max-width: calc(1180px + 130px * 2);
    margin: 0 calc(50vw - $sl/2) 40px;
  }

  &.editNormalOrderView {
    padding-bottom: 140px;
    @include viewportLarge {
      grid-template-columns: 1fr 820px 1fr;
      padding: 0 36px;
      row-gap: 40px;
    }

    @include viewportSLarge {
      padding: 0 130px;
      grid-template-columns: 140px 820px 140px;
      max-width: calc(1180px + 130px * 2);
      margin: 40px auto;
    }

    &.editNormalOrderViewWithHistorySection {
      display: flex;
    }

    .normalOrderSubOrderSection {
      min-width: 320px;
      max-width: 320px;
    }

    .titlePart {
      grid-column: 1 / span 3;
      max-width: 1180px;
    }
  }

  .lineItemsTableWithSubOrderSection {
    display: flex;
    width: 100%;
    order: 2;
    gap: 56px;
    flex-direction: column;
    align-items: flex-start;

    @include viewportMedium {
      flex-direction: row;
    }
  }
  .lineItemsTable {
    order: 2;
    grid-column: 2;
    grid-row: 2;
    $maxWidthWithPadding: calc(100vw - 320px - 40px);

    @include viewportLarge {
      margin: 0 auto;
      width: min(820px, calc($maxWidthWithPadding - 48px));
    }

    @include viewportLarge {
      width: min(820px, calc($maxWidthWithPadding - 72px));
    }

    @include viewportSLarge {
      max-width: 820px;
    }
  }
  .lineItemsTable {
    order: 2;
    gap: 56px;
    flex-direction: column;
    align-items: flex-start;
    @include viewportMedium {
      flex-direction: row;
    }
  }

  .loadingContainer {
    grid-column: 1 / span 2;
    order: 2;
    grid-row: 2;
    height: 720px;
    width: 100%;

    .loadingContent {
      width: 100%;
      height: 100%;
    }

    $maxWidthWithPadding: calc(820px + 320px);

    margin-top: 24px;

    @include viewportLarge {
      order: 1;
      margin-top: 0;
      height: 600px;
      width: min(calc($maxWidthWithPadding + 48px), calc(100vw - 48px));
    }

    @include viewportLarge {
      width: min(calc($maxWidthWithPadding + 72px), calc(100vw - 72px));
    }

    @include viewportSLarge {
      max-width: calc(1180px + 130px * 2);
    }
  }
}

.container {
  padding: 16px;
  border-radius: 16px;
  background-color: $neutralGray1;
  outline: 1px solid $neutralGray5;
  outline-offset: -1px;
  & > div:first-of-type {
    @include textTemplate(18px, 700, 4/3);
  }
}

.mobileContainer {
  @include viewportMedium {
    display: block;
    padding: 16px;
    border-radius: 16px;
    background-color: $neutralGray1;
    outline: 1px solid $neutralGray5;
    outline-offset: -1px;
    & > div:first-of-type {
      @include textTemplate(18px, 700, 4/3);
    }
  }
}

.confirmCancelOrderModalContainer.confirmCancelOrderModalContainer {
  padding: 16px;
  width: calc(100vw - 32px);

  @include viewportMedium {
    padding: 24px;
  }
}

.confirmCancelOrderModalHeader.confirmCancelOrderModalHeader {
  padding-top: 0;
}

.confirmCancelOrderModalChildren.confirmCancelOrderModalChildren {
  padding-bottom: 12px;

  @include viewportMedium {
    padding-bottom: 40px;
  }
}

.mobileTopActionPart {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.stepper {
  @include viewportMedium {
    width: 630px;
  }
}

.stepperContainerDesktop {
  display: none;
  @include viewportMedium {
    display: block;
    width: 630px;
    margin: 0 auto;
  }
}
