@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
  gap: 12px;
}

.submitBtn {
  width: 100%;

  @include viewportLarge {
    width: 300px;
  }
}

.cancelBtn {
  display: none;

  @include viewportLarge {
    width: 300px;
    display: block;
  }
}
