@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.container {
  position: sticky;
  top: 80px;
  border: 1px solid $neutralGray5;
  border-radius: 16px;
  padding: 16px 0;
  height: calc(100vh - 40px - 24px - 72px);
  background-color: $neutralGray1;

  @include viewportMedium {
    min-width: 295px;
  }
}
