@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.isOpen {
  width: 100%;
  z-index: 201;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;

  & .scrollLayer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
  }

  & .container {
    /* Create context so the close button can be positioned within it */
    position: relative;

    /* Display and dimensions */
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px;
    overflow-y: hidden;

    background-color: $neutralGray1;
    border-radius: 20px;
    border: none;

    @include viewportMedium {
      flex-basis: 600px;
      flex-grow: 0;
      min-height: auto;
      height: auto;
      padding: 0 36px 36px;
      opacity: 1;
    }

    @include viewportLarge {
      flex-basis: 900px;
    }
  }
}

.isClosed {
  display: none;
  will-change: opacity;
  opacity: 0;
  transition: all 500ms;

  & .container {
    @include viewportMedium {
      transform: translateY(-40%);
      transition: all 500ms;
      opacity: 0;
    }
  }
}

.close {
  z-index: calc($zIndexModal + 1);

  /* Safari didn't know how to baseline-align svg icon and text */
  display: flex;
  align-items: center;
  width: auto;

  /* Sizing (touch area) */
  margin: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  min-height: 24px;
}

.modalHeader {
  background-color: transparent;
  z-index: calc($zIndexModal + 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 8px;
}
.title {
  font-weight: $fontWeightBold;
  font-size: 20px;
  line-height: 32px;
}

.closeIcon {
  width: 24px;
  height: 24px;

  @include viewportLarge {
    width: 12px;
    height: 12px;
  }
}
.content {
}
