@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin cartColumnsLayout {
  padding: 4px 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 2%;

  @include viewportMedium {
    padding: 8px 16px;
  }

  & > div {
    word-break: break-word;
  }

  & > div:nth-of-type(1) {
    flex-basis: 30px;
    text-align: center;
  }
  & > div:nth-of-type(2) {
    flex-grow: 1;
  }
  & > div:nth-of-type(3) {
    flex-basis: 140px;
    text-align: right;
  }
}

.cartSection {
  padding-top: 11px;
  @include viewportMedium {
    padding-top: 20px;
  }

  .sectionTitle {
    @include textTemplate(9px, 700, 1.5);
    margin-bottom: 9px;

    @include viewportMedium {
      margin-bottom: 16px;
      font-size: 12px;
    }
  }

  .sectionContentContainer {
    border: 1px solid $neutralGray3;
    border-radius: 8px;
    overflow: hidden;

    .tableHead {
      @include cartColumnsLayout;
      background-color: $neutralGray6;
      @include textTemplate(8px, 700, 1.6);
      border-bottom: 1px solid $neutralGray5;
      color: $neutralGray1;

      @include viewportMedium {
        font-size: 10px;
      }
    }

    .tableRow {
      @include cartColumnsLayout;
      @include textTemplate(7px, 400, 1.5);
      border-bottom: 1px solid $neutralGray3;

      @include viewportMedium {
        font-size: 12px;
      }

      &:last-of-type {
        border-bottom: none;
        @include textTemplate(8px, 700, 10/7);

        @include viewportMedium {
          font-size: 14px;
        }
      }
    }
  }
}
