@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.infoContainer {
  position: relative;
  padding: 14px 0 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10%;

  @include viewportMedium {
    padding: 24px 0;
  }

  & > div {
    flex-basis: 45%;
    width: 45%;
  }

  &.partnerQuotation > div {
    flex-basis: unset;
    width: unset;
  }

  &::after {
    @include absolute(100%, 1px);
    bottom: 0;
    left: 0;

    background-color: $neutralGray6;
  }

  .sectionTitle {
    @include textTemplate(9px, 700, 1.5);
    margin-bottom: 5px;

    @include viewportMedium {
      font-size: 12px;
      margin-bottom: 8px;
    }
  }

  .sectionContent {
    @include textTemplate(9px, 300, 1.5);

    @include viewportMedium {
      font-size: 12px;
    }
    & > div span:first-of-type {
      font-weight: 600;
    }
  }
}
