@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin orderDetailColumnsLayout {
  padding: 4px 8px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 2%;

  @include viewportMedium {
    padding: 8px 16px;
  }

  & > div {
    word-break: break-word;
  }

  & > div:nth-of-type(1) {
    flex-basis: 30px;
    text-align: center;
  }
  & > div:nth-of-type(2) {
    flex-basis: 250px;
  }
  & > div:nth-of-type(3) {
    flex-basis: 50px;
    text-align: right;
  }
  & > div:nth-of-type(4) {
    flex-basis: 140px;
    text-align: right;
  }
}

.orderDetailSection {
  padding-top: 20px;

  .sectionTitle {
    @include textTemplate(9px, 700, 1.5);
    margin-bottom: 9px;

    @include viewportMedium {
      margin-bottom: 16px;
      font-size: 12px;
    }
  }

  .sectionContentContainer {
    border: 1px solid $neutralGray3;
    border-radius: 8px;
    overflow: hidden;

    .tableHead {
      @include orderDetailColumnsLayout;
      background-color: $neutralGray6;
      @include textTemplate(8px, 700, 16px);
      border-bottom: 1px solid $neutralGray5;
      color: $neutralGray1;

      @include viewportMedium {
        font-size: 10px;
      }
    }

    .tableRowGroup {
      &:last-of-type {
        border-radius: 0 0 8px 8px;

        .row:last-of-type {
          border-bottom: none;
        }
      }

      .groupTitle,
      .row {
        @include orderDetailColumnsLayout;
      }

      .groupTitle {
        background-color: $neutralGray3;
        @include textTemplate(7px, 700, 16px);
        @include viewportMedium {
          font-size: 12px;
        }

        .restaurantName {
          @include textTemplate(6px, 400, 16px);
          color: $neutralGray6;

          @include viewportMedium {
            font-size: 10px;
          }
        }
      }

      .row {
        @include textTemplate(7px, 400, 16px);
        transition: 0.25s linear;
        border-bottom: 1px solid $neutralGray3;

        @include viewportMedium {
          font-size: 12px;
        }
      }
    }
  }
}
