@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.timeOptionsWrapper {
  @include flexAlign(normal);
  flex-direction: column;
  gap: 8px;
  max-height: 400px;
  overflow-y: auto;

  .timeOption {
    @include textTemplate(16px, 600, 24px);
    color: $neutralGray6;
    padding: 12px 8px;

    &.active {
      color: $neutralGray7;
      font-weight: 700;
      background-color: $neutralGray3;
      border-radius: 8px;
    }
  }
}

.bottomBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 8px;

  .btn {
    width: 100%;
  }
}
