@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  border-bottom: 1px solid $neutralGray5;
  z-index: 2;
  width: 100%;
  background-color: $neutralGray1;
}

.navWrapper {
  @include flexAlign(center);
  margin: 0;
  list-style-type: none;
  gap: 24px;
  padding-left: 94px;

  .headerItem {
    @include flexAlign(center);
    color: $neutralGray6;
    height: 64px;
    padding: 20px 12px;
    position: relative;
    max-width: 240px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 2px;
      left: 50%;
      transition: 0.5s all;
    }

    &.active {
      position: relative;
      color: $neutralGray7;
      font-weight: 700;

      &::before {
        content: '';
        width: 100%;
        left: 0;
        background-color: $neutralGray7;
      }
      svg {
        path {
          fill: $neutralGray7;
        }
      }
    }

    &:hover {
      color: $neutralGray7;

      &::before {
        content: '';
        width: 100%;
        left: 0;
        background-color: $neutralGray7;
      }
      svg {
        path {
          fill: $neutralGray7;
        }
      }
    }

    svg {
      path {
        fill: $neutralGray6;
      }
    }

    .title {
      height: 24px;
    }
  }
}
