@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.fieldWrapper {
  margin-bottom: 16px;
}

.submitBtn {
  width: calc(100% - 32px);
  margin: 0 auto;
}

.forgotPassword {
  @include textTemplate(14px, $fontWeightSemiBold, 20px);
  color: $neutralGray5;
  margin-top: 12px;
}
