@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  /* 105px + 28px: top height; 20px: section margin: 20px section padding bottom */
  min-height: calc(100vh - 105px - 28px - 20px - 20px);
  min-height: calc(100dvh - 105px - 28px - 20px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fieldWrapper {
  margin-bottom: 16px;
}

.submitBtn {
  width: 100%;
  margin: 0 auto;
}

.forgotPassword {
  @include textTemplate(14px, $fontWeightSemiBold, 20px);
  color: $neutralGray5;
  margin-top: 12px;
  cursor: pointer;
}
