@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  border-radius: 8px;
  border: 1px solid #f5f5f5;
  background: $neutralGray1;
  padding: 16px;

  /* Shadown/LG */
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
    0px 8px 8px -4px rgba(16, 24, 40, 0.04);

  @include flexAlign(normal);
}

.leftSide {
  padding-right: 16px;
  border-right: 1px solid $neutralGray4;
  .option {
    @include textTemplate(14px, $fontWeightRegular, 20px);
    color: $neutralGray5;
    margin-bottom: 16px;
    cursor: pointer;
    white-space: nowrap;

    &.selected {
      color: #262626;
      font-weight: $fontWeightBold;
    }
  }
}

.rightSide {
  .bottomBtns {
    @include flexAlign(center, flex-end);
    gap: 8px;
    margin-top: 12px;
    button {
      font-size: 14px;
    }
  }
}
