@use '/src/styles/vars.scss' as *;

.recoveryLink {
  font-size: 14px;
  color: $neutralGray5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.field:nth-child(1) {
  margin-bottom: 10px;
}

.field {
  max-width: 312px;
}

.button {
  max-width: 164px;
}
