@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  width: 100%;
}
.table {
  margin-bottom: 48px;
  width: 100%;
  .header {
    width: 100%;
    padding-left: 12px;
    span {
      display: inline-block;
      @include text(12px, 16px);
      color: $neutralGray6;
    }
    span:nth-child(1) {
      width: 3%;
      min-width: 60px;
    }

    span:nth-child(2) {
      width: 5%;
      min-width: 80px;
      max-width: 240px;
      padding-right: 36px;
    }

    span:nth-child(3) {
      width: 20%;
      max-width: 240px;
      padding-right: 36px;
    }

    span:nth-child(4) {
      width: 50%;
    }

    .companyNameHeaderCol {
      display: inline-flex;
      align-items: center;
      gap: 12px;
    }
  }

  .tableBody {
    @include flexAlign(center);
    flex-direction: column;

    .noClientsFound {
      margin: 72px auto 0;

      svg {
        margin-bottom: 16px;
      }
    }
    .dataLoading {
      padding-top: 40px;
    }

    .bodyRow {
      position: relative;
      @include flexAlign(flex-start);
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $neutralGray3;
      padding-left: 12px;

      .bodyCell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include text(14px, 24px);
      }

      .mainRow {
        @include flexAlign(center);
        width: 100%;
        height: 52px;
        cursor: pointer;

        & > span {
          padding-right: 20px;
        }

        span:nth-child(1) {
          width: 3%;
          min-width: 60px;
        }

        & > span:nth-child(2) {
          width: 5%;
          min-width: 80px;
          max-width: 240px;
          padding-right: 36px;
        }

        & > span:nth-child(3) {
          width: 20%;
          max-width: 240px;
          padding-right: 36px;
        }

        & > span:nth-child(4) {
          width: 50%;
          padding-right: 0;
        }
      }

      .bookerList {
        padding: 16px 64px 12px;
        @include flexAlign(flex-start);
        gap: 24px;
        .bookerCard {
          padding: 12px 20px;
          border: 1px solid $neutralGray3;
          border-radius: 12px;
          cursor: pointer;

          &.selected {
            border-color: $neutralGray7;
            border-width: 1.5px;
            background-color: $neutralGray2;
          }

          .profile {
            @include flexAlign(center);

            .avatar {
              margin-right: 8px;
            }

            .name {
              @include text(14px, 20px);
              color: $neutralGray7;
              font-weight: $fontWeightBold;
              margin-left: 8px;
            }
          }

          .contact {
            .row {
              margin-top: 8px;
              @include flexAlign(center);

              svg {
                width: 12px;
                height: 12px;
              }

              div {
                color: $neutralGray6;
                margin-left: 8px;
                @include text(12px, 16px);
                width: 160px;
                overflow-x: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          .bookerRadio {
            display: none;
          }
        }
      }
    }

    .phoneEmail {
      @include flexAlign(flex-start);
      flex-direction: column;
    }
    .companyName {
      font-weight: $fontWeightBold;
      max-width: 100px;

      height: 64px;
    }

    .phone {
      color: $neutralGray7;
      @include text(14px, 20px);
    }

    .email {
      color: $neutralGray6;
      @include text(12px, 20px);
      margin-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  .paginationContainer {
    display: flex;

    align-items: flex-end;
  }
}

.loading {
  padding-left: 56px;
  padding-top: 12px;

  .loadingIcon {
    stroke: $neutralGray7;
  }
}

.submitBtnWrapper {
  @include flexAlign(center, flex-end);
  margin-top: 40px;

  .submitBtn {
    width: 252px;
  }
}

.sortIcon {
  cursor: pointer;
}
