@use '/src/styles/defaults.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  @include inputContainerStyles;
  @include viewportLarge {
    width: 100%;
  }

  & :global(.react-datepicker-popper) {
    z-index: $zIndexModal + 2;
  }

  & :global(.react-datepicker) {
    border: none;
    margin: 4px auto;
  }

  & :global(.react-datepicker__month) {
    text-align: center;
    margin: 0;
    padding: 0 8px;

    @include viewportMedium {
      padding: 0 15px;
    }
  }

  & :global(.react-datepicker__triangle) {
    &::after {
      border-bottom-color: $neutralGray1 !important;
    }
    &::before {
      border-bottom-color: $neutralGray5 !important;
    }
  }

  & :global(.react-datepicker__header) {
    background-color: $neutralGray1 !important;
    border-bottom: none;
    padding-bottom: 12px;
    padding-top: 0px;

    > div:first-child {
      padding: 12px 16px;
    }
  }
  & :global(.react-datepicker__day) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $fontFamily;
    margin: 0;
    width: min(calc(calc(100vw - 48px) / 7), 72px);
    height: 40px;

    @include viewportMedium {
      width: 40px;

      &:hover {
        border: 1px solid $neutralGray6;
        background-color: transparent;
        color: $neutralGray7;
      }
    }
  }

  & :global(.react-datepicker__day--selected),
  & :global(.react-datepicker__day--keyboard-selected) {
    background-color: $neutralGray1;
    color: #000;
    outline-color: $neutralGray4;
  }

  & :global(.react-datepicker__day--today) {
    border-radius: 4px;
    background-color: $neutralGray1;
    border: 1px solid $neutralGray7;
  }

  & :global(.react-datepicker__day-name) {
    color: $neutralGray6;
    width: min(calc(calc(100vw - 32px - 1.7rem * 2) / 7), 72px);

    @include viewportMedium {
      width: calc(40px - 0.2rem * 2);
    }
  }
  & :global(.react-datepicker-popper) {
    z-index: $zIndexModal + 2;
  }

  & :global(.react-datepicker__day--range-start) {
    &:not(.react-datepicker__day--in-range) {
      background: #262626;
      border-radius: 16px 0px 0px 16px;
      color: white;
    }
  }

  & :global(.react-datepicker__day--range-end) {
    &:not(.react-datepicker__day--in-range) {
      background: #262626;
      border-top-left-radius: current;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: current;
      color: white;
    }
  }

  & :global(.react-datepicker__day--in-range) {
    background: $labelBlue1;
    color: $neutralGray7;
    border-radius: 0;
  }

  & :global(.react-datepicker__day--in-selecting-range-start) {
    &:not(.react-datepicker__day--in-selecting-range) {
      background: #262626;
      border-radius: 16px 0px 0px 16px;
      color: white;
    }
  }

  & :global(.react-datepicker__day--in-selecting-range-end) {
    &:not(.react-datepicker__day--in-selecting-range) {
      background: #262626;
      border-radius: 0px 16px 16px 0px;
      color: white;
    }
  }

  & :global(.react-datepicker__day--in-selecting-range) {
    background: #262626;
    color: white;
    border-radius: 0;
  }

  & :global(.react-datepicker__day--outside-month) {
    visibility: hidden;
  }

  .fieldsWrapper {
    @include flexAlign(center, space-between);
    gap: 8px;
    padding: 8px 0;

    .input {
      width: 168px;
      min-height: 44px;

      @include viewportLarge {
        width: 143px;
      }

      &.inputError {
        outline: 1px solid $primaryPri2;
        outline-offset: -1px;
      }
    }
  }
}

.calendarHear {
  @include flexCenter;
  justify-content: space-between;
  padding: 8px 16px;
  .date {
    text-transform: capitalize;
    font-weight: $fontWeightBold;
    font-size: 16px;
    font-family: $fontFamily;
  }
  .arrow {
    width: 24px;
    cursor: pointer;
    height: auto;
    path {
      stroke: $neutralGray6;
    }
  }
}

.labelRoot {
  @include inputLabelStyles;
}
