@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;

.backButton {
  @include buttonColorSecondary;
  outline-color: $neutralGray5;
}

.buttons {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
}
