.formContainer {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 20px;
  order: 4;

  .emailField {
    flex-grow: 1;

    input {
      text-align: center;
    }
  }

  .submitButton {
    width: 87px;
    height: 44px;
    min-height: unset;
  }
}
