@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  flex: 1;
  min-width: $adminSidebarWidth;
  z-index: $adminSidebarzIndex;
  background-color: $matterColorLight;
  box-shadow: $boxShadow;
  position: fixed;
  left: -100%;
  transition: all 0.5s;
  &.menuOpen {
    left: 0;
  }
  @include viewportLarge {
    left: 0;
  }
}
