@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/defaults.scss' as *;

.container {
  width: 656px;
}

.fieldTitle {
  @include text(18px, 24px);
  font-weight: $fontWeightBold;
}

.fieldGroups {
  @include flexAlign(flex-start);
  gap: 36px;
  margin-top: 16px;

  &.column {
    flex-direction: column;
    align-items: flex-start;
  }
}

.customInput {
  width: 100%;
  input {
    @include inputStyles;
    width: 100%;
    padding-left: 48px !important;
  }
  &.placeholder {
    input {
      color: $formFieldPlaceholderColor;
    }
  }
}

.fieldSelect {
  width: 100%;
}

.customInput {
  outline: none !important;
  padding: 0 !important;
}

.tooltipOverlay {
  opacity: 1;
}

.tooltipOverlay :global(.rc-tooltip-inner) {
  opacity: 1;
  background-color: $neutralGray7;
}

.tooltipOverlay :global(.rc-tooltip-arrow) {
  border-color: $neutralGray7;
  border-right-color: $neutralGray1;
  border-left-color: $neutralGray1;
}

.iconWrapper {
  display: inline-flex;
}

.optionPlaceholder {
  color: $neutralGray5;
}
