@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/defaults.scss' as *;

.root {
  position: relative;
  height: initial;
  @include inputContainerStyles;
}

.dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: $neutralGray1;
  border: 1px solid $neutralGray5;
  width: 100%;
  max-height: 160px;
  overflow-y: scroll;
  box-shadow: $boxShadow;
  display: none;
  z-index: 100;
  &.isOpen {
    display: initial;
  }

  .item {
    height: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid $neutralGray5;
    padding: 0 10px;
    .itemLabel {
      width: 100%;
      cursor: pointer;
    }
    &:hover {
      background-color: $neutralGray2;
      cursor: pointer;
    }
  }
}

.pickedItem {
  display: inline-flex;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #d6e4ff;
  padding: 0 5px;
  font-size: 12px;
}

.labelRoot {
  font-size: 14px;
  line-height: 24px;
  color: $neutralGray7;
  margin-bottom: 8px;
  display: inline-block;
  display: flex;
}

.labelRequiredRedStar {
  color: #ff0000;
  font-weight: $fontWeightBold;
  margin-left: 2px;
}

.placeholder {
  color: $neutralGray5;
}
