@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  padding: 16px 16px 80px;
  position: relative;
  overflow: hidden;

  @include viewportMedium {
    padding: 0 24px;
  }
}

.title {
  @include textTemplate(20px, 700, 22px);
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 60px;
}

.mediaTitle {
  margin-bottom: 40px;
}

.navigationWrapper {
  @include flexAlign(unset, center);
  flex-direction: column;
  gap: 24px;

  @include viewportLarge {
    display: none;
  }

  .navigationItem {
    @include flexAlign(center, space-between);
    padding-bottom: 16px;
    border-bottom: 1px solid $neutralGray3;
    cursor: pointer;
  }

  .iconGroup {
    @include flexAlign(center);
    gap: 16px;

    svg {
      path {
        fill: $neutralGray6;
      }
    }
    span {
      @include textTemplate(16px, $fontWeightSemiBold, 24px);
    }
  }
}
