@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
}

.radioLabel {
  @include textTemplate(12px, 400, 16px, '');
  color: $neutralGray6;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radioInput {
  margin-right: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.rejectBtn {
  @include buttonColorSecondary;
  @include textTemplate(12px, 700, 20px, '');
  display: block;
  width: calc((100% - 8px) / 2);
  height: 36px;
  min-height: 36px;
  padding: 8px 4px;
}

.acceptBtn {
  @include textTemplate(12px, 700, 20px, '');
  display: block;
  width: calc((100% - 8px) / 2);
  height: 36px;
  min-height: 36px;
  padding: 8px 4px;
}

.spinnerClassName {
  stroke: $primaryPri2;
  width: 24px;
  height: 24px;
  stroke-width: 3px;
}
