@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.fieldGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
}

.radioLabel {
  @include textTemplate(12px, 400, 16px, '');
  color: $neutralGray7;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  padding-right: 8px;

  span {
    @include lineClamp(2);
  }
}

.radioInput {
  margin: 0;
  margin-right: 10px;
  flex-shrink: 0;
}

.spinnerClassName {
  stroke: $primaryPri2;
  width: 24px;
  height: 24px;
  stroke-width: 3px;
}

.sectionWrapper {
  @include flexAlign(center, space-between);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.btnReject,
.btn {
  @include textTemplate(14px, $fontWeightBold, 24px);
  width: 100%;
  min-height: 36px;
  padding: 6px 12px;

  @include viewportMedium {
    font-size: 12px;
    padding: 0;
  }
}

.btnReject {
  margin-top: 8px;
}

@media only screen and (max-width: 575px) {
  .sectionWrapper {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}
