@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  color: $neutralGray6;
  padding: 10px 0;
  font-size: 14px;
  fill: $neutralGray6;
  min-height: fit-content;
  border: 1px solid $neutralGray5;
  .iconAdd {
    border: 1px solid $neutralGray5;
    width: 16.67px;
    height: 16.67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 4px;
    svg {
      path {
        width: 8px;
        height: 8px;
      }
    }
  }
}
