@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
.root {
  @include bookerSidebarFormRoot;
}

.minPriceNote {
  @include textTemplate(12px, 400, 16px);
  color: $neutralGray6;
  margin-bottom: 14px;
}

.toggle {
  margin-bottom: 24px;
  gap: 15px;
}

.submitBtn {
  width: 100%;
}

.tooltipOverlay {
  :global(.rc-tooltip-content) {
    width: 224px;
  }
}
