@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
.root {
  @include bookerSidebarFormRoot;
}

.numberInput {
  margin-bottom: 24px;
}

.vndIcon {
  color: $neutralGray5;
  border-left: 1px solid $neutralGray5;
  padding: 0 16px;
}

.minPriceNote {
  @include textTemplate(12px, 400, 16px);
  color: $neutralGray6;
  margin-bottom: 14px;
}

.toggle {
  margin-bottom: 24px;
  gap: 15px;
}

.submitBtn {
  width: 100%;
}
