@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin redDot {
  position: absolute;
  top: -18px;
  right: -12px;
  width: 24px;
  height: 24px;
  background-color: $pink;
  border-radius: 100%;

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 100%;
    background: rgba(255, 186, 179, 0.3);
    animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
}

.slideModalContainer.slideModalContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 16px 16px 0px 0px;
  background-color: #ffffff;
  width: 100%;
  padding: 16px;

  @include viewportLarge {
    width: 300px;
    padding: 12px;
    border-radius: 16px;
    bottom: 38px;
    left: unset;
    right: 10%;
  }
}

.slideModalOpen {
  .slideModalScrollLayer {
    transition: opacity 0.3s ease-in-out;
  }
}
.slideModalClose {
  .slideModalScrollLayer {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
  }

  .slideModalContainer {
    bottom: -100%;
  }
}

.modalHeader {
  @include textTemplate(18px, 600, 28px);
  @include flexAlign(center, space-between);
  .closeIcon {
    width: 12px;
    height: 12px;
  }
  .secondRow {
    color: $primaryPri2;
  }
}

.modalContent {
  .horizontalLine {
    border-bottom: 1px solid $neutralGray5;
  }

  .sectionWrapper {
    padding: 16px 0;

    &.topSection {
      padding-top: 0;
    }

    @include viewportLarge {
      padding: 12px 0;
    }

    svg {
      margin-right: 4px;
    }

    .row {
      @include flexAlign(center, space-between);
      gap: 8px;
    }

    .orderTitle {
      @include textTemplate(12px, $fontWeightRegular, 16px);
    }

    .orderHour {
      @include textTemplate(12px, $fontWeightRegular, 16px);
    }

    .daySession {
      @include textTemplate(16px, $fontWeightSemiBold, 22px);
    }

    .orderStatus {
      margin: 4px 0;
    }

    .greyText {
      color: $neutralGray5;
    }

    .orderDeadline {
      @include textTemplate(12px, $fontWeightSemiBold, 16px);
      color: $primaryPri2;

      svg {
        path {
          fill: $primaryPri2;
        }
      }
    }

    .deliveryAddress {
      margin-top: 8px;
      @include textTemplate(12px, $fontWeightRegular, 16px);
    }

    .restaurantName {
      margin-top: 8px;
      @include textTemplate(12px, $fontWeightRegular, 16px);
    }

    .pickingTitle {
      @include textTemplate(14px, $fontWeightSemiBold, 24px);
    }

    .viewDetail {
      @include textTemplate(12px, $fontWeightSemiBold, 24px);
      color: $labelBlue2;
    }

    .fieldGroup {
      margin-top: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8px;
      row-gap: 4px;
      width: 100%;

      .checkboxItem {
        @include flexAlign(center);

        .radioInput {
          margin: 0;
          margin-right: 8px;
        }

        label {
          @include textTemplate(12px, $fontWeightRegular, 16px);
        }
      }
    }

    .btn {
      @include textTemplate(14px, $fontWeightBold, 24px);
      width: 100%;
      min-height: 36px;
      padding: 6px 12px;

      &.pickForMeBtn {
        margin-top: 12px;
      }
      &.confirmBtn {
        @include viewportLarge {
          padding: 6px 5px;
        }
      }
    }

    .lastBtn {
      margin-top: 12px;

      span {
        width: 100%;
      }
    }
  }
}

.redDotWrapper {
  position: fixed;
  z-index: 1000;
  .redDot {
    @include redDot;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes pulseRing {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}
