@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  @include bookerSidebarFormRoot;
}
.inputWrapper {
  margin-bottom: 24px;
}

.submitBtn {
  width: 100%;

  @include viewportLarge {
    margin-bottom: 400px;
  }
}
