@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.step {
  color: $neutralGray6;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -36px;
    transform: matrix(1, 0, 0, -1, 0, 0) rotate(45deg);
    border-width: 8px;
    border-style: solid;
    border-color: $neutralGray1;
    border-top-color: transparent;
    border-right-color: transparent;
  }
}

.stepTitle {
  @include textTemplate(16px, $fontWeightBold, 20px);
  margin-top: 8px;
}

.stepContent {
  margin-top: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid $neutralGray5;
  @include textTemplate(14px, 400, 18px);
}

.nextBtn {
  min-height: 40px;
  @include textTemplate(14px, $fontWeightBold, 24px);
  @include flexCenter;
  padding: 0;
  width: 92px;
  border-radius: 8px;
  color: $neutralGray1;
  background-color: $neutralGray7;
  cursor: pointer;
}

.skipBtn.skipBtn {
  @include textTemplate(12px, $fontWeightMedium, 16px);
  color: $neutralGray7;
  padding: 0;
  @include flexAlign(center);
  gap: 8px;
  cursor: pointer;

  svg {
    path {
      fill: $neutralGray7;
    }
  }
}

.mask {
  border-radius: 100%;
}
.highlightedMask {
  border-radius: 100%;
}
