@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.goBack {
  @include textTemplate(16px, $fontWeightBold, 24px);
  cursor: pointer;
  @include flexAlign(center);
  gap: 8px;
}

.targetTabsWrapper {
  margin-top: 24px;
}

.orderName,
.companyName {
  font-weight: 700;
  word-wrap: break-word;
}

.orderHeaderInforContainer {
  border-bottom: 1px solid $neutralGray5;
}

.idLabel {
  color: $labelBlue2;
  cursor: pointer;
  font-weight: $fontWeightBold;
}

.quotationWrapper {
  margin-top: 40px;
}

.tableWrapper {
  @include viewportMedium {
    max-width: calc(100vw - 350px);
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.table {
  @include viewportMedium {
    min-width: 1100px;
  }
}

.tableBodyCell {
  @include viewportMedium {
    &:nth-child(1) {
      max-width: 100px;
    }
    &:nth-child(2) {
      max-width: 150px;
    }
    &:nth-child(3) {
      width: 100%;
    }
  }
}
