@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/defaults.scss' as *;

.title {
  @include pageTitle;
}

.descriptionRow {
  max-width: 250px;
}

.tableBodyCell:nth-child(2) {
  width: 100px !important;
}

.tableBodyCell:nth-child(5) {
  width: 250px !important;
}

.idRow {
  font-weight: $fontWeightBold;
  color: $labelBlue2;
  @include lineClamp(3);
}

.actionBtn {
  display: inline-flex !important;
  margin: 0 10px;
}

.iconLoading {
  stroke: $neutralGray6;
}

.filterIcon {
  fill: $neutralGray7;
  width: 20px;
  margin-right: 10px;
}

.tableActions {
  display: flex;
  margin: 20px 0 40px 0;
  flex-direction: column;
  row-gap: 40px;
  @include viewportLarge {
    flex-direction: row;
    justify-content: space-between;
  }
}

.ctaButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include viewportLarge {
    flex-direction: row;
  }
}

.titleRow {
  min-width: 200px;
  display: block;
  color: $neutralGray7;
}

.secondaryButton {
  @include buttonColorSecondary;
  background-color: $neutralGray2;
  outline: 1px solid $neutralGray5;

  &:focus,
  &:hover {
    background-color: $neutralGray3;
    color: unset;
    border-color: unset;
  }
}

.filterButton {
  composes: secondaryButton;
}

.addButton {
  composes: secondaryButton;
  background-color: #000000;
  color: $neutralGray1;
}

.hidden {
  display: none;
}

.filterForm {
  max-width: 400px;
  padding: 50px 0 150px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.modal {
  top: 100px;
}

.input {
  margin-bottom: 30px;
  width: 100%;
}

.discardButton {
  composes: secondaryButton;
}

.rightButtons {
  display: flex;
  justify-content: flex-end;
}

.leftButton {
  composes: secondaryButton;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filteButtonActive {
  background-color: #ff4c38;
  color: $neutralGray1;
  border-color: #ff4c38;
  svg {
    fill: $neutralGray1;
  }
  &:focus,
  &:hover {
    background-color: #c0392b;
    color: #c0392b;
  }
}

.iconSpinner {
  stroke: $neutralGray6;
}

.buttonIcon {
  margin-right: 12px;
}

.lightButton {
  composes: secondaryButton;
  font-size: 14px;
}

.deletedFood {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.foodTitle {
  display: inline-flex;
  font-weight: $fontWeightBold;
  color: #000000;
}

.removeTitle {
  font-weight: $fontWeightBold;
  font-size: 20px;
  color: $neutralGray7;
  margin-bottom: 28px;
}

.removeContent {
  font-size: 14px;
  font-weight: $fontWeightRegular;
  color: $neutralGray6;
  margin: 0;
}

.removeButton {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $neutralGray7;
  font-weight: $fontWeightBold;
  font-size: 14px;
}

.disabled {
  color: $neutralGray6;
  path {
    fill: $neutralGray6;
  }
}

.link {
  button {
    font-size: 14px;
    width: 100%;
    outline: none;
    @include viewportLarge {
      width: unset;
    }
  }
}

.inputWrapper {
  position: relative;
}

.inputFile {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.fileLabel {
  width: 100%;
  min-height: 200px;
  border: 1px dashed $neutralGray6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $neutralGray6;
}

.importTitle {
  color: $neutralGray7;
  margin: 0 0 30px 0;
}

.importLabel {
  color: $neutralGray7;
  margin-bottom: 30px;
}

.downloadFileHere {
  color: $neutralGray6;
  a {
    color: $neutralGray7;
    font-weight: $fontWeightBold;
  }
}

.removeModalContent {
  padding: 5px 0 25px 0;
}

.tableWrapper {
  @include viewportMedium {
    max-width: calc(100vw - 350px);
    overflow-x: scroll;
    position: relative;
  }
}

.table {
  @include viewportMedium {
    min-width: 1440px;
  }
}

.googleSheetInput {
  @include inputStyles;
  width: 100%;
  margin-bottom: 20px;
}

.radioButton {
  margin-bottom: 20px;
  .inputWrapper {
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
  }
}

.deletedFood {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.filterTooltip {
  width: auto;
}

.hidden-all-images img {
  display: none;
}
