@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.formTitle {
  @include textTemplate(18px, $fontWeightBold, 24px);
  margin-top: 16px;

  @include viewportLarge {
    @include textTemplate(24px, $fontWeightBold, 32px);
    margin-top: 32px;
  }
}

.formContainer {
  margin: 24px auto;
  max-height: 40vh;
}

.form {
  @include flexAlign(center);
  gap: 12px;
  flex-wrap: wrap;
  padding-bottom: 200px;

  @include viewportLarge {
    justify-content: center;
    padding-bottom: 0;
  }
}

.loading {
  text-align: center;
}

.item {
  @include flexCenter;
  padding: 8px 16px;
  color: $neutralGray6;
  outline: 1px solid $neutralGray5;
  outline-offset: -1px;
  border-radius: 20px;
  cursor: pointer;

  &.selected {
    color: $neutralGray7;
    outline: 2px solid $neutralGray7;
    outline-offset: -2px;
  }
}
