@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  position: relative;
  padding-top: 10px;

  .header {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .badge {
      color: $labelBlue2;
      flex-shrink: 0;
    }
  }
}

.main {
  position: relative;
  left: 0;
  transition: 0.3s linear;
  opacity: 1;
  padding: 0 24px 28px;
}

.hideMain {
  position: absolute;
  left: -240px;
  opacity: 0;
}

.title {
  @include textTemplate(24px, 700, 32px);
  color: $neutralGray7;
  margin: 0;
  margin-right: 8px;
}

.navItem {
  padding: 20px 0 18px;
  max-width: 232px;

  @include textTemplate(16px, 700, 24px);
  color: $neutralGray7;
  cursor: pointer;
  word-break: break-all;
  border-bottom: 1px solid $neutralGray3;
  transition: 0.3s linear;

  .itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subText {
    @include textTemplate(12px, 400, 24px);
    color: $neutralGray7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }

  &:hover {
    background-color: $neutralGray2;
    padding-left: 12px;
  }

  .errorMessage {
    margin-top: 4px;
    @include textTemplate(12px, 400, 16px);
    color: $sematicRed2;
  }
}

.detailContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -280px;
  width: 100%;
  opacity: 0;
  transition: 0.3s linear;
  padding: 0 28px 28px;
}

.showDetailContent {
  position: relative;
  left: 0px;
  opacity: 1;
  max-height: 80vh;
}

.goBack {
  display: flex;
  margin-bottom: 16px;
}

.goBackClickArea {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  @include textTemplate(16px, 700, 24px);
}

.iconBack {
  margin-right: 15px;
}

.detailsTitle {
  @include textTemplate(20px, 700, 32px);
  margin-bottom: 24px;
  text-transform: capitalize;
}
