@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 8px;

  @include viewportMedium {
    border-radius: 16px;
    background: $sematicGreen1;
    padding: 16px;
  }

  @include viewportMedium {
    grid-column: span 2;
    flex-direction: row;
    gap: 36px;
  }

  @include viewportSLarge {
    gap: 48px;
  }
}

.column {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  row-gap: 4px;
  @include textTemplate(12px, 400);

  @include viewportMedium {
    flex-basis: calc((100% - 36px) / 2);
    @include textTemplate(14px, 400, 1.2);
  }
  @include viewportSLarge {
    flex-basis: calc((100% - 48px) / 2);
  }

  & > :first-child {
    flex-basis: 40px;
    flex-shrink: 0;
    width: 40px;
    height: auto;
  }

  .columnTitle {
    @include textTemplate(14px, 600);
    margin-bottom: 4px;

    @include viewportMedium {
      flex-basis: calc((100% - 36px) / 2);
      @include textTemplate(14px, 700, 1.4);
    }
  }

  .columnDescription {
    @include textTemplate(13px, 400, 1.2);
  }
}

.mobileModalContainer.mobileModalContainer {
  width: calc(100vw - 32px);
  padding: 24px 16px;
}

.mobileModalContent.mobileModalContent {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
