@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.formContainer {
  display: flex;
  row-gap: 20px;
  flex-direction: column;

  padding: 16px;
  border-radius: 8px;
  border: 1px solid $neutralGray3;

  @include viewportMedium {
    padding: 0;
    border-radius: 0;
    border: none;
  }

  @include viewportLarge {
    row-gap: 16px;
  }

  .fieldContainer {
    display: flex;
    flex-direction: column;

    width: 100%;

    @include viewportLarge {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .fieldLabel {
      display: inline-block;
      margin-bottom: 8px;

      @include viewportLarge {
        padding-top: 10px;
      }
    }

    .fieldInput {
      @include viewportLarge {
        width: calc(100% - 180px);
      }

      input {
        width: 100%;
      }
    }
  }
}
