@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  padding: 16px;
  background-color: $neutralGray1;

  @include viewportMedium {
    position: sticky;
    top: 85px;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
      0px 20px 24px -4px rgba(16, 24, 40, 0.1);
    border-radius: 16px;
  }

  &.isViewCartDetailMode {
    box-shadow: none;
    border-radius: 0;
    padding: 0;

    .makePaymentButton {
      display: none;
    }
  }
}

.title {
  @include textTemplate(20px, 700, 32px);
  display: none;

  @include viewportMedium {
    display: block;
  }

  &.adminTitle {
    font-size: 18px;
    text-transform: none;
  }

  &.hideTitle {
    display: none;
  }
}

.feeContainer {
  .feeItem {
    position: relative;
    padding: 12px 0 8px;
    &:first-of-type {
      padding-top: 0;
    }

    @include viewportMedium {
      padding: 24px 0 8px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;

      content: '';
      background-color: $neutralGray3;
    }

    .feeItemContainer {
      display: flex;
      justify-content: space-between;

      .label {
        @include textTemplate(12px, 600, 16px);
        display: flex;
        align-items: center;
        column-gap: 8px;

        .VATBadge {
          div {
            color: $neutralGray6;
          }
        }
      }

      .totalWithoutVATLabel,
      .fee {
        @include textTemplate(14px, 700, 20px);
      }

      &.VATItemContainer {
        color: $neutralGray6;
      }
    }

    .totalWithVATLabel {
      text-align: right;
      @include textTemplate(14px, 700, 20px);
      margin-bottom: 4px;
    }

    .totalWithVAT {
      text-align: right;
      @include textTemplate(24px, 700, 32px);
    }

    .totalDescription {
      margin-top: 4px;
      text-align: right;
      color: $neutralGray6;
      @include textTemplate(12px, 600, 16px);
    }
  }
}

.downloadPriceQuotation.downloadPriceQuotation {
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  min-height: unset;
  text-align: right;
  color: $labelBlue2;
  @include textTemplate(14px, 700, 24px);

  &:hover {
    background-color: transparent;
  }

  &.downloadingPriceQuotation {
    cursor: not-allowed;
  }
}

.makePaymentButton {
  width: 100%;

  @include viewportMedium {
    margin: 16px 0;
  }
}

.overflowPackageInfo {
  color: $sematicRed2;
  @include textTemplate(12px, 600, 16px);
}

.mobileBottomContainer {
  padding-bottom: 24px;
}

.mobileBottomContentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  .totalInfo,
  .viewCartDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .totalInfo {
    @include textTemplate(14px, 700, 20px);
    color: $neutralGray6;
    align-items: baseline;

    .totalWithVAT {
      @include textTemplate(20px, 700, 32px);
      color: $neutralGray7;
    }
  }

  .viewCartDetail {
    @include textTemplate(14px, 400, 20px);
    align-items: center;
  }
}

.priceQuotationModal.priceQuotationModal {
  z-index: -1;
  position: relative;
}
.priceQuotationModalOpen.priceQuotationModalOpen {
  z-index: 1;
}
.priceQuotationModalContainer.priceQuotationModalContainer {
  display: flex;
  row-gap: 16px;
  padding: 20px;
}

.scrollContainer {
  max-height: 400px;
  overflow: hidden auto;
}

.topBorder {
  border-top: 5px solid $neutralGray7;
  max-width: calc(100vw - 40px);
  margin: 0 auto;
}
.priceQuotation {
  padding: 13px 27px;
  border: 1px solid $neutralGray4;
  border-top: none;
  min-width: unset;
  max-width: calc(100vw - 40px);
}

.downloadPriceQuotationButton {
  margin-top: 16px;
  width: 100%;
}
