@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

@mixin avatarBase {
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  border-radius: 50%;

  /* Position possible initials to the center of the component */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors */
  background-image: linear-gradient(
    -180deg,
    $primaryPri2 0%,
    $primaryPri2 100%
  );

  color: $neutralGray1;
  position: relative;

  &:hover {
    text-decoration: none;
  }
}

/* Small Avatar */

.root {
  @include avatarBase;

  /* Layout */
  width: 40px;
  height: 40px;
}

.hasProfileImage {
  background-image: linear-gradient(
    -180deg,
    $neutralGray5 0%,
    $neutralGray5 100%
  );
}

.initials {
  font-size: 14px;
  font-weight: $fontWeightBold;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* Medium Avatar */

.mediumAvatar {
  @include avatarBase;

  /* Fixed dimensions */
  width: 60px;
  height: 60px;
}

.mediumAvatar .initials {
  font-size: 26px;
  font-weight: $fontWeightBold;
}

/* Large Avatar */

.largeAvatar {
  @include avatarBase;

  /* Fixed dimensions */
  width: 96px;
  height: 96px;
}

.largeAvatar .initials {
  font-size: 30px;
  font-weight: $fontWeightBold;
}

.bannedUserIcon {
  width: 100%;
  height: 100%;
}
