@use '/src/styles/customMediaQueries.scss' as *;

.root {
  padding: 16px 16px 210px;

  @include viewportMedium {
    padding-top: 24px;
  }

  @include viewportLarge {
    padding-top: 33px;
  }

  .titleSection {
    @include viewportMedium {
      padding: 0 24px;
      margin: 0 auto;
    }

    @include viewportLarge {
      max-width: 1252px;
      padding: 0 36px;
    }

    @include viewportSLarge {
      padding: 0 130px;
      max-width: calc(1180px + 130px * 2);
      margin: 0 calc(50vw - $sl/2);
    }
  }

  .reviewInfoContainer {
    padding: 0;

    @include viewportMedium {
      padding: 24px;
      margin: 0 auto;
    }

    @include viewportLarge {
      padding: 36px;
    }

    @include viewportSLarge {
      padding: 36px 130px;
      max-width: calc(1180px + 130px * 2);
      margin: 0 calc(50vw - $sl/2);
    }
  }
}
