@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
.root {
  @include textTemplate(14px, 400, 24px);

  .breadCrumb {
    margin-top: 32px;
    padding: 0 16px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    @include textTemplate(14px, 400, 20px);

    .arrowIcon {
      width: 16px;
      height: 16px;
    }

    .orderName {
      font-weight: 700;
    }
  }

  .subtitle {
    margin-top: 8px;
    padding: 0 16px;

    .contactNumber,
    .chatLink {
      font-weight: 700;
      color: $labelBlue2;
    }
  }
}
