@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  .tabLabel {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .count {
      @include textTemplate(8px, 700, 1);
      min-width: 16px;
      height: 16px;
      display: inline-block;
      padding: 4px;
      text-align: center;
      border-radius: 8px;
      color: $neutralGray6;
      background-color: $neutralGray3;
      @include textTemplate(8px, 400, 1);

      &.countActive {
        color: $neutralGray1;
        background-color: $neutralGray7;
      }
    }
  }

  table {
    word-break: break-word;

    .title {
      @include textTemplate(16px, 600, 24px);
      color: $labelBlue2;

      .createdByAmin {
        @include textTemplate(12px, 600, 16px);
        color: $neutralGray6;
      }
    }

    .location {
      @include textTemplate(16px, 400, 24px);
    }

    .orderType {
      @include textTemplate(16px, 400, 24px);
      max-width: 90px;
    }

    .restaurantName {
      @include textTemplate(14px, 400, 20px);

      .name {
        @include lineClamp(1);
      }
    }

    .action {
      display: flex;
      justify-content: center;
      flex-direction: column;

      & > button:first-child {
        @include buttonColorSecondary;
        outline-color: $neutralGray5;
      }
    }

    @include viewportLarge {
      .title {
        min-width: 90px;
      }

      .deliveryTime {
        max-width: 120px;
        @include textTemplate(16px, 400, 24px);

        .deliveryHour {
          font-weight: 600;
        }
      }

      .orderType {
        max-width: 95px;
      }

      .location {
        max-width: 150px;
        @include lineClamp(3);
      }

      .restaurantName {
        @include textTemplate(14px, 400, 20px);
        max-width: 130px;

        .remainText {
          font-weight: 700;
        }
      }

      .totalWithVAT {
        @include textTemplate(16px, 600, 24px);
        text-align: center;
        max-width: 180px;
      }

      .state {
        max-width: 120px;
        min-width: 120px;
      }

      .action {
        min-width: 120px;

        .actionButton {
          @include textTemplate(14px, 700, 24px);
          min-width: 100px;
          min-height: unset;
          padding: 6px 0;
          background-color: transparent;

          &:hover {
            background-color: $neutralGray1;
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
  }

  .tabContainer {
    position: relative;

    .tabHeader {
      @include viewportLargeWithPaddings {
        padding-bottom: 39px;
      }
    }

    .searchForm {
      right: 0;
      top: -8px;
      padding-bottom: 16px;

      @include viewportLargeWithPaddings {
        position: absolute;
      }
    }
  }

  .loading {
    height: 60vh;
    height: 60dvh;
  }
}

.orderDetailTooltip {
  background-color: $neutralGray1;
  &:global.rc-tooltip {
    opacity: 1 !important;
  }
}
