@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-bottom: 40px;
}

.mediaFieldGroup {
  position: relative;
  width: 100%;
}

.fieldAvatar {
  width: 118px;
  height: 118px;
  position: relative;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 1;
  background-color: $neutralGray1;
}

.fieldCover {
  width: 100%;
  max-width: 1440px;
  height: 250px;

  @include viewportLarge {
    height: 300px;
  }
}

.mediaFields {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  align-items: center;
  margin-bottom: 40px;
}

.mediaTitle {
  margin-bottom: 40px;
}

.flexFields {
  .fields {
    @include viewportLarge {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.fields {
  display: grid;
  margin-bottom: 40px;
  gap: 20px;
  @include viewportMedium {
    grid-template-columns: repeat(2, 1fr);
  }

  .field {
    &:nth-child(1) {
      margin-bottom: 20px;
    }
    @include viewportLarge {
      &:nth-child(1) {
        margin-bottom: 0;
      }
      flex: 0.5;
    }
  }
}

.vatButton,
.minPrice {
  margin-bottom: 20px;
}

.retaurantConfigFields {
  padding-left: 10px;
}

.btnWrapper {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}

.bankAccountWrapper {
  margin-top: 50px;
}

.label {
  font-size: 20px;
  font-weight: $fontWeightMedium;
}

.description {
  font-size: 14px;
  font-style: italic;
  @include viewportLarge {
    width: 40%;
  }
}

.currency {
  border-left: 1px solid $neutralGray5;
  padding: 0 15px;
}

.retaurantConfigLabel {
  font-weight: $fontWeightBold;
  margin-bottom: 20px;
}

.packagingLabel {
  margin: 30px 0 10px 0;
  font-style: italic;
}

.flexField {
  gap: 24px;
  display: flex;
  .minQuantity,
  .maxQuantity {
    width: 100%;
  }
}

.inputWithSuffix {
  padding-right: 70px;
}

.inputSuffixed {
  color: $neutralGray5;
  padding: 0 5px 0 10px;
  width: unset !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  border-left: 1px solid $neutralGray3;
}
