@use '/src/styles/vars.scss' as *;

.actionBtn {
  margin: 0 10px;
}

.menuContentTabLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuContentTabBadge {
  width: 17px;
  height: 16px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  color: $neutralGray6;
  justify-content: center;
  border-radius: 50%;
  font-size: 8px;

  &.isActive {
    background-color: #000;
    color: $neutralGray1;
  }
}

.draftBox {
  padding: 3px 5px;
  display: inline-flex;
  background-color: $labelOrange1;
  color: $labelOrange2;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 5px;
}

.row {
  color: $neutralGray7;
}

.loadingIcon {
  stroke: $neutralGray6;
}

.removeTitle {
  font-size: 20px;
  color: $neutralGray7;
  font-weight: $fontWeightBold;
}

.removeContent {
  color: $neutralGray6;
}

.menuTitle {
  display: inline;
  font-weight: $fontWeightBold;
  color: $neutralGray7;
}

.deletedMenu {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.preventRemoveMenuContainer {
  text-align: center;
  color: $neutralGray7;
  .preventRemoveMenuContent {
    font-weight: $fontWeightRegular;
  }
  .link {
    font-weight: $fontWeightBold;
    color: $neutralGray7;
  }
}
