@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  display: flex;
  align-items: center;
  gap: 20px;

  .switch {
    position: relative;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 36px;
    height: 18px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    background: $neutralGray4;
    border-radius: 9px;
    transition: background-color 0.25s linear;

    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      background-color: $neutralGray1;
      top: 2px;
      left: 2px;
      transition: background-color 0.25s linear, transform 0.25s linear;
    }
  }

  .switchInput {
    display: none;

    &:checked + .switch {
      background-color: $neutralGray6;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &:checked + .switch::after {
    }

    &:checked + .switch:hover {
      &::after {
        background-color: $neutralGray2;
      }
    }

    &:checked + .disabled {
      background: $neutralGray4;
      cursor: not-allowed;
    }

    & + .disabled {
      background: $neutralGray4;
      cursor: not-allowed;

      &::after {
        background-color: $neutralGray3;
      }
    }
  }

  .toggleLabel {
    font-size: 14px;
    font-weight: $fontWeightMedium;
    line-height: 24px;
    color: $neutralGray6;
  }
}
