@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.fieldLabel {
  @include text(15px, 24px);
  color: $neutralGray7;
}

.fieldGroups {
  @include flexCenter;
  gap: 12px;
  margin: 16px auto 0;
  width: 80%;
  flex-wrap: wrap;

  @include viewportLarge {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.dayItem {
  @include flexCenter;
  padding: 8px 16px;
  color: $neutralGray6;
  outline: 1px solid $neutralGray5;
  outline-offset: -1px;
  border-radius: 20px;
  cursor: pointer;

  &.selected {
    color: $neutralGray7;
    background-color: $neutralGray2;
    outline: 2px solid $neutralGray7;
    outline-offset: -2px;
  }

  &.disabled {
    cursor: not-allowed;
    color: $neutralGray6;
    outline: 1px solid $neutralGray5;
    opacity: 0.5;
    pointer-events: none;
  }
}
