@use '/src//styles/vars.scss' as *;
.addImageInput {
  display: none;
}

.root {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.previewImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.label {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px dashed $matterColor;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
}

.sessionPhoto {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  cursor: pointer;
}

.label {
  width: 100%;
  height: 100%;
}

.thumbnail {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: $matterColor; /* Loading BG color */
}

.iconUpload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  svg {
    width: 40px;
    height: 40px;
  }
  .uploadImageLabel {
    font-size: 10px;
  }
}

.removeButton {
  right: 7px;
  top: 7px;
  min-height: unset;
  position: absolute;
  width: 30px;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: $neutralGray4;
  svg {
    width: 15px;
  }
}

.thumbnailLoading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
