@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.form {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.fieldsContainer {
  display: flex;
  row-gap: 20px;
  flex-direction: column;

  /*
    * 58px: page Header
    * 20px + 40px: slide modal padding top + bottom
    * 12px: slide modal content padding
    * 12px: slide modal header
    * 48px: action buttons
    * 20px: section row gap
  */
  max-height: calc(100vh - 58px - 60px - 12px - 12px - 48px - 20px);
  overflow: hidden auto;
}

.fieldContainer {
  &:nth-of-type(3) {
    display: flex;
    row-gap: 8px;
    flex-direction: column;

    .fieldContainerRow {
      display: flex;
      gap: 8px;
      flex-direction: row;
      justify-content: space-between;

      @include viewportLarge {
        max-width: 300px;

        & > * {
          flex-basis: 132px;
        }
      }
    }
  }
}

.fieldCheckboxContainer {
  .label {
    @include textTemplate(14px, $fontWeightSemiBold, 20px);
  }

  .checkboxGroup {
    @include textTemplate(14px, $fontWeightRegular, 24px);
  }
}

.fieldLabel {
  color: $neutralGray6;
  @include textTemplate(14px, 600, 20px);
}

.btns {
  @include flexAlign(center);
  gap: 16px;
}

.clearFilterBtn {
  width: 100%;
}
.submitBtn {
  width: 100%;
  margin: 0 auto;
}
