@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  .goBackButton {
    padding: 12px 8px 12px 0;
    column-gap: 8px;
    align-items: center;
    min-height: unset;
    display: none;

    @include textTemplate(16px, 700, 24px);
    @include viewportMedium {
      display: flex;
    }
  }

  .title {
    @include textTemplate(24px, 700, 32px);
    margin-top: 32px;
    display: none;

    @include viewportMedium {
      display: block;
    }
  }
  .mobileTitle {
    @include textTemplate(18px, 700, 24px);
    display: block;

    @include viewportMedium {
      display: none;
    }
  }
}
