@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  padding: 10px 18px 20px;
  border-bottom: 1px solid $neutralGray3;
}

.label {
  @include textTemplate(14px, 700, 24px, '');
  color: $neutralGray7;
  margin-bottom: 7px;
  @include flexAlign(center, space-between);
}

.value {
  @include textTemplate(14px, 400, 24px, '');
  color: $neutralGray7;
  @include flexAlign(center);
  gap: 8px;
}

.icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.iconClose {
  cursor: pointer;
  width: 12px;
  height: 12px;
}
