@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  padding: 18px 0;
  border: 1px solid $neutralGray5;
  border-radius: 16px;

  .sectionHeader {
    padding: 0 18px;
    margin-bottom: 16px;
    .title {
      margin: 0 0 4px;
      @include textTemplate(18px, 700, 24px);
      color: $neutralGray7;
    }
    .selectedDay {
      margin: 0;
      padding-bottom: 4px;
      position: relative;
      @include textTemplate(14px, 400, 24px);
      color: $neutralGray6;
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 37px;
        height: 1px;
        background: $primaryPri2;
      }
    }
  }

  .sectionBody {
    padding: 8px 0 20px;
  }

  .sectionBodyEmpty {
    padding: 8px 0 0;
  }

  .autoSelect {
    @include textTemplate(14px, 700, 24px);
    padding: 6px 14px;
    display: inline-flex;
    align-items: center;
    min-height: 38px;
    height: 38px;
    border: 1px solid $neutralGray6;
    border-radius: 8px;
    color: $neutralGray7;
    margin-left: 16px;
    margin-bottom: 18px;

    &:not(:disabled):hover {
      background-color: $neutralGray5;
    }
  }

  .iconRefresh {
    margin-right: 8px;
    width: 20px;
    height: 20px;

    & > path {
      fill: $neutralGray7;
    }
  }

  .lineItemLoading {
    margin: 10px 18px;
    width: calc(100% - 36px);
  }

  .sectionFooter {
    padding: 18px 18px 0;

    .removeCartLabel {
      width: 100%;
      color: $neutralGray7;
      @include textTemplate(16px, 600, 24px);
      margin: 0;

      &:disabled {
        color: $neutralGray6;
      }
    }
  }

  .successModalContainer {
    width: calc(100vw - 32px);
    padding: 24px;

    & > div {
      padding: 0;
      margin: 0;
    }

    @include viewportMedium {
      width: 100%;
      max-width: 500px;
    }
  }

  .successModalTitle {
    text-align: center;
    margin: auto;
    font-weight: $fontWeightBold;
    font-size: 20px;
    line-height: 32px;
    margin-top: 32px;
  }

  .successModalImage {
    margin: 32px auto 0;
    @include flexCenter;
  }

  .successModalDescription {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .actionWrapper {
    @include flexCenter;
    flex-direction: column-reverse;
    gap: 8px;

    @include viewportSmall {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 28px;
    }

    .closeModal {
      width: 76px;
      margin-right: 28px;
    }

    .goToHomePage {
      width: 100%;
      @include viewportSmall {
        width: 228px;
      }
    }
  }
}

.orderEndAtLabel {
  font-weight: normal;
}
