@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  padding-top: 48px;
}

.content {
  @include formContainer;
  border-radius: 16px;

  margin: 0 auto;
  padding-top: 32px;
}

.loginButton {
  margin-top: 32px;
  width: 100%;
}
