.backgroundLight {
  stop-color: var(--bannedColorLight);
}

.backgroundDark {
  stop-color: var(--bannedColorDark);
}

.foregroundFill {
  fill: var(--neutralGray1);
}

.foregroundStroke {
  stroke: var(--neutralGray1);
}
