@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  margin-top: 8px;
  order: 4;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 12px;
  align-items: center;

  @include viewportMedium {
    align-items: flex-start;
  }

  .fieldParticipantIdError {
    margin-bottom: 0;
  }

  .fieldContainer {
    display: inline-block;
    flex: 1 1 100%;

    @include viewportMedium {
      flex: unset;
    }

    .fieldSelect {
      display: inline-block;
      width: 100%;

      .fieldSelectMenu {
        max-height: 200px;
      }

      @include viewportMedium {
        width: 240px;
      }

      .fieldSelectDropdownWrapper {
        max-height: calc(44px * 3);

        @include viewportMedium {
          max-height: 200px;
        }
      }
    }
  }

  .submitButton {
    display: inline-block;
    min-height: unset;
    height: 44px;
    flex: 1 1 100%;
    display: none;

    @include viewportMedium {
      flex: unset;
      flex-basis: 80px;
    }
  }

  .formError {
    margin-top: 6px;
    margin-bottom: 12px;
    color: $sematicRed2;
    overflow: hidden;
    font-size: 12px;
    font-weight: $fontWeightRegular;

    @include viewportMedium {
      margin-top: 6px;
      margin-bottom: 10px;
    }
  }
}

.mobileSubmitButton {
  width: 100%;
  margin-top: 24px;

  @include viewportMedium {
    display: none;
  }
}

.addRequirementContainer {
  .toggleRequirementBtn {
    margin-top: 8px;
    padding: 12px 0;
  }

  .buttonContent {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
}

.error {
  font-weight: $fontWeightRegular;
  font-size: 12px;
}

.fieldSelectWrapper {
  margin-top: 0;
}
