@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.root {
  @include viewportMedium {
    padding-top: 24px;
  }
}

.fieldOnRow {
  display: flex;
  flex-direction: row;
  gap: 12px 16px;
  flex-wrap: wrap;

  .input {
    width: 100%;

    @include viewportMedium {
      width: 240px;
    }
  }
}

.buttonContainer {
  margin-top: 8px;
  padding-left: 0px;

  .buttonContent {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
}

.fieldRequirementContainer {
  margin-top: 24px;

  textarea {
    resize: vertical;
  }
}

.submitButtonContainer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  @include viewportMedium {
    margin-top: 45px;
  }

  .submitButton {
    width: 100%;

    @include viewportMedium {
      width: unset;
      min-width: 134px;
    }
  }
}

.errorText {
  margin-top: 4px;
  color: $sematicRed2;
  font-size: 12px;
}
