@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.subTitle {
  @include textTemplate(14px, 400, 20px);
  color: $neutralGray6;
  display: none;

  @include viewportMedium {
    display: block;
  }

  b {
    color: $neutralGray7;
  }
}

.modalContainer {
  height: 360px;
}

.mobileModalContent.mobileModalContent {
  padding-top: 24px;
}
