@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.label {
  @include textTemplate(14px, $fontWeightRegular, 20px);
}
.outSideContainer {
  width: unset;
}

.dropdownContainer {
  @include flexAlign(center, space-between);
  padding-left: 12px;
  gap: 12px;
  position: relative;
  border-left: 1px solid $neutralGray3;

  .percentage {
    color: $neutralGray6;
  }

  .maxOption {
    color: $labelBlue2;
    text-decoration: underline;
  }

  .percentageRow {
    padding: 8px 16px;

    &:hover {
      background-color: $neutralGray2;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dropdownWrapper {
    position: absolute;
    top: 24px;
    left: 0;
    background-color: $neutralGray1;
    box-shadow: $boxShadowMD;
    border-radius: 4px;
  }
}

.rightIcon {
  right: 36px !important;
  z-index: 1;

  &.rightIconActive {
    z-index: 2;
  }
}

.textArea {
  margin-top: 12px;
}

.submitBtn {
  margin-top: 28px;
  width: 100%;
}

.error {
  margin-top: 12px;
  color: $primaryPri2;
}
