@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  position: relative;

  .selectedValue {
    @include flexAlign(center, space-between);
    height: 44px;
    border: 1px solid $neutralGray5;
    border-radius: 8px;
    min-width: 207px;
    padding: 0 16px;
  }
  .optionsWrapper {
    visibility: hidden;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $neutralGray1;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: $boxShadowMD;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.open {
      opacity: 1;
      visibility: visible;
    }

    .option {
      height: 44px;
      @include flexAlign(center, flex-start);
      padding-left: 16px;
      cursor: pointer;
      &:hover {
        background-color: $neutralGray3;
      }
      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}
