@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;

.container {
  top: 110px;
  width: fit-content;
}

#bottomCenterToast {
  :global .Toastify__toast-container {
    width: unset;

    .Toastify__toast {
      min-width: unset;
      @include viewportSmall {
        min-width: 400px;
      }
    }
  }
}

.bottomCenterContainer * {
  font-family: inherit;
  font-size: 14px;
}
