@use '/src/styles/mixins.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  button {
    min-height: unset;
  }

  .head {
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $neutralGray7;
    @include textTemplate(16px, 700, 24px);
    border-bottom: 1px solid $neutralGray3;

    .closeIconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      .closeIcon {
        & path {
          fill: $neutralGray6;
        }
        width: 14px;
        height: 14px;
      }
    }
  }
  .container {
    @include viewportLarge {
      overflow: hidden auto;
      width: 440px;
      height: min(50vh, 690px);
    }
  }

  .bottom {
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid $neutralGray3;

    .markAllViewedBtn {
      padding: 4px;
    }
  }
}

.modalContainer.modalContainer {
  padding: 0;
}

.header {
  @include flexAlign(center, space-between);
  padding: 16px 16px;

  .title {
    @include textTemplate(18px, 700, 24px);
  }
}
