@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  flex: 1;
  height: fit-content;
  position: fixed;
  top: 0;
  height: $adminTopbarHeight;
  width: 100%;
  left: 0;
  background-color: $neutralGray1;
  border-bottom: 1px solid #f0f0f0;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;

  @include viewportMedium {
    padding: 0 28px;
  }

  .headerRightWrapper {
    display: none;
    @include viewportMedium {
      display: block;
    }

    .headerRight {
      .logo {
        width: unset;
        height: 36px;
      }
    }
  }

  .headerLeftMobile {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;

    @include textTemplate(14px, 600, 20px);

    @include viewportMedium {
      display: none;
    }
  }

  .headerLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .actionContainer {
      display: flex;
      flex-direction: row;
      column-gap: 26px;
      position: relative;

      .notificationModal {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        background-color: $neutralGray1;
        box-shadow: $boxShadow;
        border-radius: 8px;
        display: none;

        &.isOpen {
          display: block;
        }
        @include viewportLarge {
        }
      }
    }

    .line {
      display: none;
      height: 30px;
      width: 1px;
      margin: 0 26px;
      background-color: $neutralGray5;

      @include viewportMedium {
        display: block;
      }
    }

    .profileMenuContent {
      width: 200px;
      border-radius: 10px;
      margin-top: 10px;
    }

    .iconBell {
    }

    .iconMail {
      & path {
        fill: $neutralGray7;
      }
    }

    .notiIcon {
      position: relative;
    }

    .notiDot {
      position: absolute;
      top: 6px;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      min-width: 16px;
      color: $neutralGray1;
      padding: 1px 2px;
      height: 16px;
      border-radius: 8px;
      background-color: $primaryPri2;
      border: 1px solid $neutralGray1;

      @include textTemplate(10px, 400, 1);
    }

    .profileMenuWrapper {
      display: flex;
      align-items: center;
      .avatar {
        margin-right: 8px;
        background-color: $primaryPri2;
        color: $neutralGray1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .displayName {
        margin-right: 11.5px;
      }
    }
  }
}

.tooltipOverlay {
  opacity: 1 !important;
}

.tooltipOverlay :global(.rc-tooltip-inner) {
  border-radius: 8px;
  background: $neutralGray1;

  box-shadow: 0px 20px 24px 4px rgba(16, 24, 40, 0.1),
    0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  padding: 0;
}
