@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.container {
  border-radius: 8px;
  border: 1px solid $neutralGray4;
  background: $neutralGray1;
  color: $neutralGray7;

  .cardHeader {
    @include flexAlign(center, space-between);
    padding: 8px 16px;

    .title {
      @include lineClamp(1);
      @include textTemplate(14px, $fontWeightSemiBold, 20px);

      .createdByPITO {
        @include textTemplate(12px, 600, 16px);
        color: $neutralGray6;
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  .cardContent {
    @include flexAlign(center, space-between);
    padding: 8px 16px;
    font-size: 14px;

    .iconReceipt {
      width: 20px;
      height: 20px;
    }

    .flexRow {
      @include flexAlign(center);
      gap: 8px;
      flex: 1;
      @include textTemplate(14px, 700, 20px);
    }
  }

  .cardFooter {
    @include flexAlign(center);
    padding: 8px 16px 12px;
    gap: 8px;
    font-size: 14px;

    .iconClock {
      width: 20px;
      height: 20px;
    }

    .verticalDevider {
      border-left: 1px solid $neutralGray5;
      height: 20px;
    }
  }
}
