@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container {
  margin-top: 24px;
  @include flexAlign(flex-start);
  gap: 20px;

  .leftCol {
    width: calc(100% - 300px);
    flex-basis: calc(100% - 300px);

    .clientTitle {
      @include textTemplate(18px, $fontWeightBold, 24px);
      height: 40px;
    }

    .tabItem {
      max-width: 100px;
      overflow: hidden;
      & div {
        width: 100%;
        @include lineClamp(1);
      }
    }

    .tabActiveItem {
      max-width: unset;
    }
  }

  .rightCol {
    width: 300px;
    flex-shrink: 0;
    margin-top: 40px;
  }
}
