@use '/src/styles/vars.scss' as *;

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 20px;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    background-color: $neutralGray6;
    width: 100%;
  }

  .row {
    display: flex;
    column-gap: 8px;

    margin-bottom: 10px;
  }
}
