@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
}

.sectionOrderNotify {
  background-color: $neutralGray4;
  color: $neutralGray6;
  @include textTemplate(14px, 400, 24px, '');
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 16px;
}
.sectionMainOrder {
  .sectionMainOrderHeader {
    margin-bottom: 10px;
  }
  .sectionMainOrderListings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    .listingCard {
      width: 100%;
      margin-bottom: 24px;

      @include viewportMedium {
        width: calc(100% / 2 - 10px);
      }

      @include viewportLarge {
        width: calc(100% / 3 - 40px / 3);
      }
    }
  }
}

.tabTitle {
  display: inline-flex;
  align-items: center;
}

.tabTitleIcon {
  margin-left: 7px;
}

.dishSelectionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.loadTitle {
  height: 24px;
  width: 70px;
}

.loading {
  width: 300px;
  height: 300px;
}

.tabActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.notJoinThisDay {
  @include textTemplate(12px, 700, 20px, '');
  color: $neutralGray5;
  display: inline-flex;
  align-items: center;
}

.iconNotJoined {
  margin-right: 8px;

  & > path {
    fill: $neutralGray5;
  }
}
