@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  .leftNavigation,
  .rightNavigation {
    margin: 0;
    flex-basis: 32px;
    min-width: 32px;
    height: 32px;
    padding: 4px;

    button {
      margin: 0;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .leftNavigation {
    border-right: 1px solid $neutralGray3;
    margin-right: 16px;
  }

  .rightNavigation {
    border-left: 1px solid $neutralGray3;
    margin-left: 16px;
  }
}

.sectionOrderNotify {
  background-color: $neutralGray3;
  color: $neutralGray7;
  @include textTemplate(14px, 400, 20px, '');
  border-radius: 10px;

  padding: 6px 10px;
  margin-bottom: 16px;

  @include viewportMedium {
    border-radius: 4px;
    line-height: 24px;
  }
}
.sectionMainOrder {
  .sectionMainOrderHeader {
    margin-bottom: 24px;
  }
  .sectionMainOrderListings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    align-items: stretch;

    @include viewportLarge {
      grid-template-columns: repeat(3, 1fr);
    }

    .listingCard {
      width: 100%;
      height: 100%;
    }
  }
}

.tabTitle {
  display: inline-flex;
  align-items: center;
}

.tabTitleIcon {
  margin-left: 7px;
}

.dishSelectionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.loadTitle {
  height: 24px;
  width: 70px;
}

.loading {
  width: 100%;
  height: 320px;

  @include viewportMedium {
    height: 300px;
    margin-bottom: 20px;
  }
}

.tabActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.autoSelect,
.notJoinThisDay {
  @include textTemplate(12px, 700, 20px, '');
  padding: 10px 20px;
  color: $neutralGray6;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  min-height: 44px;
  height: 44px;
  flex: 1;
  max-width: 180px;

  &:hover {
    background-color: $neutralGray5;
  }
}

.autoSelect {
  border: 1px solid $neutralGray7 !important;
  color: $neutralGray7 !important;
  margin-right: 16px;

  .iconRefresh {
    min-width: 20px;
    min-height: 20px;

    & path {
      fill: $neutralGray7;
    }
  }
}

.iconNotJoined {
  min-width: 16px;
  min-height: 16px;

  & > path {
    fill: $neutralGray7;
  }
}
