@use '/src/styles/vars.scss' as *;

.root {
  margin-top: $adminTopbarHeight;
  margin-left: $adminSidebarWidth;
  background-color: $neutralGray2;
  min-height: 100vh;
  border-radius: 3px;
  padding: 30px;
}

.container {
  background-color: $matterColorLight;
  border-radius: 6px;
  padding: 50px;
  box-shadow: $boxShadowPopup;
}
