@use '/src/styles/vars.scss' as *;

.root {
  background-color: $neutralGray1;
  border-radius: 8px;
  box-shadow: 0px 8px 8px 0px rgba(140, 140, 218, 0.08);
  margin-bottom: 12px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;

  .arrowIcon {
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;

  .timeContainer {
    display: flex;
    column-gap: 8px;
  }
}

.actionContainer {
  padding: 8px 16px 12px;
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;

  .iconContainer {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $neutralGray3;
    border-radius: 100px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .isActiveField {
    margin-left: 4px;
  }
}
