@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.fieldTitle {
  @include text(18px, 24px);
  font-weight: $fontWeightBold;
}

.fieldGroup {
  margin-top: 16px;
}
.numberInput {
  width: 400px;

  input {
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      // -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
      // -moz-appearance: textfield;
    }
  }
}
.vndIcon {
  border-left: 1px solid $neutralGray5;
  padding: 0 16px;
}

.toggle {
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 15px;
}
