@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.alertMessage {
  @include textTemplate(14px, 700, 20px);
}

.formRoot {
  padding: 16px 16px 48px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  button {
    width: 100%;
  }

  @include viewportMedium {
    padding: 0;
    row-gap: 28px;
    margin-top: 20px;
  }
}

.label {
  @include textTemplate(14px, 600, 20px);
  margin-bottom: 8px;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include viewportMedium {
    grid-template-columns: repeat(5, 1fr);
  }
}
