@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  padding: 12px;
  background-color: $neutralGray3;
  border-radius: 8px;
}

.header {
  font-weight: $fontWeightBold;
}

.foodList {
  @include flexAlign(center);
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  max-height: 400px;
  overflow-y: auto;

  .foodItem {
    padding: 8px;
    background-color: $neutralGray1;
    border-radius: 8px;
    width: 100%;
    position: relative;

    .name {
      @include textTemplate(14px, $fontWeightBold, 24px);
    }

    .sideDishWrapper {
      color: $neutralGray5;
      @include textTemplate(12px, $fontWeightRegular, 16px);

      .sideDish {
        font-weight: $fontWeightSemiBold;
      }
    }

    .iconClose {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
    }

    &.new {
      box-shadow: $boxShadowMD;
    }
  }
}
