@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.sectionCompanyBranding {
  display: flex;
  align-items: center;
  gap: 8px;
}
.companyTitle {
  @include textTemplate(24px, 700, 32px, '');
  color: $neutralGray7;
}

.avatarSkeleton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.companyTitleSkeleton {
  width: 200px;
  height: 32px;
  border-radius: 8px;
}

.container {
  margin-top: -50px;

  @include viewportMedium {
    height: calc(100vh - 350px);
  }
}

.subOrderContainer {
  margin-top: 18px;
}
