@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;

.root {
  @include bookerSidebarFormRoot;
}

.inputWrapper {
  margin-bottom: 24px;
}

.inputWrapper .rightIconContainer {
  width: 68px;
  right: 0;
}

.rightIcon {
  color: $neutralGray5;
  border-left: 1px solid $neutralGray5;
  padding: 0 12px;
}

.submitBtn {
  width: 100%;
}
