@use '/src/styles/vars.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.sectionWrapper {
  @include flexAlign(center, space-between);

  .sectionTitle {
    @include textTemplate(18px, $fontWeightBold, 24px);
  }

  .iconWrapper {
    @include flexCenter;
    width: 40px;
    height: 40px;
    background-color: $neutralGray3;
    border-radius: 100%;
    position: relative;
    cursor: pointer;

    .notiNumber {
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
      height: 18px;
      border: 2px solid $neutralGray1;
      border-radius: 100%;
      background-color: $primaryPri2;
      color: $neutralGray1;
      @include flexCenter;
      @include textTemplate(10px, $fontWeightRegular, 12px);
    }
  }
}

.notificationWrapper {
  position: relative;

  .notificationTooltip {
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    max-height: 570px;
    overflow: auto;
    padding: 16px;
    border-radius: 16px;
    background-color: $neutralGray1;
    z-index: 1;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
      0px 20px 24px -4px rgba(16, 24, 40, 0.1);
  }
}
